<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500">
  <nz-page-header nzBackIcon nzTitle="Home Def">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>Home Define</nz-breadcrumb-item>
      <nz-breadcrumb-item>List View</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-page-header-content>
      <div class="wrap">
        <div class="content">
          <div class="content">
            <p nz-paragraph>
              Home Define List View which current user can view.
            </p>
            <div>
              <nz-table #basicTable [nzData]="dataSource">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Host</th>
                    <th>Currency</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of basicTable.data">
                    <td>
                      <span>{{ row.ID }}</span>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="onChooseHome(row)" *ngIf="!IsCurrentHomeChosed">Choose</a>
                      <a (click)="onDisplayHome(row)" *ngIf="IsCurrentHomeChosed">Display</a>
                    </td>
                    <td>{{ row.Name }}</td>
                    <td>{{ row.CreatorDisplayAs }}</td>
                    <td>{{ row.BaseCurrency }}</td>
                    <td>{{ row.Details }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-spin>
