<nz-spin [nzSpinning]="isLoadingResults">
  <nz-page-header nzBackIcon nzTitle="Home Def">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>{{'Nav.HomeList' | transloco}}</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-page-header-content>
      <div class="wrap">
        <div class="content">
          <div class="content">
            <p nz-paragraph>
              {{'Common.RequireChooseHome' | transloco}}
            </p>
            <div>
              <nz-table #basicTable [nzData]="dataSource">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>{{'Common.Name' | transloco}}</th>
                    <th>{{'Common.Host' | transloco}}</th>
                    <th>{{'Finance.Currency' | transloco}}</th>
                    <th>{{'Common.Detail' | transloco}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of basicTable.data">
                    <td>
                      <span>{{ row.ID }}</span>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="onChooseHome(row)" *ngIf="!IsCurrentHomeChosed">{{'Common.ChooseThisHome' | transloco}}</a>
                      <a (click)="onDisplayHome(row)" *ngIf="IsCurrentHomeChosed">{{'Common.DisplayDetails' | transloco}}</a>
                    </td>
                    <td>{{ row.Name }}</td>
                    <td>{{ row.CreatorDisplayAs }}</td>
                    <td>{{ row.BaseCurrency }}</td>
                    <td>{{ row.Details }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-spin>
