<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Learning.QuestionBank' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="demo-full-width">
      <mat-select placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.QBType"
        name="ltype">
        <mat-option *ngFor="let qbt of _uiService.QuestionBankTypeStrings" [value]="qbt.value">
          {{qbt.i18nterm | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
        
    <mat-form-field class="demo-full-width">
      <textarea matInput placeholder="{{'Learning.Question' | translate}}" #qtn maxlength="100" 
        [disabled]="!isFieldChangable" [(ngModel)]="detailObject.Question"></textarea>
        <mat-hint align="end">{{qtn.value.length}} / 100</mat-hint>
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <textarea matInput placeholder="{{'Learning.BriefAnswer' | translate}}" #brfawr maxlength="100" 
        [disabled]="!isFieldChangable" [(ngModel)]="detailObject.BriefAnswer"></textarea>
      <mat-hint align="end">{{brfawr.value.length}} / 100</mat-hint>
    </mat-form-field>
  
    <mat-form-field class="demo-full-width">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of detailObject.Tags"                   
                  [removable]="isFieldChangable" (remove)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="isFieldChangable">cancel</mat-icon>
        </mat-chip>
  
        <input placeholder="{{'Common.Tags' | translate}}"
               [disabled]="!isFieldChangable"
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-list>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
