<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Learning.QuestionBank' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="demo-full-width">
      <mat-select placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.QBType"
        name="ltype">
        <mat-option *ngFor="let qbt of _uiService.QuestionBankTypeStrings" [value]="qbt.value">
          {{qbt.i18nterm | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
        
    <mat-form-field class="demo-full-width">
      <textarea matInput placeholder="{{'Learning.Question' | translate}}" #qtn maxlength="200" 
        rows="5"
        [disabled]="!isFieldChangable" [(ngModel)]="detailObject.Question"></textarea>
        <mat-hint align="end">{{qtn.value.length}} / 200</mat-hint>
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <textarea matInput placeholder="{{'Learning.BriefAnswer' | translate}}" #brfawr maxlength="200"
        rows="5"
        [disabled]="!isFieldChangable" [(ngModel)]="detailObject.BriefAnswer"></textarea>
      <mat-hint align="end">{{brfawr.value.length}} / 200</mat-hint>
    </mat-form-field>

    <!-- Selection -->
    <div class="table-container mat-elevation-z8" *ngIf="detailObject!.QBType === QuestionBankTypeEnum.MultipleChoice">
      <mat-table #table [dataSource]="dataSourceSub">
        <!-- Sub Column -->
        <ng-container matColumnDef="subitem">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.ID }}
          </mat-cell>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>{{'Common.Detail' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.FullDisplayText | translate}} </mat-cell>
        </ng-container>
        
        <!-- Others Column -->
        <ng-container matColumnDef="others">
          <mat-header-cell *matHeaderCellDef> {{'Common.Others' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Others}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedSubColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedSubColumns;"></mat-row>
      </mat-table>
    </div>
  
    <mat-form-field class="demo-full-width">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of detailObject.Tags"                   
                  [removable]="isFieldChangable" (remove)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="isFieldChangable">cancel</mat-icon>
        </mat-chip>
  
        <input placeholder="{{'Common.Tags' | translate}}"
               [disabled]="!isFieldChangable"
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-list>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
