<div class="achih-control-full-width">
  <mat-form-field>
    <input matInput [ngModel]="extObject.StartDate" (ngModelChange)="extObject.StartDate=$event" 
      [matDatepicker]="advstartdpicker" placeholder="{{'Common.StartDate' | translate}}" [disabled]="!isFieldChangable">
    <mat-datepicker-toggle matSuffix [for]="advstartdpicker"></mat-datepicker-toggle>
    <mat-datepicker #advstartdpicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [ngModel]="extObject.EndDate" (ngModelChange)="extObject.EndDate=$event" 
      [matDatepicker]="advenddpicker" placeholder="{{'Common.EndDate' | translate}}" [disabled]="!isFieldChangable">
    <mat-datepicker-toggle matSuffix [for]="advenddpicker"></mat-datepicker-toggle>
    <mat-datepicker #advenddpicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{'Common.RepeatFrequency' | translate}}" [disabled]="!isFieldChangable" 
      [ngModel]="extObject.RepeatType" (ngModelChange)="extObject.RepeatType=$event"
      name="rpttype">
      <mat-option *ngFor="let rt of arFrequencies" [value]="rt.value">
        {{rt.i18nterm | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field>
    <input matInput type="number" [disabled]="!isFieldChangable" placeholder="Deferred days" [(ngModel)]="detailObject.AdvPayAccount.DeferredDays"
      name="dfrrdays" #dfrrdays="ngModel">
  </mat-form-field> -->

  <mat-form-field>
    <input matInput type="text" [disabled]="!isFieldChangable" placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="extObject.Comment"
      name="advacntcmt" #advacntcmt="ngModel">
  </mat-form-field>

  <!-- Ref doc. ID -->
  <div class="achih-control-full-width" *ngIf="extObject.RefDocId">
    <mat-label>{{'Finance.RefDoc' | translate}}</mat-label>
    <a routerLink='/finance/document/display/{{extObject.RefDocId}}' style="margin: 5px;" routerLinkActive="active">{{extObject?.RefDocId}}</a>
  </div>

  <mat-toolbar>
    <button mat-icon-button (click)="onGenerateTmpDocs()" [disabled]="!isFieldChangable" matTooltip="{{'Finance.GenerateTmpDocs' | translate}}"><mat-icon color="primary">refresh</mat-icon></button>
  </mat-toolbar>
  
  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!-- TranDate Column -->
      <ng-container matColumnDef="TranDate">
        <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionDate' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput [(ngModel)]="row.TranDate" [matDatepicker]="tmpdpicker" 
              placeholder="{{'Common.Date' | translate}}" [disabled]="!isFieldChangable">
            <mat-datepicker-toggle matSuffix [for]="tmpdpicker"></mat-datepicker-toggle>
            <mat-datepicker #tmpdpicker></mat-datepicker>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="TranAmount">
        <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="row.TranAmount"
              name="tmpamt">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Desp Column -->
      <ng-container matColumnDef="Desp">
        <mat-header-cell *matHeaderCellDef>{{'Common.Comment' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput type="text" required placeholder="{{'Common.Description' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="row.Desp"
              name="tmpdesp" #tmpdesp maxlength="44">
            <mat-hint align="end">{{tmpdesp.value.length}} / 44</mat-hint>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      
      <!-- RefDoc Column -->
      <ng-container matColumnDef="RefDoc">
        <mat-header-cell *matHeaderCellDef>{{'Finance.RefDoc' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink='/finance/document/display/{{row.RefDocId}}' routerLinkActive="active" *ngIf="row.RefDocId">{{row.RefDocId}}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
