<md-card>
  <md-card-title>{{"Finance.Currency" | translate}}</md-card-title>
  <md-card-subtitle>{{"Common.ListView" | translate}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">    
    <button md-mini-fab color="primary" (click)="onCreateCurrency()">
      <md-icon>add</md-icon>
    </button>
    <button md-mini-fab color="accent" [disabled]="selectedRows.length <= 0" (click)="onDisplayCurrency()">
      <md-icon>pageview</md-icon>
    </button>
    <button md-mini-fab color="accent">
      <md-icon>clear</md-icon>
    </button>
  </span>
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="selectedRows.length > 0" class="md-body-1">{{selectedRows.length}} item(s) selected</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
        flex>
      </td-search-box>
    </div>
    <md-divider></md-divider>
    <td-data-table
      #dataTable
      [data]="filteredData"
      [columns]="columns"
      [sortable]="true"
      [selectable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder"
      (sortChange)="sort($event)">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>{{'Common.NoResultToDisplay' | translate}}</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[20, 40, 60, 80]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>{{'Common.RowPerPage' | translate}}</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card-content>
</md-card>