<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.TransferDocument' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.Create' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear (selectionChange)="onStepSelectionChange($event)">

      <!-- Header -->
      <mat-step [stepControl]="headerFormGroup">
        <form [formGroup]="headerFormGroup">
          <ng-template matStepLabel>{{'Finance.Header' | translate}}</ng-template>

          <hih-fin-document-header [docType]="curDocType" [currentUIMode]="curMode" formControlName="headerControl"></hih-fin-document-header>

          <!-- Amount -->
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="amountControl">
          </mat-form-field>
        </form>

        <mat-error *ngIf="headerFormGroup && headerFormGroup.hasError('exchangeRateMissing')">
          <div class="mat-h3">{{'Finance.NoExchangeRate' | translate}}</div>
        </mat-error>
        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: From -->
      <mat-step [stepControl]="fromFormGroup">
        <form [formGroup]="fromFormGroup">
          <ng-template matStepLabel>{{'Finance.TransferFrom' | translate}}</ng-template>
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
              <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter"
                [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}}
                  ({{acnt.CategoryName | translate}})</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let cc of arControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Activity' | translate}}" formControlName="orderControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let ord of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-error *ngIf="(fromFormGroup && fromFormGroup.hasError('nocostobject')) || (fromFormGroup && fromFormGroup.hasError('costobjectoverassign'))">
          <div class="mat-h3">{{'Finance.EitherControlCenterOrOrder' | translate}}</div>
        </mat-error>

        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: To -->
      <mat-step [stepControl]="toFormGroup">
        <form [formGroup]="toFormGroup">
          <ng-template matStepLabel>{{'Finance.TransferTo' | translate}}</ng-template>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
              <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter"
                [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}}
                  ({{acnt.CategoryName | translate}})</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let tt of arControlCenters" [value]="tt.Id">
                {{tt.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Activity' | translate}}" formControlName="orderControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let tt of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="tt.Id">
                {{tt.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-error *ngIf="(toFormGroup && toFormGroup.hasError('nocostobject')) || (toFormGroup && toFormGroup.hasError('costobjectoverassign'))">
          <div class="mat-h3">{{'Finance.EitherControlCenterOrOrder' | translate}}</div>
        </mat-error>
        <mat-error *ngIf="toFormGroup && toFormGroup.hasError('duplicatedccount')">
          <div class="mat-h3">{{'Finance.InvalidAccount' | translate}}</div>
        </mat-error>

        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: Review -->
      <mat-step>
        <ng-template matStepLabel>{{'Common.ReviewForSubmit' | translate}}</ng-template>
        <div class="mat-typography achih-control-full-width">
          <h2>{{'Finance.Amount' | translate}}: {{confirmInfo?.tranAmount}} ({{confirmInfo?.tranCurrency}})</h2>
          <h3>{{'Common.Date' | translate}}: {{confirmInfo?.tranDateString}}</h3>
          <h2>{{'Finance.TransferFrom' | translate}}: {{confirmInfo?.sourceAccountName}}</h2>
          <h2>{{'Finance.TransferTo' | translate}}: {{confirmInfo?.targetAccountName}}</h2>          
          <h3>{{'Common.Description' | translate}}: {{confirmInfo?.Desp}}</h3>
        </div>

        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button color="primary" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
