<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.Accounts' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.Account' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.HierarchyView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-select [(ngModel)]="listSelectedAccountStatus" nzMode="multiple" nzAllowClear [nzPlaceHolder]="'Common.Status' | transloco"
      (ngModelChange)="onAccountStatusFilterChanged($event)">
      <nz-option *ngFor="let option of arrayStatus" [nzValue]="option.value" [nzLabel]="option.i18nterm | transloco"></nz-option>
    </nz-select>
    <nz-select [(ngModel)]="selectedScope" nzPlaceHolder="Scope" (ngModelChange)="onScopeChanged($event)">
      <nz-option *ngFor="let option of arrayScopes" [nzValue]="option.value" [nzLabel]="option.i18nterm | transloco"></nz-option>
    </nz-select>
    <nz-divider nzType="vertical"></nz-divider>
    <a nz-button nzType="link" [disabled]="isChildMode" routerLink="/finance/account/create">{{'Common.Create' | transloco}}</a>
    <a nz-button nzType="link" routerLink="/finance/account/list">{{'Common.ListView' | transloco}}</a>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row>
  <div class="col" nz-col nz-resizable (nzResize)="onResize($event)" [nzMinColumn]="3" [nzMaxColumn]="20"
    [nzGridColumnCount]="24" [nzSpan]="col">
    <nz-resize-handle nzDirection="right">
      <div class="right-wrap">
        <i class="right" nz-icon nzType="more" nzTheme="outline"></i>
      </div>
    </nz-resize-handle>
    <div>
      <nz-spin [nzSpinning]="isLoadingResults">
        <nz-tree nzBlockNode [nzData]="accountTreeNodes"
          (nzClick)="onNodeClick($event)"
          (nzDblClick)="onNodeClick($event)"
          [nzTreeTemplate]="tmplAccountHierarchy"></nz-tree>
        <ng-template #tmplAccountHierarchy let-node let-origin="origin">
          <span [style.text-decoration]="node.isDisabled ? 'line-through' : 'none'">
            <span *ngIf="!node.isLeaf" (contextmenu)="onNodeContextMenu($event, treeMenu)">
              <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
              <span class="folder-name">{{ node.title }}</span>
            </span>
            <span *ngIf="node.isLeaf" (contextmenu)="onNodeContextMenu($event, treeMenu)">
              <i nz-icon nzType="account-book"></i>
              <span class="file-name">{{ node.title }}</span>
            </span>
          </span>
        </ng-template>
        <nz-dropdown-menu #treeMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="onDisplayAccount()">{{'Common.Display' | transloco}}</li>
            <li nz-menu-item (click)="onAccountReconcile()">{{'Finance.AccountReconcile' | transloco}}</li>
            <li nz-menu-divider></li>
            <li nz-menu-item [nzDisabled]="isChildMode" (click)="onChangeAccountName()">{{'Finance.ChangeAccountName' | transloco}}</li>
            <!-- <li nz-menu-item (click)="onEditAccount()">{{'Common.Edit' | transloco}}</li> -->
            <li nz-menu-divider></li>
            <li nz-submenu (nzOpenChange)="openAdvanceOperations()" [nzTitle]="'Common.AdvancedOperations' | transloco">
              <ul>
                <li nz-menu-item [nzDisabled]="isChildMode" (click)="onSettleAccount()">{{'Finance.SettleAccountWithInitialBalance' | transloco}}</li>
                <li nz-menu-item [nzDisabled]="isChildMode" (click)="onCloseAccount()">{{'Common.Close' | transloco}}</li>
              </ul>
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-spin>
    </div>
  </div>
  <div nz-col [nzSpan]="24 - col">
    <div *ngIf="isAccountView" style="margin-left: 8px;">
      <nz-descriptions [nzTitle]="'Finance.Balance' | transloco" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
        <nz-descriptions-item [nzTitle]="'Finance.Balance' | transloco">{{currentAccountBalance | number:'1.2-2'}} <span>{{baseCurrency}}</span></nz-descriptions-item>
      </nz-descriptions>
    </div>
    <div style="margin-left: 8px;">
      <hih-fin-document-item-view [filterDocItem]="filterDocItem"></hih-fin-document-item-view>
    </div>
  </div>

  <nz-modal [(nzVisible)]="isAccountSettleDlgVisible" [nzTitle]="tmpAccountSettleDlgTitle"
    [nzContent]="tmpAccountSettleDlgContent" [nzFooter]="tmpAccountSettleDlgFooter"
    (nzOnCancel)="handleDlgSettleAccountCancel()">
    <ng-template #tmpAccountSettleDlgTitle>{{'Finance.SettleAccountWithInitialBalance' | transloco}}</ng-template>

    <ng-template #tmpAccountSettleDlgContent>
      <!-- ID -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{'Common.ID' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input disabled readonly [ngModel]="selectedAccountForSettle!.AccountID" />
        </nz-form-control>
      </nz-form-item>
  
      <!-- Name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{'Common.Name' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <input nz-input maxlength="30" disabled readonly [ngModel]="selectedAccountForSettle!.AccountName" />
        </nz-form-control>
      </nz-form-item>
  
      <!-- Category -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Common.Category' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input maxlength="30" disabled readonly [ngModel]="selectedAccountForSettle!.AccountCategoryID" />
        </nz-form-control>
      </nz-form-item>

      <!-- Settle Date -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Common.Date' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-date-picker [(ngModel)]="selectedAccountForSettle!.SettleDate" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <!-- Amount -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Finance.Amount' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-input-number [(ngModel)]="selectedAccountForSettle!.Amount"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Control center-->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Finance.ControlCenter' | transloco}}</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedAccountForSettle!.ControlCenterID">
            <nz-option *ngFor="let tt of arControlCenters" [nzValue]='tt.Id' [nzLabel]="tt.Name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-template>

    <ng-template #tmpAccountSettleDlgFooter>
      <button nz-button nzType="default" (click)="handleDlgSettleAccountCancel()">{{'Common.Cancel' | transloco}}</button>
      <button nz-button nzType="primary" (click)="handleDlgSettleAccountSave()">{{'Common.OK' | transloco}}</button>
    </ng-template>
  </nz-modal>
</div>
