<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.Accounts' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.Account' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.HierarchyView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-select [(ngModel)]="listSelectedAccountStatus" nzMode="multiple" nzAllowClear [nzPlaceHolder]="'Common.Status' | transloco"
      (ngModelChange)="onAccountStatusFilterChanged($event)">
      <nz-option *ngFor="let option of arrayStatus" [nzValue]="option.value" [nzLabel]="option.i18nterm | transloco"></nz-option>
    </nz-select>
    <nz-divider nzType="vertical"></nz-divider>
    <a nz-button nzType="link" routerLink="/finance/account/create">{{'Common.Create' | transloco}}</a>
    <a nz-button nzType="link" routerLink="/finance/account/list">{{'Common.ListView' | transloco}}</a>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row *transloco="let t">
  <div class="col" nz-col nz-resizable (nzResize)="onResize($event)" [nzMinColumn]="3" [nzMaxColumn]="20"
    [nzGridColumnCount]="24" [nzSpan]="col">
    <nz-resize-handle nzDirection="right">
      <div class="right-wrap">
        <i class="right" nz-icon nzType="more" nzTheme="outline"></i>
      </div>
    </nz-resize-handle>
    <div>
      <nz-spin [nzSpinning]="isLoadingResults">
        <nz-tree [nzData]="accountTreeNodes" nzShowLine (nzClick)="onNodeClick($event)" (nzContextMenu)="onNodeContextMenu($event, treeMenu)">
        </nz-tree>
        <nz-dropdown-menu #treeMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-item nzDisabled>disabled menu item</li>
            <li nz-submenu nzTitle="sub menu">
              <ul>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item>4th menu item</li>
              </ul>
            </li>
            <li nz-submenu nzDisabled nzTitle="disabled sub menu">
              <ul>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item>4th menu item</li>
              </ul>
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-spin>
    </div>
  </div>
  <div nz-col [nzSpan]="24 - col">
    <div style="margin-left: 8px;">
      <hih-fin-document-item-view [filterDocItem]="filterDocItem"></hih-fin-document-item-view>
    </div>
  </div>
</div>
