<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Nav.Credits' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell" style="width: 80%;"> {{'Common.Name' | translate}} </th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row" *ngFor="let element of creditApp">
          <td class="mat-cell">
            <a href="{{element.url}}" target="_blank">{{element.name}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
