<div class="card">
  <div class="card-header">
    {{'Nav.Credits' | translate}}
  </div>
  <div class="card-body">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Angular 5
      </a>
      <a href="#" class="list-group-item list-group-item-action">Angular Material 2</a>
      <a href="#" class="list-group-item list-group-item-action">Bootstrap</a>
      <a href="#" class="list-group-item list-group-item-action">ASP.NET Core</a>
    </div>
  </div>
</div>
