<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Languages' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- LCID Column -->
        <ng-container matColumnDef="lcid">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.Lcid }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="isoname">
          <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.IsoName}} </mat-cell>
        </ng-container>

        <!-- English Name Column -->
        <ng-container matColumnDef="enname">
          <mat-header-cell *matHeaderCellDef> {{'Common.EnglishName' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.EnglishName}} </mat-cell>
        </ng-container>

        <!-- Native Name Column -->
        <ng-container matColumnDef="nvname">
          <mat-header-cell *matHeaderCellDef> {{'Common.NativeName' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.NativeName}} </mat-cell>
        </ng-container>

        <!-- App flag Column -->
        <ng-container matColumnDef="appflag">
          <mat-header-cell *matHeaderCellDef> {{'Common.LanguageSupportedInApp' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox disabled [(ngModel)]="row.AppFlag"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
