.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  max-height: 500px;
}

.cell-icon {
  padding: 0 3px;
} 

.mat-column-isoname {
  min-width: 50px;
  max-width: 100px;
}

.mat-column-appflag {
  min-width: 50px;
  max-width: 100px;
}
