<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.ControlCenters' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="achih-dataloading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    
    <mat-toolbar color="accent">
      <button mat-icon-button (click)="onCreateCC()" matTooltip="{{'Common.Create' | translate}}"><mat-icon color="primary">add</mat-icon></button>
      <button mat-icon-button (click)="onRefresh()" matTooltip="{{'Common.Refresh' | translate}}"><mat-icon color="primary">refresh</mat-icon></button>
      <a mat-button routerLink="/finance/controlcenter/tree" routerLinkActive="active" matTooltip="{{'Common.HierarchyView' | translate}}">{{'Common.HierarchyView' | translate}}</a>
    </mat-toolbar>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onChangeCC(row)" matTooltip="{{'Common.Edit' | translate}}"><mat-icon color="accent" class="toolbar-icon">edit</mat-icon></button>
            <button mat-icon-button (click)="onDeleteCC(row)" matTooltip="{{'Common.Delete' | translate}}"><mat-icon color="warn" class="toolbar-icon">delete</mat-icon></button>
            {{row.Id}}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
        </ng-container>

        <!-- Comment Column -->
        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onDisplayCC(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator 
        [length]="totalCount" 
        [pageIndex]="0" 
        [pageSize]="10" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
