<ng-container>
  <div [formGroup]="adpInfoFormGroup">
    <!-- Start date -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.StartDate' | transloco }}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="startdateErrorTpl">
        <nz-date-picker formControlName="startDateControl" (ngModelChange)="onChange()"></nz-date-picker>
        <ng-template #startdateErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'Common.FieldIsMandatory' | transloco }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- End date -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.EndDate' | transloco }}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="enddateErrorTpl">
        <nz-date-picker formControlName="endDateControl" (ngModelChange)="onChange()"></nz-date-picker>
        <ng-template #enddateErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'Common.FieldIsMandatory' | transloco }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Repeat frequency -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.RepeatFrequency' | transloco }}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="frqTpl">
        <nz-select formControlName="frqControl" (ngModelChange)="onChange()">
          <nz-option
            *ngFor="let rt of arFrequencies"
            [nzValue]="rt.value"
            [nzLabel]="rt.i18nterm | transloco"
          ></nz-option>
        </nz-select>
        <ng-template #frqTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'Common.FieldIsMandatory' | transloco }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.Description' | transloco }}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cmtTpl">
        <input nz-input formControlName="cmtControl" maxlength="45" (ngModelChange)="onChange()" required />
        <ng-template #cmtTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            {{ 'Common.FieldMaxLength' | transloco }}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            {{ 'Common.FieldIsMandatory' | transloco }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Ref doc. ID -->
  <div class="achih-control-full-width" *ngIf="refDocId">
    <label>{{ 'Finance.RefDoc' | transloco }}</label>
    <button nz-button nzType="link" (click)="onRefDocClick(refDocId!)">
      {{ refDocId }}
    </button>
  </div>

  <!-- Toolbar -->
  <div class="toolbar_buttons">
    <button nz-button nzType="primary" (click)="onGenerateTmpDocs()" [disabled]="!isFieldChangable">
      {{ 'Finance.GenerateTmpDocs' | transloco }}
    </button>
  </div>

  <!-- Template docs-->
  <nz-table #basicTable [nzLoading]="isLoadingTmpDocs" [nzData]="listTmpDocs">
    <thead>
      <tr>
        <th>{{ 'Common.Date' | transloco }}</th>
        <th>{{ 'Finance.TransactionType' | transloco }}</th>
        <th>{{ 'Finance.Amount' | transloco }}</th>
        <th>{{ 'Common.Description' | transloco }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.TranDateFormatString }}</td>
        <td>{{ data.TranType }}</td>
        <td>{{ data.TranAmount }}</td>
        <td>{{ data.Desp }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
