<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Event' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-loading-shade" *ngIf="isLoadingData">
      <mat-spinner></mat-spinner>
    </div>
    
    <div *ngIf="!isLoadingData">
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Name' | translate}}" [readonly]="!isFieldChangable" 
          [(ngModel)]="detailObject.Name" name="name" #eventname maxlength="50">
        <mat-hint align="end">{{eventname.value.length}} / 50</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="detailObject.StartTime" [matDatepicker]="startdpicker" placeholder="{{'Common.Date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="startdpicker"></mat-datepicker-toggle>
        <mat-datepicker #startdpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="detailObject!.EndTime" [matDatepicker]="enddpicker" placeholder="{{'Common.Date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="enddpicker"></mat-datepicker-toggle>
        <mat-datepicker #enddpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="detailObject!.CompleteTime" [matDatepicker]="cmpdpicker" placeholder="{{'Common.Date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="cmpdpicker"></mat-datepicker-toggle>
        <mat-datepicker #cmpdpicker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput type="text" placeholder="{{'Common.Content' | translate}}" [readonly]="!isFieldChangable" 
          [(ngModel)]="detailObject.Content" name="content" #eventcontent></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Common.Assignee' | translate}}" [(ngModel)]="detailObject.Assignee" name="assgnee">
          <mat-option *ngFor="let mem of _homedefService.MembersInChosedHome" [value]="mem.User">
            {{mem.DisplayAs}} - {{ mem.User }} 
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
