
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  /*text-align: center;*/
  justify-content:space-between;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
  
.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}
  
.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-column-Account {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-Category {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-ControlCenter {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-Order {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-Debit {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-Credit {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-Balance {
  min-width: 100px;
  max-width: 150px;
}

.account-incoming-chart {
  width: 92%;
  height: 700px;
}

.account-outgoing-chart {
  width: 92%;
  height: 700px;
}

.accountcategory-chart {
  width: 92%;
  height: 700px;
}

.overview-chart {
  width: 92%;
  height: 700px;
}
