<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Documents' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div *ngFor="let filter of filters; let idxfilter = index" class="demo-full-width">
        <mat-form-field>
          <mat-select placeholder="Field" [(ngModel)]="filter.fieldName">
            <mat-option *ngFor="let field of allFields" [value]="field.value">
              {{ field.displayas | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Operators" [(ngModel)]="filter.operator">
            <mat-option *ngFor="let opr of allOperators" [value]="opr.value">
              {{ opr.i18nterm | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Low" name="lvalue" [(ngModel)]="filter.lowValue">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="High" name="hvalue" [(ngModel)]="filter.highValue">
        </mat-form-field>
        <button mat-button mat-icon-button aria-label="Add" (click)="onAddFilter()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button mat-icon-button aria-label="Clear" (click)="onRemoveFilter(idxfilter)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="demo-full-width">
        <button mat-button mat-icon-button aria-label="Search" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>            
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
