<ng-container class="achih-control-full-width" [formGroup]="headerForm">
  <!-- Doc type -->
  <mat-form-field>
    <mat-select placeholder="{{'Finance.DocumentType' | translate}}" formControlName="docTypeControl"
      name="doctype" disabled>
      <mat-option *ngFor="let dt of arDocTypes" [value]="dt.Id">
        {{dt.Name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Tran date -->
  <mat-form-field>
    <input id="trandate" matInput formControlName="dateControl" [disabled]="!isTranDateEditable"
      [matDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
    <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
    <mat-datepicker #tdpicker></mat-datepicker>
  </mat-form-field>

  <!-- Description -->
  <mat-form-field>
    <input id="desp" matInput type="text" placeholder="{{'Common.Description' |translate}}"
      [readonly]="!isFieldChangable" formControlName="despControl">
  </mat-form-field>
  
  <!-- Currency -->
  <mat-form-field>
    <mat-select id="curr" placeholder="{{'Finance.Currency' | translate}}" 
      (selectionChange)="onCurrencyChange($event)"
      [disabled]="!isCurrencyEditable" formControlName="currControl">
      <mat-option *ngFor="let cr of arCurrencies" [value]="cr.Currency">
        {{cr.Symbol}} - {{cr.Name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Exchange rate -->
  <mat-form-field *ngIf="tranCurrency && isForeignCurrency">
    <input matInput type="number" placeholder="{{'Finance.ExchangeRate' | translate}}" 
      matTooltip="{{'Finance.ExchangeRateHint' | translate}}"
      formControlName="exgControl" id="exgrate"
      [readonly]="!isExchangeRateEditable">
  </mat-form-field>

  <!-- Planned Exchange rate -->
  <div *ngIf="tranCurrency && isForeignCurrency" class="achih-control-full-width">
    <mat-checkbox formControlName="exgpControl" color="accent" id="exgrate_plan">
      {{'Finance.ProposedExchangeRate' | translate}}
    </mat-checkbox>
  </div>

  <!-- Currency -->
  <mat-form-field *ngIf="isCurrencyExchangeDocument">
    <mat-select placeholder="{{'Finance.Currency' | translate}}" 
      (selectionChange)="onCurrency2Change($event)"
      [disabled]="!isCurrency2Editable" formControlName="curr2Control">
      <mat-option *ngFor="let cr of arCurrencies" [value]="cr.Currency">
        {{cr.Symbol}} - {{cr.Name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Exchange rate -->
  <mat-form-field *ngIf="tranCurrency2 && isForeignCurrency2">
    <input matInput type="number" placeholder="{{'Finance.ExchangeRate' | translate}}"
      matTooltip="{{'Finance.ExchangeRateHint' | translate}}"
      formControlName="exg2Control" id="exgrate2"
      [readonly]="!isExchangeRate2Editable">
  </mat-form-field>

  <!-- Planned Exchange rate -->
  <div *ngIf="tranCurrency2 && isForeignCurrency2" class="achih-control-full-width">
    <mat-checkbox formControlName="exgp2Control" color="accent" id="exgrate_plan2">
      {{'Finance.ProposedExchangeRate' | translate}}
    </mat-checkbox>
  </div>

  <mat-error *ngIf="headerForm.errors?.exchangeRateMissing && (headerForm.touched || headerForm.dirty)">
    {{'Finance.NoExchangeRate' | translate}}
  </mat-error>
</ng-container>
