<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500" [nzSize]="'large'" nzTip="Loading...">
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Asset Flag</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.ID}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.AssetFlag}}</td>
        <td>{{data.Comment}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
