<form (ngSubmit)="onSubmit()" #detailForm="ngForm">
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput placeholder="ID" disabled
             [(ngModel)]="detailObject.Id" name="objid" #objid="ngModel" />
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-select flex placeholder="Category" [(ngModel)]="detailObject.CategoryId" name="ctgyid" #ctgyid="ngModel">
      <md-option *ngFor="let ctgy of arCategory" [value]="ctgy.Id">{{ ctgy.Name }} ({{ ctgy.Id }}) </md-option>
    </md-select>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput placeholder="Name" required [(ngModel)]="detailObject.Name" name="objname" #objname="ngModel">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <textarea htmlEditor [(ngModel)]="detailObject.Content" name="content"></textarea>
  </div>
  <div layout="row" layout-margin>
    <button type="submit" md-button [disabled]="!detailForm.form.valid">Submit</button>
    <button type="reset" md-button>Reset</button>
  </div>
  <div margin="5px"></div>
</form>

