<nz-page-header nzBackIcon>
  <nz-page-header-title>{{'Blog.Post' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{currentMode | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" [disabled]="!detailFormGroup.valid"
      (click)="onSave()">{{'Common.Save' | transloco}}</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'">
  <form nz-form [formGroup]="detailFormGroup">
    <!-- ID -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7">{{'Common.ID' | transloco}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="idControl" />
      </nz-form-control>
    </nz-form-item>

    <!-- Title -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{'Common.Title' | transloco}}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="titleTpl">
        <input nz-input formControlName="titleControl" maxlength="30" required />
        <ng-template #titleTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            {{'Common.FieldMaxLength' | transloco}}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            {{'Common.FieldIsMandatory' | transloco}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Collection -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{'Blog.Collection' | transloco}}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="titleTpl">
        <nz-select nzMode="multiple" nzPlaceHolder="Collections" formControlName="collectionControl">
          <nz-option *ngFor="let coll of listOfCollection" [nzLabel]="coll.name" [nzValue]="coll.id"></nz-option>
        </nz-select>
        <ng-template #titleTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            {{'Common.FieldMaxLength' | transloco}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Content -->
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzErrorTip]="contentTpl">
        <ac-markdown-editor class="post_acme_editor" [config]="editorConfig" formControlName="contentControl">
        </ac-markdown-editor>
      </nz-form-control>
      <ng-template #contentTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{'Common.FieldIsMandatory' | transloco}}
        </ng-container>
      </ng-template>
    </nz-form-item>

    <!-- Tag -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{'Common.Tags' | transloco}}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="titleTpl">
        <nz-select nzMode="tags" nzPlaceHolder="Tags" formControlName="tagControl">
          <nz-option *ngFor="let tag of listOfTags" [nzLabel]="tag.name" [nzValue]="tag.name"></nz-option>
        </nz-select>
        <ng-template #titleTpl let-control>
          <ng-container *ngIf="control.hasError('maxlength')">
            {{'Common.FieldMaxLength' | transloco}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
