<md-card>
  <md-card-header>
    <div></div>
    <md-card-title>Home List</md-card-title>
    <md-card-subtitle>Home List</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Create</button>
  </md-card-actions>
</md-card>
