<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Plan' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="accent">
      <span>{{'Finance.Plan' | translate}}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button color="primary" (click)="onCreatePlan()" matTooltip="{{'Common.Create' | translate}}">
        <mat-icon color="primary" class="toolbar-icon">add</mat-icon>
      </button>
    </mat-toolbar>
    <p>TBD</p>
  </mat-card-content>
</mat-card>
