<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.HabitEvent' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="achih-dataloading-shade" *ngIf="isLoadingData">
      <mat-spinner></mat-spinner>
    </div>

    <form [formGroup]="detailForm">
      <!-- Name -->
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Name' | translate}}" 
          formControlName="nameControl" #eventname maxlength="50">
        <mat-hint align="end">{{eventname.value.length}} / 50</mat-hint>
      </mat-form-field>

      <!-- Start Date -->
      <mat-form-field>
        <input matInput formControlName="startDateControl" [matDatepicker]="startdpicker"
          placeholder="{{'Common.StartDate' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="startdpicker"></mat-datepicker-toggle>
        <mat-datepicker #startdpicker></mat-datepicker>
      </mat-form-field>

      <!-- End Date -->
      <mat-form-field>
        <input matInput formControlName="endDateControl" [matDatepicker]="enddpicker"
          placeholder="{{'Common.EndDate' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="enddpicker"></mat-datepicker-toggle>
        <mat-datepicker #enddpicker></mat-datepicker>
      </mat-form-field>

      <!-- Frequency -->
      <mat-form-field>
        <mat-select placeholder="{{'Common.RepeatFrequency' | translate}}"
          formControlName="rptTypeControl">
          <mat-option *ngFor="let rt of arFrequencies" [value]="rt.value">
            {{rt.i18nterm | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Count -->
      <mat-form-field>
        <input matInput type="number" placeholder="{{'Common.Count' | translate}}"
          formControlName="countControl">
      </mat-form-field>

      <!-- Content -->
      <mat-form-field>
        <textarea matInput type="text" placeholder="{{'Common.Content' | translate}}"
          formControlName="contentControl"></textarea>
      </mat-form-field>

      <!-- Assignee -->
      <mat-form-field>
        <mat-select placeholder="{{'Common.Assignee' | translate}}"
          formControlName="assigneeControl">
          <mat-option *ngFor="let mem of _homedefService.MembersInChosedHome" [value]="mem.User">
            {{mem.DisplayAs}} - {{ mem.User }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Error hint -->
      <div *ngIf="detailForm.errors?.invalidDateRange && (detailForm.touched || detailForm.dirty)" 
        class="cross-validation-error-message alert alert-danger">
        Date range invalid.
      </div>
    </form>

    <mat-tab-group>
      <!-- Details -->
      <mat-tab label="{{'Common.Detail' | translate}}">
        <mat-toolbar color="accent">
          <button mat-button color="primary" *ngIf="isFieldChangable"
            (click)="onGenerateDetails()">{{'Common.Simulate' | translate}}</button>
        </mat-toolbar>
        <div class="example-container mat-elevation-z8">
          <mat-table #tableDetail [dataSource]="dataSourceSimulateResult">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> {{'Common.Name' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
            </ng-container>

            <!-- Start date Column -->
            <ng-container matColumnDef="startdate">
              <mat-header-cell *matHeaderCellDef> {{'Common.StartDate' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.StartDateFormatString}} </mat-cell>
            </ng-container>

            <!-- End date Column -->
            <ng-container matColumnDef="enddate">
              <mat-header-cell *matHeaderCellDef> {{'Common.EndDate' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.EndDateFormatString}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-tab>

      <!-- Check in -->
      <mat-tab label="{{'Common.Checkin' | translate}}" [disabled]="isCreateMode">
        <div class="example-container mat-elevation-z8">
          <mat-table #tableCheckIn [dataSource]="dataSourceCheckIn">

            <!-- Date Column -->
            <ng-container matColumnDef="trandate">
              <mat-header-cell *matHeaderCellDef> {{'Common.Date' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.tranDateFormatString}} </mat-cell>
            </ng-container>

            <!-- Start date Column -->
            <ng-container matColumnDef="score">
              <mat-header-cell *matHeaderCellDef> {{'Common.Score' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
            </ng-container>

            <!-- End date Column -->
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedCheckInColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedCheckInColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>    
    <button mat-button color="primary" *ngIf="isFieldChangable"
      (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
