<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.CurrencyExchange' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.Create' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear (selectionChange)="onStepSelectionChange($event)">
      <!-- Step: Generic info -->
      <mat-step [completed]="firstStepCompleted" errorMessage="Invalid header">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

          <!-- Tran date -->
          <mat-form-field>
            <input matInput formControlName="dateControl" [matDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
            <mat-datepicker #tdpicker></mat-datepicker>
          </mat-form-field>

          <!-- Description -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Description' |translate}}" maxlength="44"
              formControlName="despControl">
          </mat-form-field>
        </form>

        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: From -->
      <mat-step [completed]="fromStepCompleted" errorMessage="Invalid from">
        <form [formGroup]="fromFormGroup">
          <ng-template matStepLabel>{{'Finance.TransferFrom' | translate}}</ng-template>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
              <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter"
                [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">
                  {{acnt.Name}} ({{acnt.CategoryName | translate}})
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="amountControl">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Currency' | translate}}" formControlName="currControl">
              <mat-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
                {{cr.Symbol}} - {{cr.Name | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="isForeignSourceCurrency">
            <input matInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}"
              formControlName="exgControl">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl">
              <mat-option *ngFor="let cc of arControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" formControlName="orderControl">
              <mat-option *ngFor="let ord of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-error *ngIf="(fromFormGroup && fromFormGroup.hasError('nocostobject')) || (fromFormGroup && fromFormGroup.hasError('costobjectoverassign'))">
          <div class="mat-h3">{{'Finance.EitherControlCenterOrOrder' | translate}}</div>
        </mat-error>

        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: To -->
      <mat-step [completed]="toStepCompleted" errorMessage="Invalid to">
        <form [formGroup]="toFormGroup">
          <ng-template matStepLabel>{{'Finance.TransferTo' | translate}}</ng-template>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
              <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter"
                [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">
                  {{acnt.Name}} ({{acnt.CategoryName | translate}})
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="amountControl">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Currency' | translate}}" formControlName="currControl">
              <mat-option *ngFor="let cr of arCurrencies" [value]="cr.Currency">
                {{cr.Symbol}} - {{cr.Name | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="isForeignTargetCurrency">
            <input matInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}"
              formControlName="exgControl">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let cc of arControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" formControlName="orderControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let tt of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="tt.Id">
                {{tt.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-error *ngIf="(toFormGroup && toFormGroup.hasError('nocostobject')) || (toFormGroup && toFormGroup.hasError('costobjectoverassign'))">
          <div class="mat-h3">{{'Finance.EitherControlCenterOrOrder' | translate}}</div>
        </mat-error>
        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: Previous doc -->
      <mat-step [completed]="prvdocStepCompleted" errorMessage="Invalid prv. doc">
        <ng-template matStepLabel>{{'Finance.PreviousDocWithPlannedExgRate' | translate}}</ng-template>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          
          <!-- DocID Column -->
          <ng-container matColumnDef="DocID">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row">{{row.DocID}}</td>
          </ng-container>

          <!-- DocType Column -->
          <ng-container matColumnDef="DocType">
            <th mat-header-cell *matHeaderCellDef>{{'Common.Type' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.DocType}}</td>
          </ng-container>

          <!-- Tran.Date Column -->
          <ng-container matColumnDef="TranDate">
            <th mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.TranDateDisplayString}}</td>
          </ng-container>
            
          <!-- Desp Column -->
          <ng-container matColumnDef="Desp">
            <th mat-header-cell *matHeaderCellDef> {{'Common.Description' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.Desp}} </td>
          </ng-container>

          <!-- Currency Column -->
          <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef> {{'Finance.Currency' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.TranCurr}} </td>
          </ng-container>

          <!-- ExchangeRate Column -->
          <ng-container matColumnDef="ExchangeRate">
            <th mat-header-cell *matHeaderCellDef>{{'Finance.ExchangeRate' | translate}}</th>
            <td mat-cell *matCellDef="let row"> {{row.ExgRate}} </td>
          </ng-container>
            
          <!-- Proposed Exchanged Rate Column -->
          <ng-container matColumnDef="PropExchangeRate">
            <th mat-header-cell *matHeaderCellDef>{{'Finance.ProposedExchangeRate' | translate}}</th>
            <td mat-cell *matCellDef="let row"> 
              <mat-checkbox disabled [(ngModel)]="row.ExgRate_Plan"></mat-checkbox>
            </td>
          </ng-container>

          <!-- Currency Column -->
          <ng-container matColumnDef="Currency2">
            <th mat-header-cell *matHeaderCellDef> {{'Finance.Currency' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.TranCurr2}} </td>
          </ng-container>

          <!-- ExchangeRate Column -->
          <ng-container matColumnDef="ExchangeRate2">
            <th mat-header-cell *matHeaderCellDef>{{'Finance.ExchangeRate' | translate}}</th>
            <td mat-cell *matCellDef="let row"> {{row.ExgRate2}} </td>
          </ng-container>
            
          <!-- Proposed Exchanged Rate Column -->
          <ng-container matColumnDef="PropExchangeRate2">
            <th mat-header-cell *matHeaderCellDef>{{'Finance.ProposedExchangeRate' | translate}}</th>
            <td mat-cell *matCellDef="let row"> 
              <mat-checkbox disabled [(ngModel)]="row.ExgRate_Plan2"></mat-checkbox>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
        </table>
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step: Confirm -->
      <mat-step>
        <ng-template matStepLabel>{{'Common.Confirm' | translate}}</ng-template>
        <div class="mat-typography achih-control-full-width">
          <h3>{{'Common.Date' | translate}}: {{tranDateString}}</h3>
          <h3>{{'Finance.TransferFrom' | translate}}: {{sourceCurrency}}</h3>
          <h3>{{'Finance.TransferTo' | translate}}: {{targetCurrency}}</h3>
        </div>
  
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>        
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
