table {
  width: 100%;
}

.mat-column-DocID {
  min-width: 100px;
  max-width: 150px;
}
  
.mat-column-TranType {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-Desp {
  min-width: 150px;
  max-width: 200px;
}
  
.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}
  