<form>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input md-input placeholder="ID" disabled value="Google">
    </md-input-container>
    <md-input-container flex>
      <input md-input placeholder="Parent ID">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input md-input placeholder="Name">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input md-input placeholder="Comment">
    </md-input-container>
  </div>
</form>

