.acme {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.acme-toolbar {
  width: 100%;
  min-height: 37px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.col {
  padding: 16px 0;
  border-radius: 0;
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
}

.col.right {
  background: #00a0e9;
}

.right-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

.editor {
  height: 500px;
}