<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Nav.About' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Home Information Hub, with the abbreviation HIH, which was designed to build the central information hub for all necessary information among
      all family members.</p>
    <p>Including: Learning trace, Finance trace, Event trace, Library, and more.</p>
    <p>{{'Nav.Version' | translate}}: {{version}}</p>
    <p></p>
    <p>Writen and Maintained by Alva Chien</p>
    <p>{{relDate}}</p>
  </mat-card-content>
</mat-card>
