<md-card>
  <md-card-title>{{'Finance.ControlCenter' | translate}}</md-card-title>
  <md-card-subtitle>{{currentUIModeString() | translate}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #detailForm="ngForm">
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.ID' | translate}}" readonly [(ngModel)]="ccObject.Id" name="id" #id="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.Name' | translate}}" required [disabled]="!IsUIEditable()" [(ngModel)]="ccObject.Name" name="name" #name="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="{{'Finance.Owner' | translate}}" [disabled]="!IsUIEditable()" [(ngModel)]="ccObject.OwnerId" name="ownerid" #ownerid="ngModel">
          <md-option value="">{{'Common.PleaseSelect' | translate}}</md-option>
          <md-option *ngFor="let user of arUsers" [value]="user.UserId">{{ user.DisplayAs }}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="{{'Common.Parent' | translate}}" [disabled]="!IsUIEditable()" [(ngModel)]="ccObject.ParentId" name="ccid" #ccid="ngModel">
          <md-option value="">{{'Common.PleaseSelect' | translate}}</md-option>
          <md-option *ngFor="let cc of arControlCenters" [value]="cc.Id">{{ cc.Name  }}</md-option>
        </md-select>
      </div>      
      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea mdInput placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="ccObject.Comment" [disabled]="!IsUIEditable()" name="cmt" #cmt="ngModel"></textarea>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!IsUIEditable() || !detailForm.form.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
