<nz-table #innerTable 
  nzShowSizeChanger
  [nzData]="listDocItem"
  [nzFrontPagination]="false"
  [nzLoading]="isLoadingDocItems"
  [nzTotal]="totalDocumentItemCount"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns; trackBy: trackByName"
        [nzColumnKey]="column.columnKey"
        [nzShowSort]="column.showSort"
        [nzSortFn]="column.sortFn"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn">
        {{column.name | transloco}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of innerTable.data">
      <td>{{ data.DocumentID }}</td>
      <td>{{ data.ItemID }}</td>
      <td>{{ data.ItemDesp }} </td>
      <td>{{ data.TransactionDate }}</td>
      <td>{{ getTranTypeName(data.TransactionType) }}<small>({{data.TransactionType}})</small></td>
      <td>{{ data.Amount | number: '1.0-2' }} <small>{{data.Currency}}</small></td>
      <td>{{ getAccountName(data.AccountID) }} <small>({{data.AccountID}})</small></td>
      <td>{{ getControlCenterName(data.ControlCenterID) }}<small>({{data.ControlCenterID}})</small></td>
      <td>{{ getOrderName(data.OrderID) }} <small>({{data.OrderID}})</small></td>
    </tr>
  </tbody>
</nz-table>
