<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>{{'Sys.DocTy.AssetValChg' | translate}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper linear #stepper (selectionChange)="onStepSelectionChange($event)">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" name="asstacnt" formControlName="accountControl"
              required>
              <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilterEx: uiAccountCtgyFilterEx"
                [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}}
                  ({{acnt.CategoryName | translate}})</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="dtpker" placeholder="{{'Common.Date' | translate}}" formControlName="dateControl">
            <mat-datepicker-toggle matSuffix [for]="dtpker"></mat-datepicker-toggle>
            <mat-datepicker #dtpker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="{{'Finance.Balance' | translate}}" formControlName="amountControl">
            <span matSuffix>{{BaseCurrency}}</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Description' | translate}}" formControlName="despControl">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl" name="itcc">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                {{tt.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" formControlName="orderControl" name="srcord">
              <mat-option *ngFor="let ord of _storageService.Orders" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'Common.Confirm' | translate}}</ng-template>
        <!-- 
            1. Account
            2. Date
            3. Amount
          -->
        <div class="mat-typography achih-control-full-width">
          <h2>{{'Sys.AcntCty.AssetAccount' | translate}}: {{TargetAssetAccountID}}</h2>
          <h3 *ngIf="TransactionAmount">{{'Finance.Amount' | translate}}: {{TransactionAmount.toFixed(2)}}</h3>
          <h3 *ngIf="NewEstimatedAmount">{{'Finance.Balance' | translate}}: {{NewEstimatedAmount.toFixed(2)}}</h3>
          <h3>{{'Common.Date' | translate}}: {{TransactionDate}}</h3>
        </div>

        <div class="table-container mat-elevation-z8">
          <mat-table #tableBalance [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="DocId">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a *ngIf="row.docId" routerLink='/finance/document/display/{{row.docId}}' routerLinkActive="active">{{row.docId}}</a>
              </mat-cell>
            </ng-container>

            <!-- TranDate Column -->
            <ng-container matColumnDef="TranDate">
              <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.tranDate}}
              </mat-cell>
            </ng-container>              

            <!-- Amount Column -->
            <ng-container matColumnDef="Amount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.tranAmount?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="Balance">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.balance?.toFixed(2) }}
              </mat-cell>
            </ng-container>
  
            <!-- Balance Column -->
            <ng-container matColumnDef="NewBalance">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}(*)</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.newBalance?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button (click)="stepper.reset()">{{'Common.Reset' | translate}}</button>
          <button mat-button (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
