<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Nav.HomeDetail' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="achih-dataloading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <form [formGroup]="detailForm" novalidate>
      <!-- Name -->
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Name' | translate}}" 
          formControlName="nameControl">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Login.DisplayAs' | translate}}"
          formControlName="creatorDisplayAsControl">
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="{{'Finance.Currency' | translate}}" formControlName="baseCurrControl">
          <mat-option *ngFor="let curr of arCurrencies" [value]="curr.Currency">
            {{curr.Symbol}} - {{ curr.Name | translate }} 
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Host' | translate}}" 
          formControlName="hostControl">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Detail' | translate}}" 
          formControlName="detailControl">
      </mat-form-field>
    </form>

    <mat-divider></mat-divider>
    <mat-list *ngIf="!IsCreateMode && arMembers.length > 0">
      <table class="mat-table" style="width:80%;">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell" style="width: 40%;"> {{'Login.DisplayAs' | translate}} </th>
            <th class="mat-header-cell" style="width: 40%;"> {{'Common.Relationship' | translate}} </th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row" *ngFor="let member of arMembers">
            <td class="mat-cell">
              {{member.DisplayAs}}
            </td>
            <td class="mat-cell">
              {{member.RelationString | translate}}
            </td>
          </tr>
        </tbody>
      </table>
    </mat-list>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button *ngIf="isFieldChangable" [disabled]="!detailForm.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
  </mat-card-actions>
</mat-card>
