.welcome-content-row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.components-overview-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.inner-box {
  padding-top: 12px;
}

.center-text {
  text-align: left;
}
