<div style="background: #ECECEC;padding:30px;">
  <nz-card nzTitle="Finance">
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img
        nz-image
        width="200px"
        height="200px"
        nzSrc="/assets/img/Accounts.png"
        nzDisablePreview="true"
        alt=""
      />
      <h2 nz-typography>Accounts</h2>
      <p nz-typography>
        In the process of internal desktop applications development, many different design specs and implementations
        would be involved, which might cause designers and developers difficulties and duplication and reduce the
        efficiency of development.
      </p>
    </div>
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img
        nz-image
        width="200px"
        height="200px"
        nzSrc="/assets/img/Documents.png"
        nzDisablePreview="true"
        alt=""
      />
      <h2 nz-typography>Documents</h2>
      <p nz-typography>
        In the process of internal desktop applications development, many different design specs and implementations
        would be involved, which might cause designers and developers difficulties and duplication and reduce the
        efficiency of development.
      </p>
    </div>
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img
        nz-image
        width="200px"
        height="200px"
        nzSrc="/assets/img/Reports.png"
        nzDisablePreview="true"
        alt=""
      />
      <h2 nz-typography>Reports</h2>
      <p nz-typography>
        In the process of internal desktop applications development, many different design specs and implementations
        would be involved, which might cause designers and developers difficulties and duplication and reduce the
        efficiency of development.
      </p>
    </div>
  </nz-card>
</div>

<nz-divider></nz-divider>
<div style="background: #1ECECE;padding:30px;">
  
</div>
