<div style="background: #ECECEC;padding:30px;">
  <nz-card nzTitle="Finance">
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img nz-image width="200px" height="200px" [nzSrc]="accountImage"
        nzDisablePreview="true" alt="" />
      <h2 nz-typography>{{'Finance.Accounts' | transloco}}</h2>
      <p nz-typography>
        Accounts which mapping to daily transaction.
      </p>
    </div>
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img nz-image width="200px" height="200px" [nzSrc]="documentImage"
        nzDisablePreview="true" alt="" />
      <h2 nz-typography>{{'Finance.Documents' | transloco}}</h2>
      <p nz-typography>
        Document to trace every transaction.
      </p>
    </div>
    <div nz-card-grid [ngStyle]="gridFinanceStyle">
      <img nz-image width="200px" height="200px" [nzSrc]="reportImage"
        nzDisablePreview="true" alt="" />
      <h2 nz-typography>{{'Finance.Reports' | transloco}}</h2>
      <p nz-typography>
        Financial Reports provides you the various dimension among the figures, which stands for the incoming and outgoing.
      </p>
    </div>
  </nz-card>
</div>

<nz-divider></nz-divider>
<div style="background: #1ECECE;padding:30px;">
  TBD.
</div>
