<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Overview' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <!-- Tab: Account category -->
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Finance.AccountCategories' | translate}}
        </ng-template>

        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSourceAcntCtgy">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.ID }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Name | translate}} </mat-cell>
            </ng-container>

            <!-- Asset flag Column -->
            <ng-container matColumnDef="assetflag">
              <mat-header-cell *matHeaderCellDef>{{'Finance.IsAsset' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox [(ngModel)]="row.AssetFlag" disabled>
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Comment Column -->
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsAcntCtgy"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsAcntCtgy;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="_storageService.AccountCategories.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>

      <!-- Tab: Doc. type -->
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Finance.DocumentTypes' | translate}}
        </ng-template>

        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSourceDocType">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Id }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Name | translate}} </mat-cell>
            </ng-container>

            <!-- Comment Column -->
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsDocType"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDocType;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="_storageService.DocumentTypes.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>

      <!-- Tab: Asset category -->
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Finance.AssetCategories' | translate}}
        </ng-template>

        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSourceAsstCtgy">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.ID }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Name | translate}} </mat-cell>
            </ng-container>

            <!-- Desp Column -->
            <ng-container matColumnDef="desp">
              <mat-header-cell *matHeaderCellDef> {{'Common.Description' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Desp}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsAsstCtgy"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsAsstCtgy;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="_storageService.AssetCategories.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
