<mat-tab-group>
  <!-- Tab. Chart View -->
  <mat-tab label="{{'Common.TagsCloud' | translate}}">
    <div class="chart-container">
      <div echarts [options]="tagChartOption | async" [theme]="chartTheme" class="tag-wordcloud-chart"></div>
    </div>
  </mat-tab>

  <!-- Tab. List View -->
  <mat-tab label="{{'Common.Tag' | translate}}">
    <ng-template mat-tab-label>
      {{'Common.Tag' | translate}}
    </ng-template>
    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Tag' |translate}}" [(ngModel)]="tagTerm" name="term">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Common.Category' | translate}}" [(ngModel)]="tagType" name="ctgy">
          <mat-option *ngFor="let tgtype of _uiService.TagTypeStrings" [value]="tgtype.value">
            {{tgtype.i18nterm | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSearchTagTerm()">{{'Common.Search' | translate}}</button>

      <mat-nav-list>
        <mat-list-item *ngFor="let rs of rstSearch">
          <a matLine [routerLink]="rs.LinkTarget" routerLinkActive="active">{{rs.TagID}}</a>
          <mat-select matLine [(ngModel)]="rs.TagType" name="tagtyp" disableRipple="true" disabled>
            <mat-option *ngFor="let tgtype of _uiService.TagTypeStrings" [value]="tgtype.value">
              {{tgtype.i18nterm | translate}}
            </mat-option>
          </mat-select>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-tab>
</mat-tab-group>
