<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500" [nzSize]="'large'" nzTip="Loading...">
  <nz-page-header nzBackIcon>
    <nz-page-header-title>Order</nz-page-header-title>
    <nz-page-header-subtitle>List View</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary">Create</button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.Id}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.ValidFromFormatString}}</td>
        <td>{{data.ValidToFormatString}}</td>
        <td>{{data.Comment}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
