<nz-page-header nzBackIcon>
  <nz-page-header-title>{{'Finance.Activities' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.ListView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onCreate()">{{'Common.Create' | transloco}}</button>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-switch [(ngModel)]="validOrderOnly" nzCheckedChildren="Only Valid" nzUnCheckedChildren="All" (ngModelChange)="onOrderValidityChanged()"></nz-switch>
  </nz-page-header-extra>
</nz-page-header>
<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'">
  <nz-table #basicTable [nzData]="dataSet | orderValidityFilter: validOrderOnly">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{'Common.Name' | transloco}}</th>
        <th>{{'Common.ValidFrom' | transloco}}</th>
        <th>{{'Common.ValidTo' | transloco}}</th>
        <th>{{'Common.Comment' | transloco}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{data.Id}}
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" (click)="onDisplay(data.Id)">{{'Common.Display' | transloco}}</button>
          <button nz-button nzType="link" (click)="onEdit(data.Id)">{{'Common.Edit' | transloco}}</button>
          <a nz-popconfirm [nzPopconfirmTitle]="'Common.ConfirmToDeleteSelectedItem' | transloco"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="onDelete(data.Id)">{{'Common.Delete' | transloco}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" (click)="onDisplayDocItem(data.Id, data.Name)">{{'Finance.Documents' | transloco}}</button>
        </td>
        <td>{{data.Name}}</td>
        <td>{{data.ValidFromFormatString}}</td>
        <td>{{data.ValidToFormatString}}</td>
        <td>{{data.Comment}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
