<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{'Finance.Documents' | transloco}}</a>
    </nz-breadcrumb-item>
    <nz-page-header-subtitle>{{currentMode | transloco}}</nz-page-header-subtitle>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.Document' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{currentMode | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button [disabled]="isFieldChangable" nzType="text" (click)="onChangeToEditMode()">{{'Common.Edit' | transloco}}</button>
    <button nz-button nzType="primary" (click)="onSave()" [disabled]="!isFieldChangable || !docFormGroup.valid">{{'Common.Save' | transloco}}</button>
  </nz-page-header-extra>
</nz-page-header>

<form nz-form [formGroup]="docFormGroup">
  <!-- ID -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">ID</nz-form-label>
    <nz-form-control [nzSpan]="12"style="text-align: left;">
      <input nz-input formControlName="idControl" />
    </nz-form-control>
  </nz-form-item>

  <!-- Header -->
  <hih-fin-document-header formControlName="headerControl" [docType]="currentDocument.DocType" [currentUIMode]="uiMode"
    [arDocTypes]="arDocTypes" [arCurrencies]="arCurrencies" [baseCurrency]="baseCurrency">
  </hih-fin-document-header>

  <!-- Items -->
  <hih-fin-document-items formControlName="itemsControl" [currentUIMode]="uiMode" [docDate]="currentDocument.TranDate"
    [arCurrencies]="arCurrencies" [arUIAccounts]="arUIAccounts" [arControlCenters]="arControlCenters"
    [arTranType]="arTranType" [arUIOrders]="arUIOrders" [docType]="currentDocument.DocType">
  </hih-fin-document-items>
</form>
