<div class="container">
    <div class="page-header">
        <h2>
            <span>Language</span><small> List View</small>
        </h2>
    </div>

    <hr />

    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>LCID</th>
                <th>ISO</th>
                <th>English</th>
                <th>Native</th>
                <th>App Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lang of arLanguages">
                <td>{{lang.Lcid}}</td>
                <td>{{lang.IsoName}}</td>
                <td>{{lang.EnglishName}}</td>
                <td>{{lang.NativeName}}</td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="lang.AppFlag"></div></td>
            </tr>
        </tbody>
    </table>
</div>
