<div class="container">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>LCID</th>
                <th>ISO</th>
                <th>English</th>
                <th>Native</th>
                <th>App Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lang of arLanguages">
                <td>{{lang.Lcid}}</td>
                <td>{{lang.IsoName}}</td>
                <td>{{lang.EnglishName}}</td>
                <td>{{lang.NativeName}}</td>
                <td>{{lang.AppFlag}}</td>
            </tr>
        </tbody>
    </table>
</div>
