<div class="container">
    <div class="page-header">
        <h2>
            <span>Module</span><small> List View</small>
        </h2>
    </div>

    <hr />

    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Module</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let am of arModules">
                <td>{{am.Module}}</td>
                <td>{{am.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>
