<div class="container">
    <div class="page-header">
        <h2>
            <span>User History</span><small> List View</small>
        </h2>
    </div>

    <hr />

    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>SeqNo</th>
                <th>Type</th>
                <th>TimePoint</th>
                <th>Others</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fs of userHist">
                <td>{{fs.SeqNo}}</td>
                <td>{{fs.HistType}}</td>
                <td>{{fs.TimePoint}}</td>
                <td>{{fs.Others}}</td>
            </tr>
        </tbody>
    </table>
</div>
