<div ng-controller="AboutController">
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">About HIH on Azure</h3>
        </div>
        <div class="panel-body">
            HIH app, running on Azure.
            Version 0.1
            <br>
            <div><span translate="Common.Copyright">Copyright</span> © 2016 Alva Chien</div>
        </div>
    </div>
    <br>
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" translate="Common.Acknowledgements">Acknowledges</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <a target="_blank" href="https://www.angularjs.org/" class="list-group-item">
                    <span class="badge">1.4.9</span> Angular JS
                </a>
                <a target="_blank" href="http://getbootstrap.com/" class="list-group-item">
                    <span class="badge">3.3.6</span> Bootstrap
                </a>
                <a target="_blank" href="http://www.jquery.com/" class="list-group-item">
                    <span class="badge">2.1.4</span> jQuery
                </a>
                <a target="_blank" href="https://github.com/thomaspark/bootswatch/" class="list-group-item"><span class="badge">3.3.6</span>bootswatch</a>
                <a target="_blank" href="https://angular-translate.github.io/" class="list-group-item"><span class="badge">2.7.2</span>Angular Translate</a>
                <a target="_blank" href="http://www.chartjs.org/" class="list-group-item"><span class="badge">1.0.2</span>Chart.js</a>
                <a target="_blank" href="http://angular-ui.github.io/" class="list-group-item">Angular UI</a>
                <a target="_blank" href="http://angular-ui.github.io/bootstrap/" class="list-group-item">
                    <span class="badge">1.1.0</span>UI-Bootstrap
                </a>
                <a target="_blank" href="http://angular-ui.github.io/ui-router/" class="list-group-item">
                    <span class="badge">0.2.16</span>UI-Router
                </a>
                <a target="_blank" href="https://github.com/lorenzofox3/Smart-Table" class="list-group-item"><span class="badge">2.1.6</span>Smart-Table</a>
                <a target="_blank" href="http://jtblin.github.io/angular-chart.js/" class="list-group-item"><span class="badge">0.8.8</span>Angular Chart</a>
                <a target="_blank" href="https://github.com/angular-ui/ui-select" class="list-group-item">UI-Select</a>
            </ul>
        </div>
    </div>
</div>