<div id="viewHome">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#/home" role="button" class="navbar-brand">
                        H.I.H.
                    </a>
                </div>
                <nav class="hidden-xs">
                    <ul class="nav navbar-nav">
                        <li uib-dropdown>
                            <a role="button" uib-dropdown-toggle><span translate="Common.Home">Home</span><b class="caret"></b></a>
                            <ul uib-dropdown-menu>
                                <li><a ui-sref="home.userdetail"><span translate="Nav.UserDetail">User Detail</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="" ng-click="logout()"><span translate="Login.Logout">Logout</span></a></li>
                            </ul>
                        </li>
                        <li uib-dropdown>
                            <a role="button" uib-dropdown-toggle><span translate="Learning">Learning</span><b class="caret"></b></a>
                            <ul uib-dropdown-menu>
                                <li><a ui-sref="home.learn.pos"><span translate="Learning.POS">POS List</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header"><span translate="Learning.Word">Word</span></li>
                                <li><a ui-sref="home.learn.word.list"><span translate="Common.ListView">List View</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header"><span translate="Learning.Sentence">Sentence</span></li>
                                <li><a ui-sref="home.learn.sentence.list"><span translate="Common.ListView">List View</span></a></li>
                            </ul>
                        </li>
                        <li uib-dropdown>
                            <a role="button" uib-dropdown-toggle><span translate="Todo.Todo">Todo</span><b class="caret"></b></a>
                            <ul uib-dropdown-menu>
                                <li class="dropdown-header"><span translate="Todo.Todo">Todo</span></li>
                                <li><a ui-sref="home.learn.word.list"><span translate="Common.ListView">List View</span></a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li><a href="#/about"><span translate="Common.About">About</span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li uib-dropdown>
                            <a role="button" uib-dropdown-toggle><span translate="Common.Themes">Themes</span><b class="caret"></b></a>
                            <ul uib-dropdown-menu>
                                <li><a href="" ng-click="setTheme()"><span translate="Common.Default">Default</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="" ng-click="setTheme('cerulean')">cerulean</a></li>
                                <li><a href="" ng-click="setTheme('cosmo')">cosmo</a></li>
                                <li><a href="" ng-click="setTheme('custom')">custom</a></li>
                                <li><a href="" ng-click="setTheme('cyborg')">cyborg</a></li>
                                <li><a href="" ng-click="setTheme('darkly')">darkly</a></li>
                                <li><a href="" ng-click="setTheme('flatly')">flatly</a></li>
                                <li><a href="" ng-click="setTheme('journal')">journal</a></li>
                                <li><a href="" ng-click="setTheme('lumen')">lumen</a></li>
                                <li><a href="" ng-click="setTheme('paper')">paper</a></li>
                                <li><a href="" ng-click="setTheme('readable')">readable</a></li>
                                <li><a href="" ng-click="setTheme('sandstone')">sandstone</a></li>
                                <li><a href="" ng-click="setTheme('simplex')">simplex</a></li>
                                <li><a href="" ng-click="setTheme('slate')">slate</a></li>
                                <li><a href="" ng-click="setTheme('spacelab')">spacelab</a></li>
                                <li><a href="" ng-click="setTheme('superhero')">superhero</a></li>
                                <li><a href="" ng-click="setTheme('united')">united</a></li>
                                <li><a href="" ng-click="setTheme('yeti')">yeti</a></li>
                            </ul>
                        </li>
                        <li uib-dropdown>
                            <a role="button" uib-dropdown-toggle><span translate="Common.Language">Languages</span><b class="caret"></b></a>
                            <ul uib-dropdown-menu>
                                <li><a href="" ng-click="setLanguage('zh')">简体中文</a></li>
                                <li><a href="" ng-click="setLanguage('en')">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Navigation area ends -->

    <div class="container" ui-view></div>
</div>