<div id="viewKnowledgeList">
    <div class="page-header">
        <h2>
            <span translate="Learning.Knowledge">Knowledge</span> <small translate="Common.ListView"> List View </small>
        </h2>
    </div>

    <div class="row">
        <uib-accordion>
            <uib-accordion-group is-open="filterbar.open">
                <uib-accordion-heading>
                    Filter bar<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterbar.open, 'glyphicon-chevron-right': !filterbar.open}"></i>
                </uib-accordion-heading>

                <form class="form-horizontal" role="form" name="frmObj">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="iptFilterType" translate="Common.Type">Type:</label>
                        <div class="col-sm-10">
                            <selectize options='farTypes' name="iptFilterType" config="ftypesConfig" ng-model="filterObject.typeid"></selectize>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="iptFilterTags" translate="Common.Tags">Tags:</label>
                        <div class="col-sm-10">
                            <selectize name="iptFilterTags" options='farTags' config="ftagsConfig" ng-model="filterObject.tags"></selectize>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Maximum Results (Latest)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" min="1" max="500" ng-model="filterObject.maxhit">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default btn-primary" ng-click="refreshFilter()"
                                    translate="Common.Filter">
                                Filter
                            </button>
                            <button class="btn btn-danger" ng-click="resetFilter()" translate="Common.ResetFilter">Reset Filter</button>
                        </div>
                    </div>
                </form>
            </uib-accordion-group>
        </uib-accordion>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.New' | translate}}"
                        ng-click="newItem()" translate="Common.New">
                    New
                </button>
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.Refresh' | translate}}"
                        ng-click="refreshList(true)" translate="Common.Refresh">
                    Refresh
                </button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="displayItem()"
                        class="btn-group btn-primary" tooltip="{{'Common.Display' | translate}}"
                        translate="Common.Display"></button>
                <button type="button" ng-click="editItem()"
                        class="btn-group btn-warning" tooltip="{{'Common.Edit' | translate}}"
                        translate="Common.Edit"></button>
                <button type="button" ng-click="removeItem()"
                        class="btn-group btn-danger" tooltip="{{'Common.Delete' | translate}}"
                        translate="Common.Delete"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <table st-table="dispList" st-safe-src="arKnowledge" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th st-sort="id">ID</th>
                    <th st-sort="name">Title</th>
                    <th st-sort="cmt">Content</th>
                    <th st-sort="tag">Tags</th>
                </tr>
                <tr>
                    <th colspan="5">
                        <input st-search="" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="search" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in dispList">
                    <td cs-select="row"></td>
                    <td><a ng-href="#/home/learn/knowledge/display/{{row.id}}">{{row.id}}</a></td>
                    <td>{{row.title}}</td>
                    <td>{{row.RuntimeInfo.shortcontent}}</td>
                    <td>{{row.tags}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <cst-count></cst-count>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>