<div id="viewKnowledgeList">
    <div class="page-header">
        <h2>
            <span translate="Learning.Knowledge">Knowledge</span> <small translate="Common.ListView"> List View </small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.New' | translate}}"
                        ng-click="newItem()" translate="Common.New">
                    New
                </button>
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.Refresh' | translate}}"
                        ng-click="refreshList()" translate="Common.Refresh">
                    Refresh
                </button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="displayItem()"
                        class="btn-group btn-primary" tooltip="{{'Common.Display' | translate}}"
                        translate="Common.Display"></button>
                <button type="button" ng-click="editItem()"
                        class="btn-group btn-warning" tooltip="{{'Common.Edit' | translate}}"
                        translate="Common.Edit"></button>
                <button type="button" ng-click="removeItem()"
                        class="btn-group btn-danger" tooltip="{{'Common.Delete' | translate}}"
                        translate="Common.Delete"></button>
            </div>
        </div>
    </div>

    <table st-table="dispList" st-safe-src="arKnowledge" class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th st-sort="id">ID</th>
                <th st-sort="name">Title</th>
                <th st-sort="cmt">Content</th>
                <th st-sort="tag">Tags</th>
            </tr>
            <tr>
                <th colspan="5">
                    <input st-search="" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="search" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dispList">
                <td cs-select="row"></td>
                <td><a ng-href="#/home/learn/knowledge/display/{{row.id}}">{{row.id}}</a></td>
                <td>{{row.title}}</td>
                <td>{{row.RuntimeInfo.shortcontent}}</td>
                <td>{{row.tags}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <cst-count></cst-count>
                </td>
            </tr>
        </tfoot>
    </table>
</div>