<div id="viewPOSList">
    <div class="page-header">
        <h2>
            <span translate="Learning.POS">PoS</span> <small translate="Common.ListView"> List View </small>
        </h2>
    </div>

    <table st-table="dispList" st-safe-src="arPOS" class="table table-striped table-hover">
        <thead>
            <tr>
                <th st-sort="id" >ID</th>
                <th st-sort="name" >Name</th>
                <th st-sort="lang" >Lang</th>
                <th st-sort="nvlang">Native Name</th>
            </tr>
            <tr>
                <th colspan="4">
                    <input st-search="" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="search" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dispList">
                <td>{{row.POSAbb}}</td>
                <td>{{row.POSNativeName}}</td>
                <td>{{row.LangID}}</td>
                <td>{{row.POSName}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <cst-count></cst-count>
                </td>
            </tr>
        </tfoot>
    </table>
</div>