<div id="viewLearnHistory">
    <div class="page-header">
        <h2>
            <span translate="POS">PoS</span> <small translate="Common.ListView"> List View </small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.New' | translate}}"
                        ng-click="newItem()" translate="Common.New">
                    New
                </button>
                <button type="button" class="btn-group btn-primary"
                        tooltip="{{'Common.Refresh' | translate}}"
                        ng-click="refreshList()" translate="Common.Refresh">
                    Refresh
                </button>
            </div>
        </div>
    </div>

    <table st-table="dispList" st-safe-src="arCommandList" class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th st-sort="id" >ID</th>
                <th st-sort="name" >Name</th>
                <th st-sort="lang" >Lang</th>
                <th st-sort="nvlang">Native Name</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="serch" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dispList">
                <td cs-select="row"></td>
                <td>{{row.POSAbb}}</td>
                <td>{{row.POSNativeName}}</td>
                <td>{{row.LangID}}</td>
                <td>{{row.POSName}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    <cst-count></cst-count>
                </td>
                <td colspan="4" class="text-center" st-pagination="" st-items-by-page="20"></td>
            </tr>
        </tfoot>
    </table>
</div>