<form (ngSubmit)="onSubmit()" #detailForm="ngForm">
  <div layout="row" layout-margin>
    <md-select flex placeholder="User" [(ngModel)]="historyObject.UserId" name="userid" #userid="ngModel">
      <md-option *ngFor="let user of arUsers" [value]="user.UserId">{{ user.DisplayAs }}</md-option>
    </md-select>
  </div>
  <div layout="row" layout-margin>
    <md-input-container>
      <input type="text" mdInput [formControl]="controlObjectID" [mdAutocomplete]="objid">
    </md-input-container>

    <md-autocomplete #objid="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let obj of filteredOptions | async" [value]="Id">
          {{obj}}
      </md-option>
    </md-autocomplete>

    <!--<md-input-container flex>
      <input mdInput placeholder="Object ID" required [(ngModel)]="historyObject.ObjectId" name="objid" #objid="ngModel" (change)="onObjectIdChanged()">
      <md-hint align="start">{{historyObject.ObjectName}}</md-hint>
    </md-input-container>-->
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput placeholder="Learn date" type="date" required [(ngModel)]="historyObject.LearnDateString" name="lrndate" #lrndate="ngModel">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput type="text" placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="historyObject.Comment" name="cmt" #cmt="ngModel">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <button type="submit" md-button [disabled]="!detailForm.form.valid">{{'Common.Submit' | translate}}</button>
    <button type="reset" md-button>{{'Common.Cancel' | translate}}</button>
  </div>
</form>
