<form (ngSubmit)="onSubmit()" #detailForm="ngForm">
  <div layout="row" layout-margin>
    <md-select flex placeholder="{{'Login.User' | translate}}" [disabled]="!IsUIEditable()" [(ngModel)]="historyObject.UserId" name="userid" #userid="ngModel">
      <md-option *ngFor="let user of arUsers" [value]="user.UserId">{{ user.DisplayAs }}</md-option>
    </md-select>
  </div>

  <div layout="row" layout-margin>
    <md-input-container flex>
      <input type="text" mdInput required placeholder="{{'Learning.LearningObject' | translate}}" [mdAutocomplete]="objid" [formControl]="controlObjectID">
    </md-input-container>

    <md-autocomplete flex #objid="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let lrnobj of filteredObjects | async" [value]="lrnobj">
          {{lrnobj.Id}} - {{lrnobj.Name}}
      </md-option>
    </md-autocomplete>

    <!--<md-input-container flex>
      <input mdInput placeholder="Object ID" required [(ngModel)]="historyObject.ObjectId" name="objid" #objid="ngModel" (change)="onObjectIdChanged()">
      <md-hint align="start">{{historyObject.ObjectName}}</md-hint>
    </md-input-container>-->

  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput placeholder="{{'Common.Date' | translate}}" type="date" required [disabled]="!IsUIEditable()" [(ngModel)]="historyObject.LearnDateString" name="lrndate" #lrndate="ngModel">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput type="text" placeholder="{{'Common.Comment' | translate}}" [disabled]="!IsUIEditable()" [(ngModel)]="historyObject.Comment" name="cmt" #cmt="ngModel">
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <button type="submit" md-button [disabled]="!IsUIEditable() && !detailForm.form.valid">{{'Common.Submit' | translate}}</button>
    <button formnovalidate type="reset" md-button [disabled]="!IsUIEditable()">{{'Common.Reset' | translate}}</button>
    <button formnovalidate md-button (click)="onBack()">{{'Common.Back' | translate}}</button>
  </div>
</form>
