<h2 mat-dialog-title *ngIf="data.isCreateMode">Create Message</h2>
<h2 mat-dialog-title *ngIf="!data.isCreateMode">Read Message</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <mat-select placeholder="{{'Common.Member' | translate}}" [disabled]="!data.isCreateMode" [(ngModel)]="data.UserTo" name="usrTo">
        <mat-option *ngFor="let mem of data.Members" [value]="mem.User">
          {{mem.DisplayAs}} - {{mem.User}} 
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [disabled]="!data.isCreateMode" placeholder="{{'Common.Title' | translate}}" [(ngModel)]="data.Title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput [disabled]="!data.isCreateMode" placeholder="{{'Common.Content' | translate}}" [(ngModel)]="data.Content"></textarea>
    </mat-form-field>  
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button *ngIf="data.isCreateMode" [mat-dialog-close]="data">Save</button>
</mat-dialog-actions>
