<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Message' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div>
      <mat-toolbar>
        <button mat-icon-button (click)="onCreateMessage()" matTooltip="{{'Common.Create' | translate}}">
          <mat-icon color="primary" class="mt-3">add</mat-icon>
        </button>
        <mat-slide-toggle color="primary" [checked]="incSentByMe" (change)="onIncludeSentByMe()">{{'Common.SentByMe' | translate}}</mat-slide-toggle>
      </mat-toolbar>

      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
          </ng-container>

          <!-- User To Column -->
          <ng-container matColumnDef="userto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.UserTo}} </mat-cell>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
          </ng-container>

          <!-- SendDate Column -->
          <ng-container matColumnDef="senddate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sent </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.SendDate}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
