<div class="card">
  <div class="card-header">
    {{'Nav.Version' | translate}}
  </div>
  <div class="card-body">
    <section class="timeline">
      <ul>
        <li>
          <div>
            <time>Version 0.2</time>
            <div class="markdown-body">
              <p>Bugs fixing and Feature list: 
              Add Routing to Library;
              Add Routing to Event;
              Add Question Bank in Learn part;
              Tags support to Question Bank;
              Tags support to Finance Document Item;
              Refine the Exchange Rate definition;
              Create/Delete Finance Document - Loan;
              Finance Report for Order: Status control;
              </p>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>Version 0.1</time>
            <div class="markdown-body">
              <p>Including the functionality of Learn part and Finance part.
                Concept of 'Home' now available;
                Create/Display/Change Learn object;
                Create/Display/Delete Learn History;
                Create/Display Finance Account;
                Create/Delete Finance Document - Normal;
                Create/Delete Finance Document - Transfer;
                Create/Delete Finance Document - Advanced payment;
                Create/Delete Finance Document - Asset;
                Create/Delete Finance Document - Currency exchange;
                Report of Finance: Balance, Account, Control Center and Order;
                Finance Overview page;
                Overview page: Learn trace and Finance part;
                Redefined the whole structure - Sidenav, routing, etc;
              </p> 
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
