<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Nav.Version' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper>
      <mat-step>
        <ng-template matStepLabel>Version next (0.8.*)</ng-template>
        <div>
          <section class="mat-typography">
            <h2>Released at: TBD, around 2019.6.30</h2>
            <h1>Bugs fixing and Feature list</h1>
            <ul>
              <li>More than 900 unit tests added, more than 80% code coverage;</li>
              <li>Finance: Document Header now refactored as reusable component;</li>
              <li>Finance: Document Items now refactored as reusable component;</li>
              <li>Finance: Update Normal Document now supported;</li>
              <li>Finance: Update Transfer Document now supported;</li>
              <li>Finance: All documents now support description and Tag editing;</li>
              <li>Finance: Plan;</li>
              <li>Use ACTSLib instead of default array or other data structures;</li>
              <li>Finance: Update Normal Document now supported;</li>
            </ul>
          </section>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Version 0.7.7</ng-template>
        <div>
          <section class="mat-typography">
            <h2>Released at: 2018.12.31</h2>
            <h1>Bugs fixing and Feature list</h1>
            <ul>
              <li>Removed jQuery and Bootstrap;</li>
              <li>Replace ngx-charts with ngx-echarts;</li>
              <li>Home dashboard page layout redesign;</li>
              <li>Redesign the theme switching logic;</li>
              <li>Finance: dashboard layout redesign;</li>
              <li>Finance: Split loan document to Borrow Froma and Lend to;</li>
              <li>Finance: Split Advance payment document to Advance payment and Advance Received;</li>
              <li>Finance: now template docs (loan/adp) is part of Accounts;</li>
              <li>Finance: Loan docs now supports change attributes and will regenerate template docs;</li>
              <li>Finance: Report on accounts - Assets and Liabilities;</li>
              <li>Finance: Asset buyin document created with legacy asset option;</li>
              <li>Finance: Asset buyin document - refactored by using Reactive Form;;</li>
              <li>Finance: Asset soldout document - refactored by using Reactive Form;</li>
              <li>Finance: Asset Account Extra component - refactored by using Reactive Form;</li>
              <li>Finance: Normal document - refactored by using Reactive Form;</li>
              <li>Finance: Transfer document - refactored by using Reactive Form;</li>
              <li>Finance: Create re-estimated value upon Asset Account;</li>
              <li>Finance: new color set enabled;</li>
              <li>Event: Default sorting provided;</li>
            </ul>
          </section>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Version 0.5.5</ng-template>
        <div>
          <section class="mat-typography">
            <h2>Released at: 2018.5.7</h2>
            <h1>Bugs fixing and Feature list</h1>
            <ul>
              <li>Add English Learning;</li>
              <li>Finance Report for Account: Status;</li>
              <li>Multiple items support for Asset buy-in;</li>
              <li>Multiple items support for Asset sold-out;</li>
              <li>Manually exchange rate adjustment for posted documents;</li>
              <li>Finance Report: Monthly expense trend;</li>
              <li>Finance Report: Monthly income trend;</li>
              <li>Event: Create the event and assign to one home member;</li>
              <li>Recur event: Create the recur event;</li>
              <li>Habit event: Create the habit-like event;</li>
              <li>Learn Category Hierarchy View;</li>
              <li>Learn Object grouped by Category Hierarchy View;</li>
              <li>Finance: Transaction Type hierarchy view;</li>
              <li>Finance: Account group by Category hierarchy view;</li>
              <li>Finance Document Item group by account/category hierarchy view;</li>
              <li>Finance control center hierarchy view;</li>
              <li>Finance Document Item group by control center hierarchy view;</li>
              <li>Dynamic theme support;</li>
              <li>Version page;</li>
              <li>Splitter support in the hierarchy views;</li>
              <li>About page;</li>
              <li>Credits page;</li>
            </ul>
          </section>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Version 0.2.2</ng-template>
        <div>
          <section class="mat-typography">
            <h2>Released at: 2017.11.3</h2>
            <h1>Bugs fixing and Feature list</h1>
            <ul>
              <li>Add Routing to Library;</li>
              <li>Add Routing to Event;</li>
              <li>Add Question Bank in Learn part;</li>
              <li>Tags support to Question Bank;</li>
              <li>Tags support to Finance Document Item;</li>
              <li>Refine the Exchange Rate definition;</li>
              <li>Create/Delete Finance Document - Loan;</li>
              <li>Finance Report for Order: Status control;</li>
            </ul>
          </section>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Version 0.1.2</ng-template>
        <div>
          <section class="mat-typography">
            <h2>Released at: 2017.10.10</h2>
            <h1>Bugs fixing and Feature list</h1>
            <ul>
              <li>Including the functionality of Learn part and Finance part;</li>
              <li>Concept of 'Home' now available;</li>
              <li>Create/Display/Change Learn object;</li>
              <li>Create/Display/Delete Learn History;</li>
              <li>Create/Display Finance Account</li>
              <li>Create/Delete Finance Document - Normal</li>
              <li>Create/Delete Finance Document - Transfer</li>
              <li>Create/Delete Finance Document - Advanced payment</li>
              <li>Create/Delete Finance Document - Asset</li>
              <li>Create/Delete Finance Document - Currency exchange;</li>
              <li>Report of Finance: Balance, Account, Control Center and Order;</li>
              <li>Finance Overview page;</li>
              <li>Overview page: Learn trace and Finance part;</li>
              <li>Redefined the whole structure - Sidenav, routing, etc;</li>
            </ul>
          </section>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
