<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.ControlCenters' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.ControlCenter' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.HierarchyView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <a nz-button nzType="link" routerLink="/finance/controlcenter/create">{{'Common.Create' | transloco}}</a>
    <a nz-button nzType="link" routerLink="/finance/controlcenter/list">{{'Common.ListView' | transloco}}</a>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row *transloco="let t">
  <div class="col" nz-col nz-resizable (nzResize)="onResize($event)" [nzMinColumn]="3" [nzMaxColumn]="20"
    [nzGridColumnCount]="24" [nzSpan]="col">
    <nz-resize-handle nzDirection="right">
      <div class="right-wrap">
        <i class="right" nz-icon nzType="more" nzTheme="outline"></i>
      </div>
    </nz-resize-handle>
    <div>
      <nz-spin [nzSpinning]="isLoadingResults">
        <nz-tree [nzData]="ccTreeNodes" nzShowLine (nzClick)="onNodeClick($event)">
        </nz-tree>
      </nz-spin>
    </div>
  </div>
  <div nz-col [nzSpan]="24 - col">
    <div style="margin-left: 8px;">
      <nz-table #innerTable 
        nzShowSizeChanger
        nzSize="middle"
        [nzData]="listDocItem"
        [nzLoading]="isLoadingResults"
        [nzFrontPagination]="false"
        [nzTotal]="totalDocumentItemCount"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="fetchDocItems()"
        (nzPageSizeChange)="fetchDocItems(true)">
        <thead>
          <tr>
            <th>#</th>
            <th>Item ID</th>
            <th>{{'Common.Description' | transloco}}</th>
            <th>{{'Common.Date' | transloco}}</th>
            <th>{{'Finance.TransactionType' | transloco}}</th>
            <th>{{'Finance.Amount' | transloco}}</th>
            <th>{{'Finance.Account' | transloco}}</th>
            <th>{{'Finance.ControlCenter' | transloco}}</th>
            <th>{{'Finance.Activity' | transloco}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of innerTable.data">
            <td>{{ data.DocumentID }}</td>
            <td>{{ data.ItemID }}</td>
            <td>{{ data.DocumentDesp}} </td>
            <td>{{ data.TransactionDate }}</td>
            <td>{{ getTranTypeName(data.TransactionType) }}<small>({{data.TransactionType}})</small></td>
            <td>{{ data.Amount }} <small>{{data.Currency}}</small></td>
            <td>{{ getAccountName(data.AccountID) }} <small>({{data.AccountID}})</small></td>
            <td>{{ getControlCenterName(data.ControlCenterID) }}<small>({{data.ControlCenterID}})</small></td>
            <td>{{ getOrderName(data.OrderID) }} <small>({{data.OrderID}})</small></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
