<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500">
  <nz-page-header nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'Finance.ControlCenters' | transloco}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>{{'Finance.ControlCenter' | transloco}}</nz-page-header-title>
    <nz-page-header-subtitle>{{'Common.HierarchyView' | transloco}}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary">{{'Common.Create' | transloco}}</button>
      <a nz-button nzType="link" routerLink="/finance/controlcenter/list">{{'Common.ListView' | transloco}}</a>
    </nz-page-header-extra>
  </nz-page-header>
  
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8">
      <nz-tree [nzData]="ccTreeNodes" nzShowLine (nzClick)="nodeClick($event)">
      </nz-tree>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16" nzXl="16">
      <div>
        TBD.
      </div>
    </div>
  </div>
</nz-spin>
