<div class="jumbotron" *ngIf="!IsUserLoggedIn || !IsHomeChosed">

  <h1 class="display-3 text-dark" *ngIf="!IsUserLoggedIn">{{'Common.WelcomeToHIH' | translate}}</h1>
  <p class="lead text-dark" *ngIf="!IsUserLoggedIn">{{'Common.ShortIntroduceHIH' | translate}}</p>
  <p class="text-dark" *ngIf="!IsUserLoggedIn">{{'Common.RequireLogin' | translate}}</p>

  <h1 class="display-3 text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.WelcomeBack' | translate}}</h1>
  <p class="lead text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.ShortIntroduceHIH' | translate}}</p>
  <p class="text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.RequireChooseHome' | translate}}</p>

  <p class="lead" *ngIf="!IsUserLoggedIn">
    <button mat-raised-button color="primary" (click)="onGoLogin()">{{'Login.Login' | translate}}</button>
  </p>
  <p class="lead" *ngIf="IsUserLoggedIn && !IsHomeChosed">
    <button mat-raised-button color="primary" (click)="onGoHomeList()">{{'Nav.HomeList' | translate}}</button>
  </p>
</div>

<div class="container mt-2" *ngIf="IsUserLoggedIn && IsHomeChosed">
  <mat-toolbar>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedLearnScope" (change)="onLearnScopeChanged()">
        <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="example-spacer"></span>
    <span>{{'Nav.LearningTrace' | translate}}</span>
  </mat-toolbar>

  <!-- Show Learn history -->
  <div class="row container mt-2">
    <div class="col-12 col-md-6 container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Learning.LearningCategory' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 350px;">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="dataLrnCtgy" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxisLabel]="xLearnCtgyAxisLabel" [yAxisLabel]="yLearnCtgyAxisLabel" [legend]="true" [legendTitle]="legendTitle">
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Nav.Users' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 350px;">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="dataLrnUser" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxisLabel]="xLearnUserAxisLabel" [yAxisLabel]="yLearnUserAxisLabel" [legend]="true" [legendTitle]="legendTitle">
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr />

  <!-- Show Finance transaction type report -->
  <div class="row container mt-2">
    <mat-toolbar>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedFinanceScope" (change)="onFinanceScopeChanged()">
          <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="example-spacer"></span>
      <span>{{'Nav.FinanceTrace' | translate}}</span>
    </mat-toolbar>

    <div class="container mt-2">
      <div class="row container">
        <div class="col-12 col-md-6 container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Finance.Incoming' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [label]="totalLabel" [results]="dataFinTTIn">
              </ngx-charts-advanced-pie-chart>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 col-md-6 container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Finance.Outgoing' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [label]="totalLabel" [results]="dataFinTTOut">
              </ngx-charts-advanced-pie-chart>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
