<div class="jumbotron" *ngIf="!IsUserLoggedIn || !IsHomeChosed">

  <h1 class="display-3 text-dark" *ngIf="!IsUserLoggedIn">{{'Common.WelcomeToHIH' | translate}}</h1>
  <p class="lead text-dark" *ngIf="!IsUserLoggedIn">{{'Common.ShortIntroduceHIH' | translate}}</p>
  <p class="text-dark" *ngIf="!IsUserLoggedIn">{{'Common.RequireLogin' | translate}}</p>

  <h1 class="display-3 text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.WelcomeBack' | translate}}</h1>
  <p class="lead text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.ShortIntroduceHIH' | translate}}</p>
  <p class="text-dark" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.RequireChooseHome' | translate}}</p>

  <p class="lead" *ngIf="!IsUserLoggedIn">
    <button mat-raised-button color="primary" (click)="onGoLogin()">{{'Login.Login' | translate}}</button>
  </p>
  <p class="lead" *ngIf="IsUserLoggedIn && !IsHomeChosed">
    <button mat-raised-button color="primary" (click)="onGoHomeList()">{{'Nav.HomeList' | translate}}</button>
  </p>
</div>

<div class="mt-2" *ngIf="IsUserLoggedIn && IsHomeChosed">
  <!-- Key figures -->
  <div class="row mt-2">
    <mat-toolbar>
      <span class="example-spacer"></span>
      <span>{{'Common.KeyFigure' | translate}}</span>
    </mat-toolbar>
    <div style="margin: 10px;">
      <section class="mat-typography">
        <p class="mat-body-1">{{'Common.TotalAssets' | translate}}: <span style="color:green; font-weight:800;">{{_homeDefService.keyFigure?.TotalAssets | currency: baseCurr}}</span></p>
        <p class="mat-body-1">{{'Common.TotalLiabilities' | translate}}: <span style="color:red; font-weight:800;">{{_homeDefService.keyFigure?.TotalLiabilities | currency: baseCurr}}</span></p>
        <p class="mat-body-2">{{'Common.TotalAssetOfMyAccounts' | translate}}: <span style="color:green; font-weight:800;">{{_homeDefService.keyFigure?.TotalAssetsUnderMyName | currency: baseCurr}}</span></p>
        <p class="mat-body-2">{{'Common.TotalLiabilitiesOfMyAccounts' | translate}}: <span style="color:red; font-weight:800;">{{_homeDefService.keyFigure?.TotalLiabilitiesUnderMyName | currency: baseCurr}}</span></p>
        <p class="mat-caption">{{'Common.MyUnreadMessages' | translate}}: <a mat-button style="color:red; font-weight:800;" (click)="onNvgToMsgList()">{{_homeDefService.keyFigure?.TotalUnreadMessage}}</a></p>
        <p class="mat-caption">{{'Common.MyCompletedEvents' | translate}}: {{_homeDefService.keyFigure?.MyCompletedEvents}}</p>
        <p class="mat-caption">{{'Common.MyUncompletedEvents' | translate}}: <a mat-button style="color:red; font-weight:800;" (click)="onNvgToEventList()">{{_homeDefService.keyFigure?.MyUnCompletedEvents}}</a></p>
      </section>
    </div>
  </div>
  
  <!-- Show Learn history -->
  <div class="row mt-2">
    <mat-toolbar>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedLearnScope" (selectionChange)="onLearnScopeChanged()">
          <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="example-spacer"></span>
      <span>{{'Nav.LearningTrace' | translate}}</span>
    </mat-toolbar>

    <div class="row mt-2 w-100">
      <div class="col-12 col-md-6 container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'Learning.LearningCategory' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 350px;">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="dataLrnCtgy" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true"
              [showYAxisLabel]="true" [xAxisLabel]="xLearnCtgyAxisLabel" [yAxisLabel]="yLearnCtgyAxisLabel" [legend]="true" [legendTitle]="legendTitle">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-12 col-md-6 container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'Nav.Users' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 350px;">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="dataLrnUser" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true"
              [showYAxisLabel]="true" [xAxisLabel]="xLearnUserAxisLabel" [yAxisLabel]="yLearnUserAxisLabel" [legend]="true" [legendTitle]="legendTitle">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- Show Finance transaction type report -->
  <div class="row mt-2">
    <mat-toolbar>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedFinanceScope" (selectionChange)="onFinanceScopeChanged()">
          <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedTranTypeLevel" (selectionChange)="onFinanceTranTypeChartRedraw()">
          <mat-option *ngFor="let ttl of _uistatusService.TranTypeLevelStrings" [value]='ttl.value'>{{ttl.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle color="primary" [checked]="excludeTransfer" (change)="onFinanceExcludeTransfer()">{{'Finance.ExcludeTransfer' | translate}}</mat-slide-toggle>
      <span class="example-spacer"></span>
      <span>{{'Nav.FinanceTrace' | translate}}</span>
    </mat-toolbar>

    <div class="row mt-2 w-100">
      <div class="col-12 col-md-6 container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'Finance.Incoming' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 350px;">
            <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [label]="totalLabel" [results]="dataFinTTIn" (select)="onChartIncomeClick($event)">
            </ngx-charts-advanced-pie-chart>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'Finance.Outgoing' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 350px;">
            <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [label]="totalLabel" [results]="dataFinTTOut" (select)="onChartIncomeClick($event)">
            </ngx-charts-advanced-pie-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
