.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
 }
  
 .table-header {
   min-height: 64px;
   display: flex;
   align-items: center;
   padding-left: 24px;
   font-size: 20px;
 }

.mat-table {
  max-height: 600px;
}

.cell-icon {
  padding: 0 3px;
}

.mat-column-id {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-category {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-name {
  min-width: 150px;
  max-width: 200px;
}

