<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{'Finance.Documents' | transloco}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.FreelyMassCreateNormalDocs' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.FreelyMassCreateNormalDocs' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.Create' | transloco}}</nz-page-header-subtitle>
</nz-page-header>

<div *transloco="let t">
  <div class="steps-content">
    <!-- Header -->
    <div nz-row [hidden]="currentStep !== 0">
      <form nz-form [formGroup]="itemsFormGroup">
        <div formArrayName="items">
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel *ngFor="let item of itemsFormGroup?.get('items')['controls']; let i=index" 
              [nzHeader]="i" [nzActive]="true" [nzExtra]="extraTpl">
              <hih-document-normal-mass-create-item 
                [itemFormGroup]="itemsFormGroup?.get('items')['controls'][i]"
                [arUIAccounts]="arUIAccounts"
                [arUIOrders]="arUIOrders"
                [arControlCenters]="arControlCenters"
                [arTranType]="arTranType">
              </hih-document-normal-mass-create-item>
            </nz-collapse-panel>
          </nz-collapse>
          <ng-template #extraTpl>
            <!-- You can use stopPropagation if you don't want the panel to toggle -->
            <i nz-icon nzType="plus" (click)="$event.stopPropagation(); createNewItem();"></i>
            <i nz-icon nzType="copy" (click)="$event.stopPropagation(); createNewItem(i);"></i>
            <i nz-icon nzType="minus" (click)="$event.stopPropagation(); removeItem(i);"></i>
          </ng-template>
        </div>  
      </form>
    </div>
  </div>

  <div class="steps-action">
    <button nz-button (click)="onSubmit()">
      <i nz-icon nzType="save"></i>{{'Common.Save' | transloco}}
    </button>
  </div>
</div>
