<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a></nz-breadcrumb-item
    >
    <nz-breadcrumb-item>
      <a routerLink="/finance/document/list">{{ 'Finance.Documents' | transloco }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'Finance.FreelyMassCreateNormalDocs' | transloco }}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{ 'Finance.FreelyMassCreateNormalDocs' | transloco }}</nz-page-header-title>
  <nz-page-header-subtitle>{{ 'Common.Create' | transloco }}</nz-page-header-subtitle>
</nz-page-header>

<div *transloco="let t">
  <nz-steps [nzCurrent]="currentStep">
    <nz-step [nzTitle]="'Finance.Items' | transloco"></nz-step>
    <nz-step [nzTitle]="'Common.Confirm' | transloco"></nz-step>
    <nz-step [nzTitle]="'Common.Result' | transloco"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <!-- Step 0: Item -->
    <div nz-row [hidden]="currentStep !== 0">
      <form nz-form [formGroup]="itemsFormGroup!" class="item-form-group">
        <div formArrayName="items">
          <nz-collapse [nzBordered]="false">
            @for (item of getItemControls; track $index; let i = $index, isFirst = $first, isLast = $last) {
              <nz-collapse-panel [nzHeader]="headerTpl" [nzActive]="true">
                <hih-document-normal-mass-create-item
                  [itemFormGroup]="getItemControls[i]"
                  [arUIAccounts]="arUIAccounts"
                  [arUIOrders]="arUIOrders"
                  [arControlCenters]="arControlCenters"
                  [baseCurrency]="baseCurrency"
                  [arTranType]="arTranType"
                >
                </hih-document-normal-mass-create-item>
                <ng-template #headerTpl>
                  <button nz-button nzType="primary" (click)="onCopyItem($event, i)">
                    <i nz-icon nzType="copy"></i>
                  </button>
                  <button nz-button nzType="default" (click)="onCreateNewItem($event)">
                    <i nz-icon nzType="plus"></i>
                  </button>
                  <button nz-button nzDanger [disabled]="isFirst && isLast" (click)="onRemoveItem($event, i)">
                    <i nz-icon nzType="minus"></i>
                  </button>
                </ng-template>
              </nz-collapse-panel>
            }
          </nz-collapse>
        </div>
      </form>
    </div>

    <!-- Step 1: Confirm -->
    <div nz-row [hidden]="currentStep !== 1">
      @for (docinfo of confirmInfo; track $index; let isConfirmLast = $last, confirmIndex = $index) {
        <div style="width: 100%">
          <nz-descriptions [nzTitle]="t('Finance.Document') + ' #' + (confirmIndex + 1)" nzBordered [nzColumn]="4">
            <nz-descriptions-item [nzTitle]="'Common.Date' | transloco" [nzSpan]="4">
              {{ docinfo.TranDateFormatString }}
            </nz-descriptions-item>
            @for (iteminfo of docinfo.Items; track $index) {
              <div>
                <nz-descriptions-item [nzTitle]="'Finance.Account' | transloco">
                  {{ getAccountName(iteminfo.AccountId!) }} ({{ iteminfo.AccountId }})
                </nz-descriptions-item>
                <nz-descriptions-item [nzTitle]="'Finance.TransactionType' | transloco">
                  {{ getTranTypeName(iteminfo.TranType!) }} ({{ iteminfo.TranType }})
                </nz-descriptions-item>
                <nz-descriptions-item [nzTitle]="'Finance.Amount' | transloco" [nzSpan]="2">
                  {{ iteminfo.TranAmount }}
                  <span style="margin-left: 3px">{{ baseCurrency }}</span>
                </nz-descriptions-item>
                <nz-descriptions-item [nzTitle]="'Finance.ControlCenter' | transloco">
                  {{ getControlCenterName(iteminfo.ControlCenterId!) }} ({{ iteminfo.ControlCenterId }})
                </nz-descriptions-item>
                <nz-descriptions-item [nzTitle]="'Finance.Activity' | transloco" [nzSpan]="3">
                  {{ getOrderName(iteminfo.OrderId!) }} ({{ iteminfo.OrderId }})
                </nz-descriptions-item>
              </div>
            }
          </nz-descriptions>
          @if (!isConfirmLast) {
            <nz-divider></nz-divider>
          }
        </div>
      }
    </div>

    <!-- Step 2: Result -->
    <div nz-row [hidden]="currentStep !== 2">
      @if (docIdFailed.length <= 0) {
        <div>
          <nz-result
            nzStatus="success"
            [nzTitle]="'Finance.DocumentPosted' | transloco"
            [nzSubTitle]="'Finance.DocumentPosted' | transloco"
          >
            <div nz-result-content>
              @for (pdocinfo of docIdCreated; track $index; let isPostDocLast = $last, postDocIndex = $index) {
                <div>
                  <nz-descriptions [nzTitle]="t('Finance.Document') + ' #' + pdocinfo.Id" nzBordered [nzColumn]="4">
                    <nz-descriptions-item [nzTitle]="'Common.Date' | transloco" [nzSpan]="3">
                      {{ pdocinfo.TranDateFormatString }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="ID" [nzSpan]="1">
                      <button nz-button nzType="link" (click)="onDisplayCreatedDoc(pdocinfo.Id!)">
                        {{ pdocinfo.Id }}
                      </button>
                    </nz-descriptions-item>
                  </nz-descriptions>
                  @if (!isPostDocLast) {
                    <nz-divider></nz-divider>
                  }
                </div>
              }
            </div>
            <div nz-result-extra>
              <button nz-button (click)="onBackToListView()">Back to List View</button>
            </div>
          </nz-result>
        </div>
      }
      @if (docIdFailed.length > 0) {
        <div>
          <nz-result
            [nzTitle]="'Common.SubmissionFailed' | transloco"
            nzStatus="error"
            [nzSubTitle]="'Common.ResubmissionHint' | transloco"
          >
            <div nz-result-content>
              @for (pdocinfo of docIdCreated; track $index; let isPostDocLast = $last, postDocIndex = $index) {
                <div>
                  <nz-descriptions [nzTitle]="t('Finance.Document') + ' #' + pdocinfo.Id" nzBordered [nzColumn]="4">
                    <nz-descriptions-item [nzTitle]="'Common.Date' | transloco" [nzSpan]="3">
                      {{ pdocinfo.TranDateFormatString }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="ID" [nzSpan]="1">
                      <button nz-button nzType="link" (click)="onDisplayCreatedDoc(pdocinfo.Id!)">
                        {{ pdocinfo.Id }}
                      </button>
                    </nz-descriptions-item>
                  </nz-descriptions>
                  @if (!isPostDocLast) {
                    <nz-divider></nz-divider>
                  }
                </div>
              }
              <nz-divider></nz-divider>
              @for (fdocinfo of docIdFailed; track $index; let isFailedDocLast = $last, failDocIndex = $index) {
                <div>
                  <nz-descriptions [nzTitle]="t('Finance.Document') + ' #' + failDocIndex" nzBordered [nzColumn]="4">
                    <nz-descriptions-item [nzTitle]="'Common.Date' | transloco" [nzSpan]="4">
                      {{ fdocinfo.TranDateFormatString }}
                    </nz-descriptions-item>
                  </nz-descriptions>
                  @if (!isFailedDocLast) {
                    <nz-divider></nz-divider>
                  }
                </div>
              }
            </div>
            <div nz-result-extra>
              <button nz-button nzType="primary" (click)="onResubmitFailedItems()">Resent Failed Items</button>
              <button nz-button (click)="onBackToListView()">Back to List View</button>
            </div>
          </nz-result>
        </div>
      }
    </div>
  </div>

  <div class="steps-action">
    @if (currentStep > 0 && currentStep < 2) {
      <button nz-button (click)="pre()"><i nz-icon nzType="left"></i>{{ 'Common.PreviousButton' | transloco }}</button>
    }
    @if (currentStep < 2) {
      <button nz-button nzType="primary" id="button_next_step" (click)="next()" [disabled]="!nextButtonEnabled">
        {{ 'Common.NextButton' | transloco }}<i nz-icon nzType="right"></i>
      </button>
    }
  </div>
</div>
