<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{'Finance.Documents' | transloco}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.MassCreateRecurredNormalDocs' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.MassCreateRecurredNormalDocs' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.Create' | transloco}}</nz-page-header-subtitle>
</nz-page-header>
