<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{'Finance.Documents' | transloco}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Finance.MassCreateRecurredNormalDocs' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.MassCreateRecurredNormalDocs' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.Create' | transloco}}</nz-page-header-subtitle>
</nz-page-header>

<div *transloco="let t">
  <nz-steps [nzCurrent]="currentStep">
    <nz-step [nzTitle]="'Common.SearchCriteria' | transloco"></nz-step>
    <nz-step [nzTitle]="'Existing Items'"></nz-step>
    <nz-step [nzTitle]="'Default Values'"></nz-step>
    <nz-step [nzTitle]="'Common.Result' | transloco"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <!-- Step 0: Search Criteria -->
    <form nz-form [formGroup]="searchFormGroup" [hidden]="currentStep !== 0">
      <div nz-row [nzGutter]="8">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <!-- Date Range -->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{'Common.Date' | transloco}}</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="dateRangeErrorTpl">
                <nz-range-picker formControlName="dateRangeControl"></nz-range-picker>
                <ng-template #dateRangeErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{'Common.FieldIsMandatory' | transloco}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <!-- Repeat frequency -->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{'Common.RepeatFrequency' | transloco}}</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="frqTpl">
                <nz-select formControlName="frqControl">
                  <nz-option *ngFor="let rt of arFrequencies" [nzValue]="rt.value" [nzLabel]="t(rt.i18nterm)">
                  </nz-option>
                </nz-select>
                <ng-template #frqTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{'Common.FieldIsMandatory' | transloco}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <!-- Transaction type -->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{'Finance.TransactionType' | transloco}}</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="tranTypeErrorTpl">
                <nz-select formControlName="tranTypeControl">
                  <nz-option *ngFor="let tt of arTranType" [nzValue]='tt.Id' [nzLabel]="tt.FullDisplayText"></nz-option>
                </nz-select>
                <ng-template #tranTypeErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{'Common.FieldIsMandatory' | transloco}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label nz-checkbox formControlName="includSubTranTypeControl">
                <span>Include Children Transaction Types</span>
              </label>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <!-- Control center -->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{'Finance.ControlCenter' | transloco}}</nz-form-label>
              <nz-form-control [nzSpan]="12">
                <nz-select formControlName="ccControl">
                  <nz-option *ngFor="let tt of arControlCenters" [nzValue]='tt.Id' [nzLabel]="tt.Name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <!-- Order -->
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{'Finance.Activity' | transloco}}</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback>
                <nz-select formControlName="orderControl">
                  <nz-option *ngFor="let tt of arUIOrders" [nzValue]='tt.Id' [nzLabel]="tt.Name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </form>

    <!-- Step 1: Existing documents -->
    <div nz-row [hidden]="currentStep !== 1">
      <nz-table #basicTable
        [nzLoading]="isLoadingResults"
        [nzData]="listExistingDocItems">
        <thead>
          <tr>
            <th>Doc ID</th>
            <th>Item ID</th>
            <th>Date</th>
            <th>Desp</th>
            <th>{{'Finance.Amount' | transloco}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.DocumentID}}</td>
            <td>{{data.ItemID}}</td>
            <td>{{data.TransactionDate}}</td>
            <td>{{data.DocumentDesp}}</td>
            <td>{{data.OriginAmount}}<span style="padding-left: 3px;">{{data.Currency}}</span></td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <!-- Step 2: Default values -->
    <div nz-row [hidden]="currentStep !== 2">

    </div>
  </div>

  <div class="steps-action">
    <button nz-button (click)="pre()" *ngIf="currentStep > 0 && currentStep < 3">
      <i nz-icon nzType="left"></i>{{'Common.PreviousButton' | transloco}}
    </button>
    <button nz-button nzType="primary" id="button_next_step" (click)="next()" [disabled]="!nextButtonEnabled"
      *ngIf="currentStep < 3">
      {{'Common.NextButton' | transloco}}<i nz-icon nzType="right"></i>
    </button>
  </div>
</div>
