<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.Document' | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-accordion class="example-headers-align">
      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Finance.Header' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Finance.Header' | translate}}
            <md-icon>account_circle</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <!-- Doc. type -->
        <md-select class="demo-full-width" placeholder="{{'Finance.DocumentType' | translate}}" 
          [disabled]="!isFieldChangable" [(ngModel)]="detailObject.DocType" name="doctype">
          <md-option *ngFor="let dt of _storageService.DocumentTypes" [value]="dt.Id">
            {{dt.Name}} 
          </md-option>
        </md-select>

        <!-- Currency -->
        <md-select class="demo-full-width" placeholder="{{'Finance.Currency' | translate}}" 
          [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr" name="curr">
          <md-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
              {{cr.Symbol}} - {{cr.Name | translate}}
          </md-option>
        </md-select>

        <!-- Tran date -->
        <md-form-field>
          <input mdInput [(ngModel)]="detailObject.TranDate" [mdDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
          <md-datepicker-toggle mdSuffix [for]="tdpicker"></md-datepicker-toggle>
          <md-datepicker #tdpicker></md-datepicker>
        </md-form-field>        
        
        <!-- Desp -->
        <md-form-field class="demo-full-width">
          <input mdInput type="text" placeholder="{{'Common.Description' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp" name="hdesp">
        </md-form-field>

        <!-- Exchange rate -->
        <md-form-field class="demo-full-width" *ngIf="isForeignCurrency">
          <input mdInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.ExgRate" name="hexrate">
        </md-form-field>

        <!-- Planned Exchange rate -->
        <div *ngIf="isForeignCurrency">
          <md-slide-toggle [(checked)]="detailObject.ExgRate_Plan" [disabled]="!isFieldChangable">{{'Finance.ProposedExchangeRate' | translate}}</md-slide-toggle>
        </div>        
        
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Finance.Items' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Finance.Items' | translate}}
            <md-icon>map</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-toolbar>
          <button md-icon-button color="primary" (click)="onCreateDocItem()"><md-icon md-icon-button color="primary">add</md-icon></button>
        </md-toolbar>
        <div class="table-container mat-elevation-z8">
          <md-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container mdColumnDef="ItemId">
              <md-header-cell *mdHeaderCellDef>#</md-header-cell>
              <md-cell *mdCellDef="let row">
                <button md-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteDocItem(row)"><md-icon class="example-icon">delete</md-icon></button>
                <span class="example-spacer"></span>
                <md-form-field>
                  <input mdInput type="number" required placeholder="#" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.ItemId" name="itid">
                </md-form-field>
              </md-cell>
            </ng-container>

            <!-- AccountID Column -->
            <ng-container mdColumnDef="AccountId">
              <md-header-cell *mdHeaderCellDef>{{'Finance.Account' | translate}}</md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-select placeholder="{{'Finance.Account' | translate}}" 
                  [disabled]="!isFieldChangable" [(ngModel)]="row.AccountId" name="itacnt">
                  <md-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
                    {{acnt.Name}}
                  </md-option>
                </md-select>
              </md-cell>
            </ng-container>

            <!-- TranType Column -->
            <ng-container mdColumnDef="TranType">
              <md-header-cell *mdHeaderCellDef>{{'Finance.TransactionType' | translate}}</md-header-cell>
              <md-cell *mdCellDef="let row"> 
                <md-select placeholder="{{'Finance.TransactionType' | translate}}" 
                  [disabled]="!isFieldChangable" [(ngModel)]="row.TranType" name="ittt">
                  <md-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                    {{tt.Name}}
                  </md-option>
                </md-select>
              </md-cell>
            </ng-container>
              
            <!-- Amount Column -->
            <ng-container mdColumnDef="Amount">
              <md-header-cell *mdHeaderCellDef>{{'Finance.Amount' | translate}}</md-header-cell>
              <md-cell *mdCellDef="let row"> 
                <md-form-field>
                  <input mdInput type="number" required placeholder="{{'Finance.Amount' |translate}}" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.TranAmount" name="itamt">
                </md-form-field>
              </md-cell>
            </ng-container>
              
            <!-- Comment Column -->
            <ng-container mdColumnDef="Desp">
              <md-header-cell *mdHeaderCellDef> {{'Common.Comment' | translate}} </md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-form-field class="demo-full-width">
                  <input mdInput type="text" required placeholder="{{'Common.Description' |translate}}" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Desp" name="itdesp">
                </md-form-field> 
              </md-cell>
            </ng-container>

            <!-- Control center Column -->
            <ng-container mdColumnDef="ControlCenter">
              <md-header-cell *mdHeaderCellDef> {{'Finance.ControlCenter' | translate}} </md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-select placeholder="{{'Finance.ControlCenter' | translate}}" 
                  [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="itcc">
                  <md-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                    {{tt.Name}}
                  </md-option>
                </md-select>
              </md-cell>
            </ng-container>

            <!-- Order Column -->
            <ng-container mdColumnDef="Order">
              <md-header-cell *mdHeaderCellDef> {{'Finance.Order' | translate}} </md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-select placeholder="{{'Finance.Order' | translate}}" 
                  [disabled]="!isFieldChangable" [(ngModel)]="row.OrderId" name="itord">
                  <md-option *ngFor="let tt of _storageService.Orders" [value]="tt.Id">
                    {{tt.Name}}
                  </md-option>
                </md-select>
              </md-cell>
            </ng-container>
            
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
        </div>
  
        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </md-panel-title>
          <md-panel-description>
              {{'Common.ReviewForSubmit' | translate}}
            <md-icon>date_range</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-card-content>
</md-card>
