.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.demo-full-width {
  width: 100%;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
 }
  
.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-header-row, .mat-row {
  min-width: 800px;
}

.example-icon {
  padding: 0 3px;
}

.example-spacer {
  flex: 1 1 auto;
}

.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.mat-row:hover {
  background-color: #ffff99;
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.mat-row:nth-child(odd) {
  background-color: white;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}
