<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.ControlCenter' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.HierarchyView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="accent">
      <a mat-icon-button routerLink="/finance/controlcenter/create" routerLinkActive="active" matTooltip="{{'Common.Create' | translate}}"><mat-icon color="primary">add</mat-icon></a>
      <span class="toolbar-spacer"></span>
      <a mat-button routerLink="/finance/controlcenter" routerLinkActive="active" matTooltip="{{'Common.ListView' | translate}}">{{'Common.ListView' | translate}}</a>
    </mat-toolbar>

    <div class="achih-dataloading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row" fxLayout.xs="column" style="height:800px" ngxSplit="row">
      <div fxFlex.xs="50%" fxFlex.gt-md="20%" fxFlex.lg="20%" ngxSplitArea>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname}}</a>
          </mat-tree-node>
              
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname}}
              <span [matBadge]="node.childamount" matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="accent" [matBadgeHidden]="node.childamount <= 0">
              </span>
            </a>
          </mat-tree-node>
        </mat-tree>
      </div>

      <div class="handle handle-row" ngxSplitHandle>
        <i class="material-icons">&#xE25D;</i>
      </div>
      
      <div fxFlex.xs="50%" fxFlex.gt-md="80%" fxFlex.lg="80%" ngxSplitArea>
        <div *ngIf="curNode">
          <mat-toolbar color="primary">
            <span>{{'Finance.ControlCenter' | translate}} - {{curNode?.displayname}}</span>
            <span class="toolbar-spacer"></span>
            <mat-form-field class="finaccounttree-toolbar-item">
              <mat-select color="accent" [(ngModel)]="selectedCCScope">
                <mat-option *ngFor="let scp of _uiStatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-toolbar>

          <hih-fin-docitem-by-cc [selectedControlCenter]="curNode?.id" [selectedScope]="selectedCCScope"></hih-fin-docitem-by-cc>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
