.grid-container {
  //display: flex;
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  /*text-align: center;*/
  justify-content:space-between;
}

.flex-spacer {
  flex-grow: 1;
}

.table-container {
  // display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 530px;
}

.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  min-height: 200px;
  max-height: 400px;
}

.mat-column-DocID {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranType {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranAmount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-Balance {
  min-width: 100px;
  max-width: 150px;
}

.mat-form-field {
  margin: 5px;
}

.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.trend-chart {
  width: 96%;
  height: 450px;
}

.docitemoverview-toolbar-item {
  width: auto;
}
