<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Dashboard' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="primary">
      <mat-form-field>
        <mat-select color="accent" class="mt-1" [(ngModel)]="selectedTmpScope" (selectionChange)="onTmpDocsRefresh()">
          <mat-option *ngFor="let scp of _uiStatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
    
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="550px">
        <!-- Grid 1: Template docs. -->
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{'Common.Todo' | translate}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-icon-button (click)="onTmpDocsRefresh()" matTooltip="{{'Common.Refresh' | translate}}">
                    <mat-icon color="accent" class="toolbar-icon">refresh</mat-icon>
                  </button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
              <div class="table-container mat-elevation-z8 mt-2">
                <mat-table #tableTmpDoc [dataSource]="dataSourceTmpDoc">
                  <!-- DocID column -->
                  <ng-container matColumnDef="DocID">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button color="primary" (click)="onPostTmpDocument(row)">
                        <mat-icon class="toolbar-icon">save</mat-icon>
                      </button>
                      {{row.DocId}}
                    </mat-cell>
                  </ng-container>

                  <!-- TranType -->
                  <ng-container matColumnDef="TranType">
                    <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-form-field>
                        <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
                          <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                            <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <!-- TranDate Column -->
                  <ng-container matColumnDef="TranDate">
                    <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.TranDateFormatString }}
                    </mat-cell>
                  </ng-container>

                  <!-- Amount Column -->
                  <ng-container matColumnDef="TranAmount">
                    <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.TotalAmount?.toFixed(2) }}
                    </mat-cell>
                  </ng-container>

                  <!-- Desp Column -->
                  <ng-container matColumnDef="Desp">
                    <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.Desp }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedTmpDocColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedTmpDocColumns;"></mat-row>
                </mat-table>
                
                <mat-paginator #paginatorTmpDoc [length]="tmpDocs.length" [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[4, 8, 20, 40]">
                </mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <!-- Weekly trend -->
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{'Common.Weekly' | translate}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div echarts [options]="weeklyTrendChartOption | async" class="trend-chart"></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <!-- Daily trend -->
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{'Common.Daily' | translate}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div echarts [options]="dailyTrendChartOption | async" class="trend-chart"></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card-content>
</mat-card>
