<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Common.Overview' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Common.Todo' | translate}}
        </ng-template>

        <mat-toolbar class="mt-2">
          <button mat-icon-button (click)="onOverviewRefresh()" matTooltip="{{'Common.Refresh' | translate}}"><mat-icon color="accent" class="example-icon">refresh</mat-icon></button>
        </mat-toolbar>
    
        <div class="table-container mat-elevation-z8 mt-2">
          <mat-table #tableTmpDoc [dataSource]="dataSourceTmpDoc">
            <!-- DocID column -->
            <ng-container matColumnDef="DocID">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="onPostTmpDocument(row)"><mat-icon class="example-icon">save</mat-icon></button>
                {{ row.DocId }}
              </mat-cell>
            </ng-container>

            <!-- TranType -->
            <ng-container matColumnDef="TranType">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranDate Column -->
            <ng-container matColumnDef="TranDate">
              <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranDateFormatString }}
              </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="TranAmount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranAmount?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <!-- Desp Column -->
            <ng-container matColumnDef="Desp">
              <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Desp }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedTmpDocColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedTmpDocColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginatorTmpDoc [length]="TmpDocs.length" [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
        
      </mat-tab> 

      <mat-tab>
        <ng-template mat-tab-label>
          {{'Finance.Accounts' | translate}}
        </ng-template>
        <mat-toolbar>
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" [(ngModel)]="selectedAccount" name="rptacnt" (change)="onAccountSelectChange()">
              <mat-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
                {{acnt.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar>
        <div class="table-container mat-elevation-z8">
          <mat-table #tableByAccount [dataSource]="dataSourceByAccount">
            <!-- DocID column -->
            <ng-container matColumnDef="DocID">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.DocId }}
              </mat-cell>
            </ng-container>

            <!-- TranType -->
            <ng-container matColumnDef="TranType">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranDate Column -->
            <ng-container matColumnDef="TranDate">
              <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranDateFormatString }}
              </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="TranAmount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranAmount_LC?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <!-- Desp Column -->
            <ng-container matColumnDef="Desp">
              <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Desp }}
              </mat-cell>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="Balance">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Balance?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedByAccountColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedByAccountColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginatorByAccount [length]="DocItemsByAccount.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
            {{'Finance.ControlCenters' | translate}}
        </ng-template>
        <mat-toolbar>
          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" [(ngModel)]="selectedControlCenter" name="rptctrlctr" (change)="onControlCenterSelectChange()">
              <mat-option *ngFor="let cc of _storageService.ControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar>

        <div class="table-container mat-elevation-z8">
          <mat-table #tableByControlCenter [dataSource]="dataSourceByControlCenter">
            <!-- DocID column -->
            <ng-container matColumnDef="DocID">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.DocId }}
              </mat-cell>
            </ng-container>

            <!-- TranType -->
            <ng-container matColumnDef="TranType">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranDate Column -->
            <ng-container matColumnDef="TranDate">
              <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranDateFormatString }}
              </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="TranAmount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranAmount_LC?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <!-- Desp Column -->
            <ng-container matColumnDef="Desp">
              <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Desp }}
              </mat-cell>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="Balance">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Balance?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedByControlCenterColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedByControlCenterColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginatorByControlCenter [length]="DocItemsByControlCenter.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
            {{'Finance.Orders' | translate}}
        </ng-template>
        <mat-toolbar>
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" [(ngModel)]="selectedOrder" name="rptorder" (change)="onOrderSelectChange()">
              <mat-option *ngFor="let ord of _storageService.Orders" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar>

        <div class="table-container mat-elevation-z8">
          <mat-table #tableByOrder [dataSource]="dataSourceByOrder">
            <!-- DocID column -->
            <ng-container matColumnDef="DocID">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.DocId }}
              </mat-cell>
            </ng-container>

            <!-- TranType -->
            <ng-container matColumnDef="TranType">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranDate Column -->
            <ng-container matColumnDef="TranDate">
              <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranDateFormatString }}
              </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="TranAmount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.TranAmount_LC?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <!-- Desp Column -->
            <ng-container matColumnDef="Desp">
              <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Desp }}
              </mat-cell>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="Balance">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.Balance?.toFixed(2) }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedByOrderColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedByOrderColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginatorByOrder [length]="DocItemsByOrder.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
