<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>Insight</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{ 'Finance.Document' | transloco }}</nz-page-header-title>
  <nz-page-header-subtitle>Insight</nz-page-header-subtitle>
  <nz-page-header-extra> </nz-page-header-extra>
</nz-page-header>

<nz-divider nzText="With Restrictions"></nz-divider>

<p>Restriction</p>

<nz-divider nzText="With Options"></nz-divider>

<nz-segmented [nzOptions]="options" (nzValueChange)="handleOptionChange($event)"></nz-segmented>

<nz-divider nzText="With Data"></nz-divider>

