<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>Insight</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{ 'Finance.Document' | transloco }}</nz-page-header-title>
  <nz-page-header-subtitle>Insight</nz-page-header-subtitle>
  <nz-page-header-extra> </nz-page-header-extra>
</nz-page-header>

<nz-divider></nz-divider>

<div>
  <div>Date Range: {{insideDateRangeString}}</div>
  <div *ngIf="insightOption?.TransactionDirection !== undefined">Income: {{insightOption?.TransactionDirection}}</div>
  <div nzTooltipTitle="prompt text" nz-tooltip *ngIf="insightOption?.ExcludeTransfer !== undefined">Exclude Transfer. Deprec: {{insightOption?.ExcludeTransfer}}</div>  
</div>

<nz-divider nzText="Options"></nz-divider>

<nz-transfer
  [nzDataSource]="listGroupFields"
  [nzTitles]="['Available', 'Target']"
  [nzTargetKeys]="selectedGroupFieldKeys"
  (nzChange)="onTransferChanged($event)">
</nz-transfer>

<nz-divider></nz-divider>

<nz-table #resultTable nzShowSizeChanger [nzData]="listDisplayData"
  [nzLoading]="isLoadingData"
  [nzFooter]="footerTpl">
  <thead>
    <tr>
      <th nzColumnKey="date" *ngIf="isTranDateVisible">{{ 'Common.Date' | transloco }}</th>
      <th nzColumnKey="trantype" *ngIf="isTranTypeVisible">{{ 'Finance.TransactionType' | transloco }}</th>
      <th nzColumnKey="account" *ngIf="isAccountVisible">{{ 'Finance.Account' | transloco }}</th>
      <th nzColumnKey="amount">{{ 'Finance.Amount' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of resultTable.data">
      <td *ngIf="isTranDateVisible">{{ data.TransactionDate }}</td>
      <td *ngIf="isTranTypeVisible">
        {{ getTranTypeName(data.TransactionType!) }}<small>({{ data.TransactionType }})</small>
      </td>
      <td *ngIf="isAccountVisible">
        {{ getAccountName(data.AccountID!) }}
        <small>({{ data.AccountID }})</small>
      </td>
      <td>
        {{ data.Amount | number : '1.2-2' }} <small>{{ data.Currency }}</small>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #footerTpl let-control>
  <div nz-row>
    <div nz-col nzFlex="3">
      {{ 'Finance.In' | transloco }}: {{ incomeAmount | number : '1.2-2' }} ({{ baseCurrency }})
    </div>
    <div nz-col nzFlex="3">
      {{ 'Finance.Out' | transloco }}: {{ outgoAmount | number : '1.2-2' }} ({{ baseCurrency }})
    </div>
  </div>
</ng-template>
