<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">    
    <button md-mini-fab color="primary" (click)="onCreateObject()">
      <md-icon>add</md-icon>
    </button>
    <button md-mini-fab color="accent" [disabled]="selectedRows.length <= 0" (click)="onDisplayObject()">
      <md-icon>pageview</md-icon>
    </button>
    <button md-mini-fab color="accent" [disabled]="selectedRows.length !== 1" (click)="onEditObject()">
      <md-icon>create</md-icon>
    </button>
    <button md-mini-fab color="accent" [disabled]="selectedRows.length <= 0" (click)="onDeleteObject()">
      <md-icon>clear</md-icon>
    </button>
  </span>
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="selectedRows.length &amp;&amp; selectable" class="md-body-1">{{selectedRows.length}} item(s) selected</span>
  </span>
  <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
    flex>
  </td-search-box>
</div>
<md-divider></md-divider>
<td-data-table 
  [data]="filteredData" 
  [columns]="columns" 
  [sortable]="true"
  [selectable]="true"
  [sortBy]="sortBy" 
  [(ngModel)]="selectedRows"
  [sortOrder]="sortOrder" 
  (sortChange)="sort($event)">
</td-data-table>
<td-paging-bar [pageSizes]="[10, 20, 30, 40]" [total]="filteredTotal" (change)="page($event)">  
</td-paging-bar>
