<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Documents' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="achih-dataloading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    
    <mat-toolbar color="accent">
      <mat-form-field class="findoclist-toolbar-item">
        <mat-select color="accent" [(ngModel)]="selectedDocScope" (selectionChange)="onDocScopeChanged()">
          <mat-option *ngFor="let scp of _uiStatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | translate}}">
        <mat-icon mat-icon-button color="primary" class="cell-icon">refresh</mat-icon>
      </button>
      <button mat-icon-button matTooltip="{{'Common.Create' | translate}}" [matMenuTriggerFor]="matMenuCreateDoc">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #matMenuCreateDoc="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="onCreateNormalDocument()">{{'Finance.Document' | translate}}</button>
        <button mat-menu-item (click)="onCreateTransferDocument()">{{'Finance.TransferDocument' | translate}}</button>
        <button mat-menu-item (click)="onCreateExgDocument()">{{'Finance.CurrencyExchange' | translate}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onCreateADPDocument()">{{'Finance.AdvancePayment' | translate}}</button>
        <button mat-menu-item (click)="onCreateADRDocument()">{{'Sys.DocTy.AdvancedRecv' | translate}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onCreateBorrowFromDocument()">{{'Sys.DocTy.BorrowFrom' | translate}}</button>
        <button mat-menu-item (click)="onCreateLendToDocument()">{{'Sys.DocTy.LendTo' | translate}}</button>
        <button mat-menu-item (click)="onCreateRepayDocument()">{{'Sys.DocTy.Repay' | translate}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onCreateAssetBuyInDocument()">{{'Sys.DocTy.AssetBuyIn' | translate}}</button>
        <button mat-menu-item (click)="onCreateAssetSoldOutDocument()">{{'Sys.DocTy.AssetSoldOut' | translate}}</button>
        <button mat-menu-item (click)="onCreateAssetValChgDocument()">{{'Sys.DocTy.AssetValChg' | translate}}</button>
      </mat-menu>
      <button mat-icon-button mat-button (click)="onMassCreateNormalDocument()" matTooltip="{{'Finance.NormalDocMassCreate' | translate}}">
        <mat-icon>queue</mat-icon>
      </button>
    </mat-toolbar>

    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
            <button mat-icon-button color="accent" (click)="onChangeDocument(row)" matTooltip="{{'Common.Edit' | translate}}"><mat-icon class="cell-icon">edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onDeleteDocument(row)" matTooltip="{{'Common.Delete' | translate}}"><mat-icon class="cell-icon">delete</mat-icon></button>
            {{row.Id}}
          </mat-cell>
        </ng-container>

        <!-- DocType Column -->
        <ng-container matColumnDef="DocType">
          <mat-header-cell *matHeaderCellDef>{{'Finance.DocumentType' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.DocTypeName | translate }}
          </mat-cell>
        </ng-container>

        <!-- TranDate Column -->
        <ng-container matColumnDef="TranDate">
          <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.TranDateFormatString }}
          </mat-cell>
        </ng-container>

        <!-- TranAmount Column -->
        <ng-container matColumnDef="TranAmount">
          <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.TranAmount | currency: row.TranCurr }}
          </mat-cell>
        </ng-container>

        <!-- Desp Column -->
        <ng-container matColumnDef="Desp">
          <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.Desp }}
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onDisplayDocument(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator 
        [length]="totalDocumentCount" 
        [pageIndex]="0" 
        [pageSize]="10" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
