.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
  
.table-header {
   min-height: 64px;
   display: flex;
   align-items: center;
   padding-left: 24px;
   font-size: 20px;
}
  
.mat-table {
  overflow: auto;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}

.mat-column-id {
  min-width: 120px;
  max-width: 200px;
}

.mat-column-DocType {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 120px;
}

.mat-column-TranAmount {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-Desp {
  min-width: 200px;
  max-width: 400px;
}

.cell-icon {
  padding: 0 2px;
}

.example-spacer {
  flex: 1 1 auto;
}
 
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  flex: 0 0 15%;
}

.mat-row:hover {
  background-color: #ffff99;
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.mat-row:nth-child(odd) {
  background-color: white;
}
