<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.Documents' | translate}}</md-card-title>
    <md-card-subtitle>{{'Common.ListView' | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-toolbar>
      <button md-icon-button [mdMenuTriggerFor]="mdMenuCreateDoc">
        <md-icon>add</md-icon>
      </button>
      <md-menu #mdMenuCreateDoc="mdMenu">
        <button md-menu-item (click)="onCreateNormalDocument()">{{'Finance.Document' | translate}}</button>
        <button md-menu-item (click)="onCreateTransferDocument()">{{'Finance.TransferDocument' | translate}}</button>
        <button md-menu-item (click)="onCreateADPDocument()">{{'Finance.AdvancePayment' | translate}}</button>
      </md-menu>
    </md-toolbar>
    <div class="table-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container mdColumnDef="id">
          <md-header-cell *mdHeaderCellDef>#</md-header-cell>
          <md-cell *mdCellDef="let row">
              <button md-icon-button color="primary" (click)="onDisplayDocument(row)"><md-icon class="example-icon">search</md-icon></button>
              <button md-icon-button color="primary" (click)="onChangeDocument(row)"><md-icon class="example-icon">edit</md-icon></button>
              <button md-icon-button color="primary" (click)="onDeleteDocument(row)"><md-icon class="example-icon">delete</md-icon></button>
              <span class="example-spacer"></span>
              {{ row.Id }}
          </md-cell>
        </ng-container>

        <!-- DocType Column -->
        <ng-container mdColumnDef="DocType">
          <md-header-cell *mdHeaderCellDef>{{'Finance.DocumentType' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row">
              {{ row.DocTypeName }}
          </md-cell>
        </ng-container>

        <!-- TranDate Column -->
        <ng-container mdColumnDef="TranDate">
          <md-header-cell *mdHeaderCellDef>{{'Common.Date' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row">
              {{ row.TranDateFormatString }}
          </md-cell>
        </ng-container>

        <!-- TranAmount Column -->
        <ng-container mdColumnDef="TranAmount">
          <md-header-cell *mdHeaderCellDef>{{'Finance.Amount' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row">
              {{ row.TranAmount }}
          </md-cell>
        </ng-container>

        <!-- Desp Column -->
        <ng-container mdColumnDef="Desp">
          <md-header-cell *mdHeaderCellDef>{{'Common.Description' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row">
              {{ row.Desp }}
          </md-cell>
        </ng-container>
        
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator 
        [length]="_storageService.Documents.length" 
        [pageIndex]="0" 
        [pageSize]="25" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>
