
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
 }
  
.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-column-id {
  min-width: 50px;
  max-width: 100px;
}

.mat-column-name {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-expflag {
  min-width: 50px;
  max-width: 100px;
}

.mat-column-hierlvl {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-fulldisplay {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-parent {
  min-width: 50px;
  max-width: 100px;
}

.mat-row:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.mat-row:nth-child(odd) {
  background-color: white;
}
