<div class="container">
    <div class="page-header">
        <h2>
            <span>{{'Event.Events' | translate}}</span><small>{{'Common.ListView' | translate}}</small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"
                        (click)="newItem()">
                    {{'Common.New' | translate}}
                </button>
                <button type="button" class="btn-group btn-primary"
                        ng-click="refreshList()">
                    {{'Common.Refresh' | translate}}
                </button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="displayItem()"
                        class="btn-group btn-primary">
                    {{'Common.Display' | translate}}
                </button>
                <button type="button" ng-click="editItem()"
                        class="btn-group btn-warning">
                    {{'Common.Edit' | translate}}
                </button>
                <button type="button" ng-click="removeItem()"
                        class="btn-group btn-danger">
                    {{'Common.Delete' | translate}}
                </button>
            </div>
        </div>
    </div>

    <hr />

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{{'Common.ID' | translate}}</th>
                <th>{{'Common.Name' | translate}}</th>
                <th>{{'Common.Content' | translate}}</th>
                <th>{{'Common.Operations' | translate}}</th>
            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of evtItems">
                <td></td>
                <td>{{row.Id}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Content}}</td>
                <td>
                    <button type="button" class="btn btn-sm" (click)="displayItem(row)">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-sm" (click)="editItem(row)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" (click)="removeItem(row)" class="btn btn-sm btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" *ngIf="currentPage > 1">
                                <a class="page-link" (click)="onPagePreviousClick()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let pageidx of pageArrays"><a class="page-link" (click)="onPageClick(pageidx)">{{pageidx}}</a></li>
                            <li class="page-item" *ngIf="currentPage < pageCount">
                                <a class="page-link" (click)="onPageNextClick()" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
