.control-full-width {
  width: 100%;
}

.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  flex: 0 0 10%;
} 

.mat-row:hover {
  background-color: #ffff99;
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.mat-row:nth-child(odd) {
  background-color: white;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranAmount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-InterestAmount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-Desp {
  min-width: 150px;
  max-width: 250px;
}

.mat-column-RefDoc {
  min-width: 100px;
  max-width: 150px;
}
