
.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.mat-table {
  max-height: 600px;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranAmount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-InterestAmount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-Desp {
  min-width: 250px;
  max-width: 350px;
}

.mat-column-RefDoc {
  min-width: 100px;
  max-width: 150px;
}
