<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Order' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear>
      <mat-step [completed]="firstStepCompleted" errorMessage="Invalid header">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

          <!-- Name -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Name' | translate}}" formControlName="nameControl"
              required #ordname maxlength="30">
            <mat-hint align="end">{{ordname.value.length}} / 45</mat-hint>
          </mat-form-field>

          <!-- Valid from -->
          <mat-form-field>
            <input matInput [matDatepicker]="vfmpicker" placeholder="{{'Common.ValidFrom' | translate}}"
              formControlName="validFromControl">
            <mat-datepicker-toggle matSuffix [for]="vfmpicker"></mat-datepicker-toggle>
            <mat-datepicker #vfmpicker></mat-datepicker>
          </mat-form-field>

          <!-- Valid to -->
          <mat-form-field>
            <input matInput [matDatepicker]="vtopicker" placeholder="{{'Common.ValidTo' | translate}}"
              formControlName="validToControl">
            <mat-datepicker-toggle matSuffix [for]="vtopicker"></mat-datepicker-toggle>
            <mat-datepicker #vtopicker></mat-datepicker>
          </mat-form-field>

          <!-- Comment -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Comment' | translate}}" formControlName="cmtControl"
              #comment maxlength="45">
            <mat-hint align="end">{{comment.value.length}} / 45</mat-hint>
          </mat-form-field>
        </form>
        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <mat-step [completed]="ruleStepCompleted" errorMessage="Invalid rule">
        <ng-template matStepLabel>{{'Finance.SettlementRule' | translate}}</ng-template>
        <mat-toolbar>
          <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onCreateRule()">
            <mat-icon mat-icon-button>add</mat-icon>
          </button>
        </mat-toolbar>

        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="rid">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteRule(row)">
                  <mat-icon class="example-icon">delete</mat-icon>
                </button>
                {{ row.RuleId }}
              </mat-cell>
            </ng-container>

            <!-- CC Column -->
            <ng-container matColumnDef="ccid">
              <mat-header-cell *matHeaderCellDef>{{'Finance.ControlCenter' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Present Column -->
            <ng-container matColumnDef="precent">
              <mat-header-cell *matHeaderCellDef>{{'Common.Precent' |translate}} (%)</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <input matInput type="number" required placeholder="{{'Common.Precent' |translate}} (%)"
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Precent" name="rulepr">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Comment Column -->
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <input matInput type="text" placeholder="{{'Common.Comment' | translate}}"
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Comment" name="rulecmt">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'Common.ReviewForSubmit' | translate}}</ng-template>
        <div class="mat-typography achih-control-full-width">
          <h2>{{'Common.Name' | translate}}: {{detailObject.Name}}</h2>
          <h3>{{'Common.ValidFrom' | translate}}: {{detailObject.ValidFromFormatString}}</h3>
          <h3>{{'Common.ValidTo' | translate}}: {{detailObject.ValidToFormatString}}</h3>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn" (click)="onBackToList()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
