<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.Order' | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-accordion class="example-headers-align">
      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.GenericInfo' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Common.GenericInfo' | translate}}
            <md-icon>account_circle</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-form-field class="demo-full-width">
          <input mdInput type="text" placeholder="{{'Common.Name' |translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.Name" name="name">
        </md-form-field>

        <div class="demo-full-width">
          <md-form-field>
            <input mdInput [(ngModel)]="detailObject.ValidFrom" [mdDatepicker]="vfmpicker" placeholder="{{'Common.ValidFrom' | translate}}">
            <md-datepicker-toggle mdSuffix [for]="vfmpicker"></md-datepicker-toggle>
            <md-datepicker #vfmpicker></md-datepicker>
          </md-form-field>
          <md-form-field>
            <input mdInput [(ngModel)]="detailObject.ValidTo" [mdDatepicker]="vtopicker" placeholder="{{'Common.ValidTo' | translate}}">
            <md-datepicker-toggle mdSuffix [for]="vtopicker"></md-datepicker-toggle>
            <md-datepicker #vtopicker></md-datepicker>
          </md-form-field>
        </div>
        
        <md-form-field class="demo-full-width">
          <input mdInput type="text" placeholder="{{'Common.Comment' |translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.Comment" name="name">
        </md-form-field>
  
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Finance.SettlementRule' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Finance.SettlementRule' | translate}}
            <md-icon>map</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-toolbar>
          <button md-icon-button color="primary" (click)="onCreateRule()"><md-icon md-icon-button color="primary">add</md-icon></button>
        </md-toolbar>
        <div class="table-container mat-elevation-z8">
          <md-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container mdColumnDef="rid">
              <md-header-cell *mdHeaderCellDef>#</md-header-cell>
              <md-cell *mdCellDef="let row">
                  <button md-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteRule(row)"><md-icon class="example-icon">delete</md-icon></button>
                  <span class="example-spacer"></span>
                  {{ row.RuleId }}
              </md-cell>
            </ng-container>
    
            <!-- CC Column -->
            <ng-container mdColumnDef="ccid">
              <md-header-cell *mdHeaderCellDef>{{'Finance.ControlCenter' | translate}}</md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-select [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="ittt">
                  <md-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                    {{tt.Name}}
                  </md-option>
               </md-select>
              </md-cell>
            </ng-container>

            <!-- Present Column -->
            <ng-container mdColumnDef="precent">
              <md-header-cell *mdHeaderCellDef>{{'Common.Precent' |translate}} (%)</md-header-cell>
              <md-cell *mdCellDef="let row"> 
                <md-form-field class="demo-full-width">
                  <input mdInput type="number" required placeholder="{{'Common.Precent' |translate}} (%)"
                    [disabled]="!isFieldChangable" [(ngModel)]="row.Precent" name="rulepr">
                </md-form-field>                 
              </md-cell>
            </ng-container>
            
            <!-- Comment Column -->
            <ng-container mdColumnDef="comment">
              <md-header-cell *mdHeaderCellDef> {{'Common.Comment' | translate}} </md-header-cell>
              <md-cell *mdCellDef="let row">
                <md-form-field class="demo-full-width">
                  <input mdInput type="text" placeholder="{{'Common.Comment' | translate}}"
                    [disabled]="!isFieldChangable" [(ngModel)]="row.Comment" name="rulecmt">
                </md-form-field>                   
              </md-cell>
            </ng-container>
    
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
        </div>
  
        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </md-panel-title>
          <md-panel-description>
              {{'Common.ReviewForSubmit' | translate}}
            <md-icon>date_range</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-card-content>
</md-card>
