<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Order' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.GenericInfo' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.GenericInfo' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Name' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Name" name="name"
            #name maxlength="30">
          <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
        </mat-form-field>

        <div class="demo-full-width">
          <mat-form-field>
            <input matInput [(ngModel)]="detailObject.ValidFrom" [readonly]="!isFieldChangable" [matDatepicker]="vfmpicker" placeholder="{{'Common.ValidFrom' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="vfmpicker"></mat-datepicker-toggle>
            <mat-datepicker #vfmpicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="detailObject.ValidTo" [readonly]="!isFieldChangable" [matDatepicker]="vtopicker" placeholder="{{'Common.ValidTo' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="vtopicker"></mat-datepicker-toggle>
            <mat-datepicker #vtopicker></mat-datepicker>
          </mat-form-field>
        </div>
        
        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Comment' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Comment" name="cmt"
            #comment maxlength="45">
          <mat-hint align="end">{{comment.value.length}} / 45</mat-hint>
        </mat-form-field>
  
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Finance.SettlementRule' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Finance.SettlementRule' | translate}}
            <mat-icon>format_list_numbered</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-toolbar>
          <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onCreateRule()"><mat-icon mat-icon-button color="primary">add</mat-icon></button>
        </mat-toolbar>
        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="rid">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteRule(row)"><mat-icon class="example-icon">delete</mat-icon></button>
                {{ row.RuleId }}
              </mat-cell>
            </ng-container>
    
            <!-- CC Column -->
            <ng-container matColumnDef="ccid">
              <mat-header-cell *matHeaderCellDef>{{'Finance.ControlCenter' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Present Column -->
            <ng-container matColumnDef="precent">
              <mat-header-cell *matHeaderCellDef>{{'Common.Precent' |translate}} (%)</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <mat-form-field>
                  <input matInput type="number" required placeholder="{{'Common.Precent' |translate}} (%)"
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Precent" name="rulepr">
                </mat-form-field>                 
              </mat-cell>
            </ng-container>
            
            <!-- Comment Column -->
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <input matInput type="text" placeholder="{{'Common.Comment' | translate}}"
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Comment" name="rulecmt">
                </mat-form-field>                   
              </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.ReviewForSubmit' | translate}}
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
