<nz-page-header nzBackIcon [nzTitle]="t('Finance.ConfigObjects')" *transloco="let t">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'Finance.ConfigObjects' | transloco }}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div *ngIf="isChildMode">
      <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'Common.ChildModeDetail' | transloco">
        <div nz-result-extra>
          <button nz-button nzType="primary">OK</button>
        </div>
      </nz-result>
    </div>
    <div *ngIf="!isChildMode">
      <nz-tabset>
        <nz-tab [nzTitle]="t('Finance.AccountCategories')">
          <ng-template nz-tab>
            <hih-fin-account-category-list></hih-fin-account-category-list>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="t('Finance.DocumentTypes')">
          <ng-template nz-tab>
            <hih-fin-doc-type-list></hih-fin-doc-type-list>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="t('Finance.TransactionTypes') + ' - ' + t('Common.HierarchyView')">
          <ng-template nz-tab>
            <hih-fin-tran-type-hierarchy></hih-fin-tran-type-hierarchy>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="t('Finance.TransactionTypes') + ' - ' + t('Common.ListView')">
          <ng-template nz-tab>
            <hih-fin-tran-type-list></hih-fin-tran-type-list>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="t('Finance.AssetCategories')">
          <ng-template nz-tab>
            <hih-fin-asset-category-list></hih-fin-asset-category-list>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-page-header-content>
</nz-page-header>
