<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Learning.LearningHistory' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="detailFormGroup">
      <!-- Date -->
      <mat-form-field>
        <input matInput formControlName="dateControl" [matDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
        <mat-datepicker #tdpicker></mat-datepicker>
      </mat-form-field>

      <!-- User -->
      <mat-form-field>
        <mat-select placeholder="{{'Login.User' | translate}}" formControlName="userControl">
          <mat-option *ngFor="let mem of _homedefService.MembersInChosedHome" [value]="mem.User">
            {{mem.DisplayAs}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="achih-control-full-width">
        <mat-label>{{'Learning.LearningObject' | translate}}</mat-label>
        <a mat-flat-button *ngIf="!isFieldChangable && objectDisplayID" routerLink="/learn/object/display/{{objectDisplayID}}">
          {{objectDisplayID}}
        </a>
      </div>

      <!-- Learn Object -->
      <mat-form-field>
        <input type="number" placeholder="{{'Learning.LearningObject' | translate}}" matInput 
          formControlName="objControl" [matAutocomplete]="objectAuto">
        <mat-autocomplete #objectAuto="matAutocomplete" [displayWith]="displayObjectFn">
          <mat-option *ngFor="let obj of arObjects" [value]="obj.Id">
            {{obj.Name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" [disabled]="detailFormGroup.invalid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
