<article nz-typography>
  <h1 nz-title>
    <strong>{{'Nav.About' | transloco}}</strong>
  </h1>
  <h2 nz-title>
    {{'Common.ShortIntroduceHIH2' | transloco}}
  </h2>
  <p nz-paragraph>
    Including: Learning trace, Finance trace, Event trace, Library, and more.
  </p>
  <p nz-paragraph>
    <strong>{{'Nav.Version' | transloco}}:</strong>
    <span nz-text>
      <strong id="curversion">{{version}}
      </strong>
    </span>.
  </p>
  <p nz-paragraph>
    <strong>
      {{'Common.HIHAuthor' | transloco}}
    </strong>
  </p>
  <p nz-paragraph>
    Released At:
    <span nz-text>
      <strong>{{relDate}}
      </strong>
    </span>
  </p>
</article>
