<td-layout #layout 
  icon="event_seat"
  sidenavTitle="H.I.H." 
  displayName="Firstname Lastname" 
  (logout)="logout()"
  >
  <md-nav-list menu-items>
    <template let-item let-last="last" ngFor [ngForOf]="routes">
      <a md-list-item [routerLink]="[item.route]" (click)="layout.close()">
        <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
    </template>
  </md-nav-list>
  
  <td-layout-nav icon="event_seat" class="dark-grey-blue">
    <div toolbar-content layout="row" layout-align="start center" flex>
        <span hide-xs>Home Info. Hub, by Alva Chien</span>
        <span flex></span>
        <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
        <md-menu #notificationsMenu="mdMenu">
            <td-menu>
                <div td-menu-header class="md-subhead">Credits</div>
                <md-nav-list dense>
                    <a md-list-item href="https://github.com/angular/angular" target="_blank">
                        <md-icon md-list-avatar svgIcon="assets:angular"></md-icon>
                        <h4 md-line><span class="text-wrap">Angular 2</span></h4>
                        <p md-line>Angular 2</p>
                    </a>
                    <md-divider></md-divider>
                    <a md-list-item href="https://teradata.github.io/covalent" target="_blank">
                        <md-icon md-list-avatar svgIcon="assets:covalent-mark"></md-icon>
                        <h4 md-line><span class="text-wrap">Covalent</span></h4>
                        <p md-line>Teradata Covalent</p>
                    </a>
                    <md-divider></md-divider>
                    <a md-list-item href="http://www.typescriptlang.org/" target="_blank">
                        <md-icon md-list-avatar>email</md-icon>
                        <h4 md-line><span class="text-wrap">TypeScript</span></h4>
                        <p md-line>TypeScript, from Microsoft</p>
                    </a>
                </md-nav-list>
            </td-menu>
        </md-menu>
        <a md-icon-button mdTooltip="View this code" href="https://github.com/alvachien/achihui" target="_blank">
            <md-icon svgIcon="assets:github"></md-icon>
        </a>
    </div>

    <router-outlet></router-outlet>

</td-layout-nav>

</td-layout>