<mat-card>
  <mat-card-header>
    <mat-card-title>{{documentTitle | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.GenericInfo' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.GenericInfo' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Currency -->
        <mat-form-field class="control-full-width">
          <mat-select placeholder="{{'Finance.Currency' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr"
            name="cur">
            <mat-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
              {{cr.Symbol}} - {{cr.Name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tran date -->
        <mat-form-field class="control-full-width">
          <input matInput [(ngModel)]="detailObject.TranDate" [disabled]="!isFieldChangable" [matDatepicker]="srcdpicker" placeholder="{{'Common.Date' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="srcdpicker"></mat-datepicker-toggle>
          <mat-datepicker #srcdpicker></mat-datepicker>
        </mat-form-field>

        <!-- Account -->
        <mat-form-field class="control-full-width">
          <mat-select placeholder="{{'Finance.Account' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceAccountId"
            name="srcacnt">
            <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter" [value]="acnt.Id">
              <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}} ({{acnt.CategoryName | translate}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Amount -->
        <mat-form-field class="control-full-width">
          <input matInput type="number" required placeholder="{{'Finance.Amount' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.TranAmount"
            name="srcamt">
        </mat-form-field>

        <!-- Desp -->
        <mat-form-field class="control-full-width">
          <input matInput type="text" placeholder="{{'Common.Description' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp"
            name="desp" #desp maxlength="44">
          <mat-hint align="end">{{desp.value.length}} / 45</mat-hint>
        </mat-form-field>

        <!-- CC -->
        <mat-form-field class="control-full-width">
          <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceControlCenterId"
            name="hdrcc">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
              {{tt.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Order -->
        <mat-form-field class="control-full-width">
          <mat-select placeholder="{{'Finance.Order' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceOrderId" name="hdrord">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let tt of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="tt.Id">
              {{tt.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.ExtraInfo' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.ExtraInfo' | translate}}
            <mat-icon>extension</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="control-full-width">
          <hih-finance-account-ext-loan [uiMode]="uiMode" [extObject]="detailObject.LoanAccount"></hih-finance-account-ext-loan>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" [disabled]="!canSubmit()" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="primary" (click)="onBackToList()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>  
</mat-card>
