<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Sys.DocTy.AssetBuyIn' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper linear (selectionChange)="onStepSelectionChange($event)" #stepper>
      <!-- Step 1 -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

          <!-- Header -->
          <hih-fin-document-header [docType]="curDocType"  formControlName="headerControl"></hih-fin-document-header>

          <!-- Amount -->
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="amountControl">
          </mat-form-field>

          <!-- Asset Account Ex -->
          <div class="achih-control-full-width">
            <hih-finance-account-ext-asset-ex formControlName="assetAccountControl"></hih-finance-account-ext-asset-ex>
          </div>
          
          <!-- Owner -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Owner' | translate}}" name="owner" formControlName="ownerControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let usr of arMembersInChosedHome" [value]="usr.User">
                {{usr.DisplayAs}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Legacy asset -->
          <mat-checkbox color="accent" formControlName="legacyControl" (change)="onIsLegacyChecked($event)">
            {{'Finance.LegacyAsset' | translate}}
          </mat-checkbox>
  
          <!-- Control center -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl"
              name="srccc">
              <mat-option *ngFor="let cc of arControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Order -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" formControlName="orderControl"
              name="srcord">
              <mat-option *ngFor="let ord of arUIOrder" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step 2 -->
      <mat-step [stepControl]="itemFormGroup" [optional]="IsLegacyAsset">
        <ng-template matStepLabel>{{'Finance.Items' | translate}}</ng-template>

        <form [formGroup]="itemFormGroup">
          <hih-fin-document-items formControlName="itemControl" [tranCurr]="confirmInfo?.tranCurrency"
            [docType]="curDocType"></hih-fin-document-items>
        </form>

        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step 3 -->
      <mat-step>
        <ng-template matStepLabel>{{'Common.Confirm' | translate}}</ng-template>
        <div class="mat-typography achih-control-full-width">
          <h2>{{'Common.Name' | translate}}: {{confirmInfo?.assetName}}</h2>
          <h3>{{'Finance.Amount' | translate}}: {{confirmInfo?.tranAmount}} ({{confirmInfo?.tranCurrency}})</h3>
          <h3>{{'Common.Date' | translate}}: {{confirmInfo?.tranDateString}}</h3>
        </div>

        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
