<div id="viewFinanceAccount">
    <div class="page-header">
        <h2>
            <span>{{'Finance.Account' | translate }}</span><small> {{Activity | translate}}</small>
        </h2>
    </div>

    <!-- Messages -->
    <div *ngIf="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" *ngFor="let rptmsg of ReportedMessages">
            {{ rptmsg }}
        </div>
    </div>

    <!-- Form -->
    <form class="form-horizontal" name="frmObj" (ngSubmit)="onSubmit(detailForm)" #detailForm="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="iptID">{{'Common.ID' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="iptID" name="iptID"
                       readonly="readonly" placeholder="{{'Common.ID' | translate}}" [(ngModel)]="AccountObject.ID">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'Common.Category' | translate }}</label>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="AccountObject.CategoryID" (disabled)="ActivityID == 3" name="category">
                    <option *ngFor="let ctgy of finAccountCategory" (value)="ctgy.Id">{{ctgy.Name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'Common.Name' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" (readonly)="ActivityID == 3" name="name"
                       placeholder="{{'Common.Name' | translate}}" [(ngModel)]="AccountObject.Name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{'Common.Comment' | translate }}</label>
            <div class="col-sm-10">
                <input class="form-control" (readonly)="ActivityID == 3" name="comment"
                       [(ngModel)]="AccountObject.Comment">
            </div>
        </div>

        <div class="panel panel-success" *ngIf="ShowDownpaymentInfo">
            <hih-fin-account-detail-dp>
            </hih-fin-account-detail-dp>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default btn-primary" *ngIf="ActivityID != 3" [disabled]="!detailForm.form.valid">
                <button class="btn btn-danger" (click)="onClose()">{{'Common.BackToList' | translate}}</button>
            </div>
        </div>
    </form>
</div>
