<div class="container">
    <div class="page-header">
        <h2>
            <span>{{'Finance.Accounts' | translate }}</span> <small>{{'Common.ListView' | translate }}</small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"                        
                        (click)="newItem()">
                    {{'Common.New' | translate }}
                </button>

                <button type="button" class="btn-group btn-primary"                        
                        (click)="refreshList()">
                    {{'Common.Refresh' | translate }}
                </button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" (click)="displayItem()"
                        class="btn-group btn-primary">{{'Common.Display' | translate }}</button>
                <button type="button" (click)="editItem()"
                        class="btn-group btn-warning">{{'Common.Edit' | translate }}</button>
                <button type="button" (click)="removeItem()"
                        class="btn-group btn-danger">{{'Common.Delete' | translate }}</button>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Common.ID' | translate }}</th>
                <th>{{'Common.Category' | translate }}</th>
                <th>{{'Common.Name' | translate }}</th>
                <th>{{'Finance.Asset' | translate }}</th>
                <th>{{'Common.Comment' | translate }}</th>
                <th>{{'Common.Operations' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of finAccounts">
                <td><a>{{row.ID}}</a></td>
                <td>{{row.CategoryObject.Name}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.CategoryObject.AssetFlag}}</td>
                <td>{{row.Comment}}</td>
                <td>
                    <button type="button" class="btn btn-sm" (click)="displayItem(row)">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-sm" (click)="editItem(row)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="removeItem(row)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            It's a foot area
        </tfoot>
    </table>
</div>