<div class="container">
    <div class="page-header">
        <h2>
            <span>Document Type </span><small> List View</small>
        </h2>
    </div>

    <hr />
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Comment</th>
                <th>Sys Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fs of finDocType">
                <td>{{fs.Id}}</td>
                <td>{{fs.Name}}</td>
                <td>{{fs.Comment}}</td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="fs.SysFlag"></div></td>
            </tr>
        </tbody>
    </table>
</div>
