<div class="container">
    <div class="page-header">
        <h2>
            <span>Setting</span><small> List View</small>
        </h2>
    </div>

    <hr />

    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fs of finSettings">
                <td>{{fs.SetId}}</td>
                <td>{{fs.SetValue}}</td>
            </tr>
        </tbody>
    </table>
</div>
