<div class="container">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Currency</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Is Sys</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cur of finCurrency">
                <td>{{cur.Currency}}</td>                
                <td>{{cur.Name | translate}}</td>
                <td>{{cur.Symbol}}</td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="cur.SysFlag"></div></td>
            </tr>
        </tbody>
    </table>
</div>
