<div class="container">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Is Asset</th>
                <th>Is Sys</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fs of finAccountCategory">
                <td>{{fs.Id}}</td>
                <td>{{fs.Name | translate}}</td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="fs.AssetFlag"></div></td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="fs.SysFlag"></div></td>
                <td>{{fs.Comment}}</td>
            </tr>
        </tbody>
    </table>

</div>
