<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'" nzTip="Loading...">
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ 'Common.Name' | transloco }}</th>
        <th>{{ 'Common.Description' | transloco }}</th>
      </tr>
    </thead>
    <tbody>
      @for(data of basicTable.data; track $index) {
        <tr>
          <td>{{ data.ID }}</td>
          <td>{{ data.Name | transloco }}</td>
          <td>{{ data.Desp }}</td>
        </tr>  
      }
    </tbody>
  </nz-table>
</nz-spin>
