<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.Account' | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-accordion class="example-headers-align">
      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.GenericInfo' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Common.GenericInfo' | translate}}
            <md-icon>account_circle</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-form-field class="demo-full-width">
          <input mdInput type="text" placeholder="{{'Common.Name' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Name" name="name">
        </md-form-field>

        <md-select class="demo-full-width" placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.CategoryId" name="ctgy">
          <md-option *ngFor="let ctgy of _storageService.AccountCategories" [value]="ctgy.ID">
            {{ctgy.Name}} 
          </md-option>
        </md-select>

        <md-select class="demo-full-width" placeholder="{{'Finance.Owner' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.OwnerId" name="owner">
          <md-option *ngFor="let usr of _homedefService.MembersInChosedHome" [value]="usr.User">
            {{usr.DisplayAs}} 
          </md-option>
        </md-select>
        
        <md-form-field class="demo-full-width">
          <input mdInput type="text" placeholder="{{'Common.Comment' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Comment" name="name">
        </md-form-field>
  
        <md-action-row>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.ExtraInfo' | translate}}
          </md-panel-title>
          <md-panel-description>
            {{'Common.ExtraInfo' | translate}}
            <md-icon>map</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <!-- <md-form-field>
          <input mdInput placeholder="Country">
        </md-form-field> -->

        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </md-panel-title>
          <md-panel-description>
              {{'Common.ReviewForSubmit' | translate}}
            <md-icon>date_range</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-action-row>
          <button md-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button md-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-card-content>
</md-card>
