<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Account' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.GenericInfo' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.GenericInfo' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Name' |translate}}" [readonly]="!isFieldChangable" 
            [(ngModel)]="detailObject.Name" name="name" #accountname maxlength="30">
          <mat-hint align="end">{{accountname.value.length}} / 30</mat-hint>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.CategoryId" name="ctgy">
            <mat-option *ngFor="let ctgy of _storageService.AccountCategories" [value]="ctgy.ID">
              {{ctgy.Name | translate}} 
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Owner' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.OwnerId" name="owner">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let usr of _homedefService.MembersInChosedHome" [value]="usr.User">
              {{usr.DisplayAs}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Comment' |translate}}" [readonly]="!isFieldChangable" 
            [(ngModel)]="detailObject.Comment" name="comt" #accountcomment maxlength="45">
          <mat-hint align="end">{{accountcomment.value.length}} / 45</mat-hint>
        </mat-form-field>
  
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.ExtraInfo' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.ExtraInfo' | translate}}
            <mat-icon>extension</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="demo-full-width">
          <hih-finance-account-ext-adp *ngIf="isADPAccount" [uiMode]="uiMode" [extObject]="detailObject.ExtraInfo"></hih-finance-account-ext-adp>
          <hih-finance-account-ext-asset *ngIf="isAssetAccount" [uiMode]="uiMode" [extObject]="detailObject.ExtraInfo"></hih-finance-account-ext-asset>
          <hih-finance-account-ext-loan *ngIf="isLoanAccount" [uiMode]="uiMode" [extObject]="detailObject.ExtraInfo"></hih-finance-account-ext-loan>
          <div *ngIf="!isAssetAccount && !isADPAccount && !isLoanAccount">{{'Finance.NoExtraInfo' | translate}}</div>
        </div>
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.Status' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.Status' | translate}}
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="demo-full-width">        
          <mat-select placeholder="{{'Common.Status' | translate}}" [(ngModel)]="detailObject.Status" #selectStatus="matSelect" disabled>
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let sts of arrayStatus" [value]="sts.value">
              {{sts.i18nterm | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" *ngIf="!isCreateMode" [disabled]="!canCloseAccount()" (click)="onCloseAccount()">{{'Finance.CloseAccount' | translate}}</button>
          <button mat-button color="primary" *ngIf="isFieldChangable" [disabled]="!canSubmit()" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
