<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Account' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear="true">
      <!-- First step: Generic info -->
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

        <form [formGroup]="firstFormGroup">
          <!-- ID -->
          <div class="control-full-width" *ngIf="!isCreateMode">
            {{'Common.ID' | translate}}: {{routerID}}
          </div>

          <!-- Name -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Name' |translate}}" formControlName="nameControl"
              name="name" #accountname maxlength="30">
            <mat-hint align="end">{{accountname.value.length}} / 30</mat-hint>
          </mat-form-field>

          <!-- Category -->
          <mat-form-field>
            <mat-select placeholder="{{'Common.Category' | translate}}" formControlName="ctgyControl" name="ctgy">
              <mat-option *ngFor="let ctgy of arAccountCategories" [value]="ctgy.ID" [disabled]="isCategoryDisabled(ctgy.ID)">
                {{ctgy.Name | translate}} 
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="{{'Finance.Owner' | translate}}" formControlName="ownerControl" name="owner">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let usr of _homedefService.MembersInChosedHome" [value]="usr.User">
                {{usr.DisplayAs}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Comment' |translate}}" formControlName="cmtControl"
              name="comt" #accountcomment maxlength="45">
            <mat-hint align="end">{{accountcomment.value.length}} / 45</mat-hint>
          </mat-form-field>
        </form>

        <mat-error *ngIf="firstFormGroup && firstFormGroup.hasError('invalidcategory')">
          <div class="mat-h3">{{'Common.InputtedCategoryIsInvalid' | translate}}</div>
        </mat-error>
        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Extra step -->
      <mat-step [completed]="extraStepCompleted" errorMessage="Invalid extra info">
        <ng-template matStepLabel>{{'Common.ExtraInfo' | translate}}</ng-template>
        <form [formGroup]="extraADPFormGroup" class="achih-control-full-width" *ngIf="isADPAccount">
          <hih-finance-account-ext-adpex formControlName="extADPControl"></hih-finance-account-ext-adpex>
        </form>
        <form [formGroup]="extraAssetFormGroup" class="achih-control-full-width" *ngIf="isAssetAccount">
          <hih-finance-account-ext-asset-ex formControlName="extAssetControl"></hih-finance-account-ext-asset-ex>
        </form>
        <form [formGroup]="extraLoanFormGroup" class="achih-control-full-width" *ngIf="isLoanAccount">
          <hih-finance-account-ext-loan-ex formControlName="extLoanControl"></hih-finance-account-ext-loan-ex>
        </form>
        <div class="achih-control-full-width extraNone" *ngIf="!isAssetAccount && !isADPAccount && !isLoanAccount">
          <div >{{'Finance.NoExtraInfo' | translate}}</div>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>
      
      <!-- Status -->
      <mat-step>
        <ng-template matStepLabel>{{'Common.Status' | translate}}</ng-template>
        <form [formGroup]="statusFormGroup">
          <mat-form-field>        
            <mat-select placeholder="{{'Common.Status' | translate}}" formControlName="statusControl">
              <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
              <mat-option *ngFor="let sts of arrayStatus" [value]="sts.value">
                {{sts.i18nterm | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button *ngIf="isFieldChangable" (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
