<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{'Finance.NormalDocMassCreate' | translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="accent">
      <button mat-button (click)="addItem()">{{'Finance.CreateItem' | translate}}</button>
    </mat-toolbar>

    <form [formGroup]="myForm" style="padding: 1em;">
      <!-- items -->
      <div formArrayName="items" style="width: 96%;">
        <div *ngFor="let item of myForm?.get('items')['controls']; let i=index">          
          <mat-card class="item-card" style="width: 96%;">
            <mat-card-header>
              <mat-card-title>{{'Finance.Items' | translate}} {{i + 1}}</mat-card-title>
              <mat-card-subtitle>
                <button mat-button (click)="removeItem(i)">
                  {{'Common.Remove' | translate}}
                </button>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="width: 96%;">
              <div [formGroupName]="i" style="width: 96%;">
                <hih-document-normal-mass-create-item [group]="myForm?.get('items')['controls'][i]"
                  [arUIAccount]="arUIAccount"
                  [arUIOrder]="arUIOrder"
                  [arControlCenter]="arControlCenter"
                  [arTranType]="arTranType"
                  [localCurrency]="localCurrency">
                </hih-document-normal-mass-create-item>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="submit" [disabled]="!myForm.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
  </mat-card-actions>
</mat-card>
