<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Plan' | translate}} ({{currentMode | translate}})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="achih-control-full-width" *ngIf="!isCreateMode">
      <span>{{'Common.ID' | translate}}:</span>
      <span>{{routerID}}</span>
    </div>

    <form [formGroup]="mainFormGroup">
      <!-- Start date -->
      <mat-form-field>
        <input matInput formControlName="startdateControl" [matDatepicker]="stdpicker" placeholder="{{'Common.StartDate' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="stdpicker"></mat-datepicker-toggle>
        <mat-datepicker #stdpicker></mat-datepicker>
      </mat-form-field>

      <!-- Target date -->
      <mat-form-field>
        <input matInput formControlName="targetdateControl" [matDatepicker]="ttdpicker" placeholder="{{'Common.Date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="ttdpicker"></mat-datepicker-toggle>
        <mat-datepicker #ttdpicker></mat-datepicker>
      </mat-form-field>

      <!-- Account -->
      <mat-form-field>
        <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl"
          required>
          <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter"
            [value]="acnt.Id">
            <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}}
              ({{acnt.CategoryName | translate}})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Target balance -->
      <mat-form-field>
        <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="tgtbalanceControl">
        <span matSuffix>{{baseCurrency}}</span>
      </mat-form-field>

      <!-- Desp -->
      <mat-form-field>
        <input matInput type="text" placeholder="{{'Common.Description' |translate}}" formControlName="despControl">
      </mat-form-field>
    </form>

    <mat-divider></mat-divider>
    <div class="achih-control-full-width" *ngIf="!isCreateMode">
      <div echarts [options]="progressChartOption | async" [theme]="chartTheme" class="trend-chart"></div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
