
md-sidenav-container {
  width: 100%;
  height: 100%;
}

md-sidenav {
  max-width: 400px;
  height: 100%;
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}

.md-icon-logo {
  width:20px;
  height: 20px;
}
