<mat-sidenav-container fullscreen>
  <mat-sidenav #start mode="side">
    <hih-sidenav></hih-sidenav>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.opened = !start.opened">
        <mat-icon class="mat-24">menu</mat-icon>
      </button>
      <div class="hih-toolbar">
        <h1>H.I.H.</h1>
        <div>
          <button mat-icon-button *ngIf="!isLoggedIn" (click)="onLogon()" title="Logon" matTooltip="{{'Login.Login' | translate }}"><mat-icon>account_box</mat-icon></button>
          <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="matMenuUser">
            <mat-icon>account_box</mat-icon>
            <span [matBadge]="_homeDefService.keyFigure?.TotalUnreadMessage" [matBadgeHidden]="!curChosenHome">              
            </span>
          </button>
          <mat-menu #matMenuUser="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
            <button mat-menu-item disabled>{{titleLogin}}</button>
            <button mat-menu-item (click)="onUserDetail()">
              <mat-icon color="accent">account_circle</mat-icon>
              <span class="title">{{'Nav.UserDetail' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onCheckMessages()">
              <mat-icon color="accent">message</mat-icon>
              <span>{{'Common.Message' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon color="accent">exit_to_app</mat-icon>
              <span>{{'Login.Logout' | translate}}</span>
            </button>
          </mat-menu>
                
          <button mat-icon-button mat-button *ngIf="curChosenHome" [matMenuTriggerFor]="matMenuHome"><mat-icon>domain</mat-icon></button>
          <mat-menu #matMenuHome="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
            <button mat-menu-item disabled>{{curChosenHome?.Name}}</button>
            <button mat-menu-item (click)="onChosenHomeDetail()">
              <mat-icon>account_circle</mat-icon>
              <span>{{'Nav.HomeDetail' | translate}}</span>
            </button>
          </mat-menu>

          <theme-picker></theme-picker>

          <button mat-icon-button mat-button [matMenuTriggerFor]="matMenuLanguage"><mat-icon>language</mat-icon></button>
          <mat-menu #matMenuLanguage="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
            <button mat-menu-item *ngFor="let lang of availableLanguages" (click)="onLanguageChanged(lang.value)">
              <mat-icon *ngIf="selectedLanguage === lang.value">check</mat-icon>
              {{lang.displayas | translate}}
            </button>
          </mat-menu>

          <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <mat-icon class="mat-24">fullscreen</mat-icon>
          </button>

          <a mat-icon-button class="achih-button achih-navbar-show-small"
            href="https://github.com/alvachien/achihui" target="_blank" aria-label="GitHub Repository">
            <img class="achih-angular-logo"
              src="../../assets/images/github-circle-white-transparent.svg"
              alt="achihui">
          </a>
          
          <button mat-icon-button mat-button [matMenuTriggerFor]="matMenuApps"><mat-icon>apps</mat-icon></button>
          <mat-menu #matMenuApps="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
            <button mat-menu-item disabled>H.I.H.</button>
            <button mat-menu-item (click)="onOpenMathExcises()">Math Exercise</button>
            <button mat-menu-item (click)="onOpenPhotoGallery()">Photo Gallery</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>

    <div class="hih-content">
      <router-outlet></router-outlet>
    </div>

    <achih-footer></achih-footer>
  </div>
</mat-sidenav-container>
