mat-sidenav-container {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    mat-sidenav {
      min-width: 100px !important;
      width: 12vw !important;
      max-width: 220px !important;
  
      mat-button {
        width: 100%;
        position: relative;
        bottom: 0;
        margin: 24px 0;
      }
    }
  
    .hih-content {
      padding: 32px;
      box-sizing: border-box;
    }
  
    mat-toolbar {
      mat-icon {
        cursor: pointer;
      }
  
      .hih-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  
    h1 {
      font-size: 20px;
    }
  }
  
// stretch to screen size in fullscreen mode
.hih-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}  

.hih-footer {
  padding: 6px;
  font-size: 12px;
  margin-top: 10px;
}

.hih-footer-list {
  background: lightgray;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.hih-footer-version {
  flex: 1;
  text-align: center;
}

.hih-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

@media screen and (max-width: 884px){
  .hih-footer-list {
    flex-direction: column;
  }
}
