mat-sidenav-container {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    mat-sidenav {
      min-width: 200px !important;
      width: 12vw !important;
      max-width: 256px !important;
  
      mat-button {
        width: 100%;
        position: relative;
        bottom: 0;
        margin: 24px 0;
      }
    }
  
    .hih-content {
      padding: 32px;
      box-sizing: border-box;
    }
  
    mat-toolbar {
      mat-icon {
        cursor: pointer;
      }
  
      .hih-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  
    h1 {
      font-size: 20px;
    }
  }

.flex-spacer {
  flex-grow: 1;
}

.achih-github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

// stretch to screen size in fullscreen mode
.hih-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}  

@media screen and (max-width: 884px){
  .achih-navbar-hide-small {
    display: none;
  }

  .achih-navbar-show-small {
    display: block;
  }

  .achih-navbar-github-logo {
    margin: 0;
  }

  .achih-footer-list {
    flex-direction: column;
  }
}
