<nz-page-header nzBackIcon>
  <nz-page-header-title>{{'Blog.Post' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.ListView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onCreate()">{{'Common.Create' | transloco}}</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'">
  <nz-table #basicTable [nzData]="dataSet"  
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzLoading]="isLoadingResults"
    [nzTotal]="totalPostCount"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="fetchData()"
    (nzPageSizeChange)="fetchData(true)">
    <thead>
      <tr>
        <th>{{'Common.ID' | transloco}}</th>
        <th>{{'Common.Title' | transloco}}</th>
        <th>{{'Common.Status' | transloco}}</th>
        <th>{{'Common.Abstract' | transloco}}</th>
        <th>{{'Common.CreatedAt' | transloco}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{data.id}}
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" (click)="onDisplay(data.id)">{{'Common.Display' | transloco}}</button>
          <button nz-button nzType="link" (click)="onEdit(data.id)">{{'Common.Edit' | transloco}}</button>
          <button nz-button nzType="link" (click)="onDelete(data.id)">{{'Common.Delete' | transloco}}</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" (click)="onDeploy(data.id)">{{'Common.Deploy' | transloco}}</button>
          <button nz-button nzType="link" (click)="onRevokeDeploy(data.id)">{{'Common.RevokeDeploy' | transloco}}</button>
        </td>
        <td>{{data.title}}</td>
        <td>{{getStatusDisplayString(data.status) | transloco}}</td>
        <td>{{data.brief}}</td>
        <td>{{data.createdAtString}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
