<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Accounts' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.HierarchyView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="accent">
      <mat-form-field class="finaccounttree-toolbar-item">        
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onAccountStatusChange()" #select="matSelect">
          <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
          <mat-option *ngFor="let sts of arrayStatus" [value]="sts.value">
            {{sts.i18nterm | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-icon-button routerLink="/finance/account/create" routerLinkActive="active" matTooltip="{{'Common.Create' | translate}}"><mat-icon>add</mat-icon></a>
      <button mat-icon-button (click)="onRefresh()" matTooltip="{{'Common.Refresh' | translate}}"><mat-icon class="toolbar-icon">refresh</mat-icon></button>
      <span class="toolbar-spacer"></span>
      <a mat-button routerLink="/finance/account" routerLinkActive="active" matTooltip="{{'Common.ListView' | translate}}">{{'Common.ListView' | translate}}</a>
    </mat-toolbar>

    <div class="achih-dataloading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row" fxLayout.xs="column" style="height:800px" ngxSplit="row">
      <div fxFlex.xs="50%" fxFlex.gt-md="20%" fxFlex.lg="20%" ngxSplitArea>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname | translate}}</a>
          </mat-tree-node>
              
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname | translate}}
              <span [matBadge]="node.childamount" matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="accent" [matBadgeHidden]="node.childamount <= 0">
              </span>
            </a>
          </mat-tree-node>
        </mat-tree>
      </div>

      <div class="handle handle-row" ngxSplitHandle>
        <i class="material-icons">&#xE25D;</i>
      </div>

      <div fxFlex.xs="50%" fxFlex.gt-md="80%" fxFlex.lg="80%" ngxSplitArea>
        <div *ngIf="curNode && curNode.nodetype === 1">
          <mat-toolbar color="accent">
            <span>{{'Finance.AccountCategory' | translate}} - {{curNode?.displayname | translate}}</span>
            <span class="toolbar-spacer"></span>
            <mat-form-field class="finaccounttree-toolbar-item">
              <mat-select color="accent" [(ngModel)]="selectedAccountCtgyScope">
                <mat-option *ngFor="let scp of _uiStatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-toolbar>
          <hih-fin-docitem-by-acntctgy [selectedCategory]="curNode?.id" [selectedAccounts]="selectedAccounts" [selectedScope]="selectedAccountCtgyScope"></hih-fin-docitem-by-acntctgy>
        </div>

        <div *ngIf="curNode && curNode.nodetype === 2">
          <mat-toolbar color="accent">
            <span>{{'Finance.Account' | translate}} - {{curNode?.displayname | translate}}</span>
            <span class="toolbar-spacer"></span>
            <mat-form-field class="finaccounttree-toolbar-item">
              <mat-select color="accent" [(ngModel)]="selectedAccountScope">
                <mat-option *ngFor="let scp of _uiStatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="onDisplayAccount(curNode?.id)" matTooltip="{{'Common.Display' | translate}}"><mat-icon color="primary" class="toolbar-icon">web_asset</mat-icon></button>
            <button mat-icon-button (click)="onChangeAccount(curNode?.id)" matTooltip="{{'Common.Edit' | translate}}"><mat-icon color="primary" class="toolbar-icon">edit</mat-icon></button>
          </mat-toolbar>
          <hih-fin-docitem-by-acnt [selectedAccount]="curNode?.id" [selectedScope]="selectedAccountScope"></hih-fin-docitem-by-acnt>
        </div>
        <div *ngIf="curNode?.nodetype !== 1 && curNode?.nodetype !== 2">
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
