
.handle {
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100;
  height: 5px;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 0;
}
  
.handle-row {
  width: 15px;
  top: 50%;
  left: -2px;
  transform: translateX(-50%) rotate(270deg);
  cursor: col-resize;
}

.toolbar-icon {
  padding: 0 2px;
}
