<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Accounts' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.HierarchyView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row" fxLayout.xs="column" style="height:500px" ngxSplit="row">
      <div fxFlex="30%" ngxSplitArea>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname | translate}}</a>
          </mat-tree-node>
              
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <a mat-button (click)="onTreeNodeClicked(node)">[{{node.id}}]{{node.displayname | translate}} ({{node.childamount}})</a>
          </mat-tree-node>
        </mat-tree>
      </div>
      <div class="handle handle-row" ngxSplitHandle>
        <i class="material-icons">&#xE25D;</i>
      </div>
      <div fxFlex.xs="70%" fxFlex.gt-md="50%" fxFlex.lg="60%" ngxSplitArea>
        <div *ngIf="curNode?.nodetype === 1">
          Category view
        </div>
        <div *ngIf="curNode?.nodetype === 2">
          Account view
        </div>
        <div *ngIf="curNode?.nodetype !== 1 && curNode?.nodetype !== 2">
          Nothing to display
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
