<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.Orders' | translate}}</md-card-title>
    <md-card-subtitle>{{'Common.ListView' | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-toolbar>      
      <button md-icon-button color="primary" (click)="onCreateOrder()" mdTooltip="{{'Common.Create' | translate}}"><md-icon color="primary">add</md-icon></button>
      <md-checkbox [(ngModel)]="includeInvalid">{{'Finance.InvalidOnes' | translate}}</md-checkbox>
      <button md-icon-button color="primary" (click)="onRefresh()" mdTooltip="{{'Common.Refresh' | translate}}"><md-icon color="primary">refresh</md-icon></button>
    </md-toolbar>
    <div class="table-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container mdColumnDef="id">
          <md-header-cell *mdHeaderCellDef>#</md-header-cell>
          <md-cell *mdCellDef="let row">
              <button md-icon-button (click)="onDisplayOrder(row)" mdTooltip="{{'Common.DisplayDetails' | translate}}"><md-icon color="primary"  class="example-icon">search</md-icon></button>
              <button md-icon-button (click)="onChangeOrder(row)" mdTooltip="{{'Common.Edit' | translate}}"><md-icon color="accent" class="example-icon">edit</md-icon></button>
              <button md-icon-button (click)="onDeleteOrder(row)" mdTooltip="{{'Common.Delete' | translate}}"><md-icon color="warn" class="example-icon">delete</md-icon></button>
              <a routerLink='/finance/order/display/{{row.Id}}' routerLinkActive="active" *ngIf="row.Id">{{row.Id}}</a>
          </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef>{{'Common.Name' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.Name}} </md-cell>
        </ng-container>

        <!-- ValidFrom Column -->
        <ng-container mdColumnDef="ValidFrom">
          <md-header-cell *mdHeaderCellDef>{{'Common.ValidFrom' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.ValidFromFormatString}} </md-cell>
        </ng-container>

        <!-- ValidTo Column -->
        <ng-container mdColumnDef="ValidTo">
          <md-header-cell *mdHeaderCellDef>{{'Common.ValidTo' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.ValidToFormatString}} </md-cell>
        </ng-container>
        
        <!-- Comment Column -->
        <ng-container mdColumnDef="comment">
          <md-header-cell *mdHeaderCellDef> {{'Common.Comment' | translate}} </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.Comment}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator 
        [length]="_storageService.Orders.length" 
        [pageIndex]="0" 
        [pageSize]="25" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>
