<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Orders' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>      
      <button mat-icon-button color="primary" (click)="onCreateOrder()" matTooltip="{{'Common.Create' | translate}}"><mat-icon color="primary">add</mat-icon></button>
      <mat-checkbox [(ngModel)]="includeInvalid">{{'Finance.InvalidOnes' | translate}}</mat-checkbox>
      <button mat-icon-button color="primary" (click)="onRefresh()" matTooltip="{{'Common.Refresh' | translate}}"><mat-icon color="primary">refresh</mat-icon></button>
    </mat-toolbar>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onDisplayOrder(row)" matTooltip="{{'Common.DisplayDetails' | translate}}"><mat-icon color="primary"  class="example-icon">search</mat-icon></button>
              <button mat-icon-button (click)="onChangeOrder(row)" matTooltip="{{'Common.Edit' | translate}}"><mat-icon color="accent" class="example-icon">edit</mat-icon></button>
              <button mat-icon-button (click)="onDeleteOrder(row)" matTooltip="{{'Common.Delete' | translate}}"><mat-icon color="warn" class="example-icon">delete</mat-icon></button>
              <a routerLink='/finance/order/display/{{row.Id}}' routerLinkActive="active" *ngIf="row.Id">{{row.Id}}</a>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{'Common.Name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
        </ng-container>

        <!-- ValidFrom Column -->
        <ng-container matColumnDef="ValidFrom">
          <mat-header-cell *matHeaderCellDef>{{'Common.ValidFrom' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ValidFromFormatString}} </mat-cell>
        </ng-container>

        <!-- ValidTo Column -->
        <ng-container matColumnDef="ValidTo">
          <mat-header-cell *matHeaderCellDef>{{'Common.ValidTo' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ValidToFormatString}} </mat-cell>
        </ng-container>
        
        <!-- Comment Column -->
        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator 
        [length]="_storageService.Orders.length" 
        [pageIndex]="0" 
        [pageSize]="25" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
