.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
 }
  
 .table-header {
   min-height: 64px;
   display: flex;
   align-items: center;
   padding-left: 24px;
   font-size: 20px;
 }

 .mat-table {
   max-height: 600px;
 }

.mat-column-id {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-name {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-ValidFrom {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-ValidTo {
  min-width: 100px;
  max-width: 150px;
}
