<ng-container class="achih-control-full-width" [formGroup]="assetInfoForm">
  <!-- Category -->
  <mat-form-field>
    <mat-select placeholder="{{'Common.Category' | translate}}"
      formControlName="ctgyControl"
      name="asstctgy" class="achih-control-full-width">
      <mat-option *ngFor="let rt of arAssetCategories" [value]="rt.ID">
        {{rt.Name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Name -->
  <mat-form-field>
    <input matInput type="text" placeholder="{{'Common.Name' | translate}}" 
      formControlName="nameControl"
      name="asstname" #assetname maxlength="50">
      <mat-hint align="end">{{assetname.value.length}} / 50</mat-hint>
  </mat-form-field>

  <!-- Comment -->
  <mat-form-field>
    <input matInput type="text" placeholder="{{'Common.Comment' | translate}}" 
      formControlName="commentControl"
      name="asstcmt" #assetcomment maxlength="100">
      <mat-hint align="end">{{assetcomment.value.length}} / 100</mat-hint>
  </mat-form-field>
</ng-container>
