<md-card>
  <md-card-title>{{'Finance.Orders' | translate}}</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout-gt-xs="row">
      <div flex-gt-xs="50">
        <md-card>
          <md-card-title>{{'Finance.Orders' | translate}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>

          </md-card-content>
        </md-card>
      </div>
      <div flex-gt-xs="50">
        <md-card>
          <md-card-title>{{'Finance.Transactions' | translate}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>
