<h2 matDialogTitle>{{ dlgInfo.Header | translate}}</h2>
<mat-dialog-content>  
  <h2 class="control-full-width lead" *ngIf="dlgInfo.Content"> {{ dlgInfo.Content | translate}}
  </h2>
  <div *ngIf="dlgInfo.ContentTable">
    <div *ngFor="let cont of dlgInfo.ContentTable">
      <div class="alert" [ngClass]="{'alter-danger': cont.IsError, 'alter-warning': cont.IsWarning, 'alert-info': cont.IsInfo}" role="alert">
        <h4 class="alert-heading">{{cont.MsgTitle | translate}}</h4>
        <mat-divider></mat-divider>
        <p class="mb-0">{{cont.MsgContent | translate}}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div *ngIf="IsOnlyOKButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Common.OK' | translate}}</button>
  </div>
  <div *ngIf="IsYesNoButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Common.Yes' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Common.No' | translate}}</button>
  </div>
  <div *ngIf="IsOKCancelButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Common.OK' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Common.Cancel' | translate}}</button>
  </div>
  <div *ngIf="IsYesNoCancelButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Common.Yes' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Common.No' | translate}}</button>
    <button mat-button tabindex="3">{{'Common.Cancel' | translate}}</button>
  </div>
</mat-dialog-actions>
