
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  max-height: 500px;
}

/* Column Widths */
.mat-column-id {
  max-width: 120px;
}
