<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'" nzTip="Loading...">
  <nz-page-header nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>{{ 'Nav.EventTrace' | transloco }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>{{ 'Common.NormalEvents' | transloco }}</nz-page-header-title>
    <nz-page-header-subtitle>{{ 'Common.ListView' | transloco }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <a nz-button nzType="link" routerLink="/event/normal-event/create">{{ 'Common.Create' | transloco }}</a>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-table
    #basicTable
    [nzData]="dataSet"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzTotal]="totalCount"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ 'Common.Name' | transloco }}</th>
        <th>{{ 'Common.Date' | transloco }}</th>
      </tr>
    </thead>
    <tbody>
      @for(data of basicTable.data; track $index) {
        <tr>
          <td>
            {{ data.ID }}
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="onDisplay(data.ID!)">
              {{ 'Common.Display' | transloco }}
            </button>
            <button
              nz-button
              nzType="link"
              [disabled]="data.CompleteDate !== undefined"
              (click)="onMarkAsComplete(data.ID!)">
              {{ 'Common.MarkasDone' | transloco }}
            </button>
            <button nz-button nzType="link" (click)="onDelete(data.ID!)" nzDanger>
              {{ 'Common.Delete' | transloco }}
            </button>
          </td>
          <td>{{ data.Name }}</td>
          <td>{{ data.StartDateDisplayString }} - {{ data.EndDateDisplayString }}</td>
        </tr>  
      }
    </tbody>
  </nz-table>
</nz-spin>
