<md-card>
  <md-card-title>{{'Finance.Order' | translate}}</md-card-title>
  <md-card-subtitle>{{CurrentMode}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab>
        <ng-template md-tab-label>
          <md-icon>tune</md-icon> Header
        </ng-template>
        <form #detailForm="ngForm">
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput placeholder="{{'Common.ID' | translate}}" readonly [(ngModel)]="orderObject.Id" name="id" #id="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput placeholder="{{'Common.Name' | translate}}" required [(ngModel)]="orderObject.Name" name="name" #name="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="{{'Common.ValidFrom' | translate}}" required [(ngModel)]="orderObject.ValidFromString" name="validfrom" #validfrom="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="{{'Common.ValidTo' | translate}}" required [(ngModel)]="orderObject.ValidToString" name="validto" #validto="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <textarea mdInput placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="orderObject.Comment" name="cmt" #cmt="ngModel"></textarea>
            </md-input-container>
          </div>
        </form>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          <md-icon>dvr</md-icon>Settlement Rule
        </ng-template>
        <md-divider></md-divider>
        <table td-data-table>
          <th td-data-table-column>Operations</th>
          <th td-data-table-column
              *ngFor="let column of clnRules">
            {{column.label}}
          </th>
          <tr td-data-table-row *ngFor="let row of orderObject.SRules">
            <td td-data-table-cell>
              <button md-button>Display</button>
              <button md-button>Edit</button>
              <button md-button>Delete</button>
            </td>
            <td td-data-table-cell *ngFor="let column of clnRules">
              {{row[column.name]}}
            </td>
          </tr>
        </table>
        <md-divider></md-divider>

        <md-card>
          <md-card-content>
            <h3 md-line>Settlement Rule</h3>
            <form #ruleDetailForm="ngForm">
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="Rule ID" required [(ngModel)]="sruleObject.RuleId" name="sruleid" #sruleid="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" placeholder="Control Center" [(ngModel)]="sruleObject.ControlCenterId" name="srulecc">
                  <md-option *ngFor="let cc of arControlCenter" [value]="cc.Id">
                    {{cc.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="Percentage" required [(ngModel)]="sruleObject.Precent" name="sruleper" #sruleper="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <textarea mdInput placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="sruleObject.Comment" name="srulecmt" #srulecmt="ngModel"></textarea>
                </md-input-container>
              </div>
            </form>
          </md-card-content>
          <md-card-actions>
            <button md-button color="accent" [disabled]="!ruleDetailForm.form.valid" (click)="onRuleSubmit()">Add Rule</button>
            <button md-button>Reset current rule</button>
          </md-card-actions>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!detailForm.form.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
