<md-card>
  <md-card-title>Order</md-card-title>
  <md-card-subtitle>{{CurrentMode}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          <md-icon>tune</md-icon> Header
        </template>
        <form #detailForm="ngForm">
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input md-input placeholder="ID" readonly [(ngModel)]="orderObject.Id" name="id" #id="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input md-input placeholder="Name" required [(ngModel)]="orderObject.Name" name="name" #name="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <textarea md-input placeholder="Comment" [(ngModel)]="orderObject.Comment" name="cmt" #cmt="ngModel"></textarea>
            </md-input-container>
          </div>
        </form>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <md-icon>dvr</md-icon>Settlement Rule
        </template>
        <md-divider></md-divider>
        <md-list>
          <md-list-item>
            <span md-line class="pad-left md-body-1 tc-grey-500">Rule ID</span>
            <span hide-xs>Control Center</span>
            <span flex></span>
            <span hide-xs flex="30" class="pad-left md-body-1 tc-grey-500">Precentage</span>
          </md-list-item>
          <md-divider></md-divider>
          <template let-item let-last="last" ngFor [ngForOf]="orderObject.SRules">
            <md-list-item>
              <span md-line class="pad-left md-body-1 tc-grey-500">{{item.RuleId}}</span>
              <span hide-xs>{{item.ControlCenterName}}</span>
              <span flex></span>
              <span hide-xs flex="30" class="text-right md-body-1 tc-grey-500 pad-right">{{item.Precent}}</span>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-list>
        <md-divider></md-divider>
        <td-paging-bar [pageSizes]="[5, 10, 15, 20]" total="{{orderObject.SRules.length}}"></td-paging-bar>
        <md-divider></md-divider>

        <md-card>
          <md-card-content>
            <h3 md-line>Settlement Rule</h3>
            <form #ruleDetailForm="ngForm">
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input md-input type="number" placeholder="Rule ID" required [(ngModel)]="sruleObject.RuleId" name="sruleid" #sruleid="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" [(ngModel)]="sruleObject.ControlCenterId" name="srulecc">
                  <md-option *ngFor="let cc of arControlCenter" [value]="cc.Id" (click)="sortBy(sortKey)">
                    {{cc.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input md-input type="number" placeholder="Percentage" required [(ngModel)]="sruleObject.Precent" name="sruleper" #sruleper="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <textarea md-input placeholder="Comment" [(ngModel)]="sruleObject.Comment" name="srulecmt" #srulecmt="ngModel"></textarea>
                </md-input-container>
              </div>
            </form>
          </md-card-content>
          <md-card-actions>
            <button md-button color="accent" [disabled]="!ruleDetailForm.form.valid" (click)="onRuleSubmit()">Submit</button>
            <button md-button>Cancel</button>
          </md-card-actions>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!detailForm.form.valid" (click)="onSubmit()">Submit</button>
    <button md-button>Cancel</button>
  </md-card-actions>
</md-card>