.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
 }
  
 .table-header {
   min-height: 64px;
   display: flex;
   align-items: center;
   padding-left: 24px;
   font-size: 20px;
 }
  
 .mat-table {
   overflow: auto;
   max-height: 600px;
 }

.cell-icon {
  padding: 0 3px;
}
  
.example-spacer {
  flex: 1 1 auto;
}
 
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  flex: 0 0 10%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
{
  flex: 0 0 15%;
}

.mat-column-id {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-category {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-name {
  min-width: 150px;
  max-width: 200px;
}

.mat-row:hover {
  background-color: #ffff99;
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.mat-row:nth-child(odd) {
  background-color: white;
}
