
<div class="background" *ngIf="!IsUserLoggedIn || !IsHomeChosed">

  <h1 class="display-2" *ngIf="!IsUserLoggedIn">{{'Common.WelcomeToHIH' | translate}}</h1>
  <h2 *ngIf="!IsUserLoggedIn">{{'Common.ShortIntroduceHIH' | translate}}</h2>
  <p *ngIf="!IsUserLoggedIn">{{'Common.RequireLogin' | translate}}</p>

  <h1 class="display-2" *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.WelcomeBack' | translate}}</h1>
  <h2 *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.ShortIntroduceHIH' | translate}}</h2>
  <p *ngIf="IsUserLoggedIn && !IsHomeChosed">{{'Common.RequireChooseHome' | translate}}</p>

  <div *ngIf="!IsUserLoggedIn">
    <button mat-raised-button color="primary" (click)="onGoLogin()">{{'Login.Login' | translate}}</button>
  </div>
  <div *ngIf="IsUserLoggedIn && !IsHomeChosed">
    <button mat-raised-button color="primary" (click)="onGoHomeList()">{{'Nav.HomeList' | translate}}</button>
  </div>
</div>

<div *ngIf="IsUserLoggedIn && IsHomeChosed">
  <hih-home-dashboard></hih-home-dashboard>
</div>
