<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Nav.UserDetail' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="control-full-width">
      <input matInput type="text" placeholder="{{'Common.ID' | translate}}" readonly [(ngModel)]="usrObject.userId">
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="text" placeholder="{{'Common.Name' | translate}}" readonly [(ngModel)]="usrObject.userName">
    </mat-form-field>
  </mat-card-content>
</mat-card>
