.mat-column-ItemId {
    min-width: 25px;
    max-width: 40px;
}

.mat-column-AccountId {
    min-width: 120px;
    max-width: 160px;
}

.mat-column-TranType {
    min-width: 120px;
    max-width: 160px;
}

.mat-column-Curr {
    min-width: 30px;
    max-width: 50px;
}

.mat-column-Amount {
    min-width: 80px;
    max-width: 100px;
}

.mat-column-Desp {
    min-width: 150px;
    max-width: 200px;
}

.mat-column-ControlCenter {
    min-width: 50px;
    max-width: 120px;
}

.mat-column-Order {
    min-width: 50px;
    max-width: 120px;
}

.mat-column-Tag {
    min-width: 150px;
    max-width: 200px;
}
