<md-card>
  <md-card-header>
    <div></div>
    <md-card-title>{{'Finance.AccountCategories' | translate}}</md-card-title>
    <md-card-subtitle>{{'Common.ListView' | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="table-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container mdColumnDef="id">
          <md-header-cell *mdHeaderCellDef>#</md-header-cell>
          <md-cell *mdCellDef="let row">
            {{ row.ID }}
          </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef>{{'Common.Name' | translate}}</md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.Name}} </md-cell>
        </ng-container>

        <!-- Comment Column -->
        <ng-container mdColumnDef="comment">
          <md-header-cell *mdHeaderCellDef> {{'Common.Comment' | translate}} </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.Comment}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator 
        [length]="_storageService.AccountCategories.length" 
        [pageIndex]="0" 
        [pageSize]="25" 
        [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>
