<md-card>
  <md-card-title>{{"Finance.Currency" | translate}}</md-card-title>
  <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <form #detailForm="ngForm">
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Finance.Currency' | translate}}" readonly [(ngModel)]="currObject.Currency" name="curr" #curr="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.Name' | translate}}" readonly [(ngModel)]="currObject.Name" name="name" #name="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Finance.CurrencySymbol' | translate}}" readonly [(ngModel)]="currObject.Symbol" name="symbol" #symbol="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <md-slide-toggle readonly [(ngModel)]="currObject.IsLocalCurrency" name="loccurr">{{'Finance.LocalCurrency' | translate}}</md-slide-toggle>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <md-slide-toggle readonly [(ngModel)]="currObject.SysFlag" name="syflag">{{'Common.SystemFlag' | translate}}</md-slide-toggle>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" (click)="onBack()">{{'Common.Back' | translate}}</button>
  </md-card-actions>
</md-card>
