<md-card>
  <md-card-title>{{"Finance.Account" | translate}}</md-card-title>
  <md-card-subtitle>{{currentMode}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #detailForm="ngForm">
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.ID' | translate}}" readonly [(ngModel)]="accountObject.Id" name="id" #id="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.Name' | translate}}" required [(ngModel)]="accountObject.Name" name="name" #name="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="{{'Common.Category' | translate}}" [(ngModel)]="accountObject.CategoryId" name="ctgyid" #ctgyid="ngModel">
          <md-option *ngFor="let ctgy of arCategory" [value]="ctgy.Id">{{ ctgy.Name }}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="Owner" [(ngModel)]="accountObject.OwnerId" name="ownerid" #ownerid="ngModel">
          <md-option *ngFor="let user of arUsers" [value]="user.UserId">{{ user.DisplayAs }}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea mdInput placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="accountObject.Comment" name="cmt" #cmt="ngModel"></textarea>
        </md-input-container>
      </div>
    </form>

    <md-divider></md-divider>
    <md-card *ngIf="accountObject && accountObject.CategoryId && accountObject.CategoryId === ctgyAdvancePayment">
      <md-card-title>Advance payment information</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <form #advpayForm="ngForm">
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="Start date" readonly [(ngModel)]="advpayObject.StartDate" name="advpaystartdt" #advpaystartdt="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="End date" readonly [(ngModel)]="advpayObject.EndDate" name="advpayenddt" #advpayenddt="ngModel">
            </md-input-container>
          </div>
        </form>        
      </md-card-content>
    </md-card>
      
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!detailForm.form.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
