<md-card>
  <md-card-title>{{"Finance.Account" | translate}}</md-card-title>
  <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.ID' | translate}}" readonly [(ngModel)]="accountObject.Id" name="id" #id="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="{{'Common.Name' | translate}}" required [(ngModel)]="accountObject.Name" name="name" #name="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="{{'Common.Category' | translate}}" [(ngModel)]="accountObject.CategoryId" name="ctgyid" #ctgyid="ngModel">
          <md-option *ngFor="let ctgy of arCategory" [value]="ctgy.Id">{{ctgy.Id}} - {{ ctgy.Name }}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <md-select flex placeholder="{{'Finance.Owner' | translate}}" [(ngModel)]="accountObject.OwnerId" name="ownerid" #ownerid="ngModel">
          <md-option value="" class="bgc-grey-800">{{'Common.PleaseSelect' | translate}}</md-option>
          <md-option *ngFor="let user of arUsers" [value]="user.UserId">{{ user.DisplayAs }}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea mdInput placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="accountObject.Comment" name="cmt" #cmt="ngModel"></textarea>
        </md-input-container>
      </div>
    </div>

    <md-divider *ngIf="accountObject && accountObject.CategoryId && accountObject.CategoryId === ctgyAdvancePayment"></md-divider>
    <md-card *ngIf="accountObject && accountObject.CategoryId && accountObject.CategoryId === ctgyAdvancePayment">
      <md-card-title>{{"Finance.AdvancePayment" | translate}}</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="{{'Common.StartDate' | translate}}" readonly [(ngModel)]="accountObject.ExtraInfo.StartDateString" name="advpaystartdt" #advpaystartdt="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="{{'Common.EndDate' | translate}}" readonly [(ngModel)]="accountObject.ExtraInfo.EndDateString" name="advpayenddt" #advpayenddt="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-select placeholder="Repeat frequency" [(ngModel)]="accountObject.ExtraInfo.RepeatType" name="advpayrpttype" flex>
              <md-option *ngFor="let rt of arRepeatFrequency" [value]="rt.Id">
                {{rt.DisplayString}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="number" placeholder="Deferred days" [(ngModel)]="accountObject.ExtraInfo.DeferredDays" name="advpaydfrrdays" #advpaydfrrdays="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="text" placeholder="Ref Doc" [(ngModel)]="accountObject.ExtraInfo.RefDocId" name="advpayrefdoc" #advpayrefdoc="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="text" placeholder="{{'Common.Comment' | translate}}" [(ngModel)]="accountObject.ExtraInfo.Comment" name="advpaycmt" #advpaycmt="ngModel">
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>      
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
