<nz-page-header [nzGhost]="false">
  <nz-page-header-title>{{'Nav.UserDetail' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{userName}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <!-- 
    <button nz-button>Operation</button>
    <button nz-button>Operation</button>
    <button nz-button nzType="primary">Primary</button> -->
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="2">
      <nz-descriptions-item [nzTitle]="'Common.Name' | transloco" [nzSpan]="1">{{userName}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Login.Email' | transloco" [nzSpan]="1">{{userMail}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Nav.Home' | transloco" [nzSpan]="2">{{currentHomeName}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Common.Name' | transloco" [nzSpan]="1">{{currentHomeMemDisplayAs}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Common.Relationship' | transloco" [nzSpan]="1">{{currentHomeMemRelI18n | transloco}}</nz-descriptions-item>
      <label nz-checkbox nzDisabled [ngModel]="currentHomeMemIsChild">{{ 'Sys.MemRel.Children' | transloco }}</label>
    </nz-descriptions>
  </nz-page-header-content>
</nz-page-header>
