<div class="container">
    <div class="page-header">
        <h2>
            <span>{{'Learn.LearningCategory' | translate}}</span><small>{{'Common.ListView' | translate}}</small>
        </h2>
    </div>

    <hr />
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>{{'Common.Parent' | translate}}</th>
                <th>{{'Common.Name' | translate}}</th>
                <th>{{'Common.Comment' | translate}}</th>
                <th>Sys Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ctgy of lrnCategories">
                <td>{{ctgy.Id}}</td>
                <td>{{ctgy.ParentId}}</td>
                <td>{{ctgy.Name}}</td>
                <td>{{ctgy.Comment}}</td>
                <td><div class="checkbox"><input type="checkbox" [(ngModel)]="ctgy.SysFlag"></div></td>
            </tr>
        </tbody>
    </table>
</div>
