<div class="container">
    <div class="page-header">
        <h2>
            <span>{{'Learning.LearningObject' | translate}}</span><small>{{'Common.ListView' | translate}}</small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn-group btn-primary"
                        (click)="newItem()">
                    {{'Common.New' | translate}}
                </button>
                <button type="button" class="btn-group btn-primary"
                        ng-click="refreshList()">
                    {{'Common.Refresh' | translate}}
                </button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ng-click="displayItem()"
                        class="btn-group btn-primary">{{'Common.Display' | translate}}</button>
                <button type="button" ng-click="editItem()"
                        class="btn-group btn-warning">{{'Common.Edit' | translate}}</button>
                <button type="button" ng-click="removeItem()"
                        class="btn-group btn-danger">{{'Common.Delete' | translate}}</button>
            </div>
        </div>
    </div>

    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{{'Common.ID' | translate}}</th>
                <th>{{'Common.Category' | translate}}</th>
                <th>{{'Common.Name' | translate}}</th>
                <th>{{'Common.Content' | translate}}</th>
                <th>{{'Common.Operations' | translate}}</th>
            </tr>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of lrnObjects">
                <td></td>
                <td>{{row.Id}}</td>
                <td>{{row.CategoryId}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Content}}</td>
                <td>
                    <button type="button" class="btn btn-sm" (click)="displayItem(row)">
                        <i class="glyphicon glyphicon-share">
                        </i>
                    </button>
                    <button type="button" class="btn btn-sm" (click)="editItem(row)">
                        <i class="glyphicon glyphicon-edit">
                        </i>
                    </button>
                    <button type="button" (click)="removeItem(row)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
