<md-card>
  <md-card-title>{{'Finance.Accounts' | translate}}</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout-gt-xs="row">
      <div flex-gt-xs="25">
        <md-card>
          <md-card-title>{{'Finance.Accounts' | translate}} - {{'Common.ListView' | translate}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <md-list dense>
              <md-list-item *ngFor="let acnt of arAccounts">
                <a md-line (click)="showDocItems(acnt)">{{acnt.Name}}</a>
                <p md-line>
                  <span>{{acnt.CategoryName}} </span>
                  <span>{{acnt.OwnerDisplayAs}}</span>
                  <button md-icon-button (click)="showDocItems(acnt)">
                      <md-icon>view_list</md-icon>
                  </button>
                </p>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex-gt-xs="75">
        <md-card>
          <md-card-title>{{currentAccountName}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <!--<div layout-gt-xs="row">
              <div flex-gt-xs="50">
                <md-card>
                  <md-card-title>{{'Finance.Incoming' | translate}}</md-card-title>
                  <md-divider></md-divider>
                  <div style="height:250px;">
                    <ngx-charts-gauge
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="data"
                      [min]="0"
                      [max]="100"
                      [angleSpan]="240"
                      [startAngle]="-120"
                      [units]="'alerts'"
                      [bigSegments]="10"
                      [smallSegments]="5"
                      (select)="onSelect($event)">
                    </ngx-charts-gauge>
                  </div>
                </md-card>
              </div>
              <div flex-gt-xs="50">
                <md-card>
                  <md-card-title>{{'Finance.Outgoing' | translate}}</md-card-title>
                  <md-divider></md-divider>
                  <div style="height:250px;">
                    <ngx-charts-gauge
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="data"
                      [min]="0"
                      [max]="100"
                      [angleSpan]="240"
                      [startAngle]="-120"
                      [units]="'alerts'"
                      [bigSegments]="10"
                      [smallSegments]="5"
                      (select)="onSelect($event)">
                    </ngx-charts-gauge>
                  </div>
                </md-card>
              </div>
            </div>-->
            
            <td-data-table
              #dataTable
              [data]="filteredData"
              [columns]="columns"
              [sortable]="true"
              [selectable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder"
              (sortChange)="sort($event)">
            </td-data-table>
            <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
              <h3>{{'Common.NoResultToDisplay' | translate}}</h3>
            </div>
            <td-paging-bar #pagingBar [pageSizes]="[20, 40, 60, 80]" [total]="filteredTotal" (change)="page($event)">
              <span td-paging-bar-label hide-xs>{{'Common.RowPerPage' | translate}}</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
            </td-paging-bar>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>
