<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500">
  <nz-page-header nzBackIcon nzTitle="Currency">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/finance/overview">Overview</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Currencies</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content>
      <div class="wrap">
        <div class="content">
          <div class="content">
            <p nz-paragraph>
              Currencies.
            </p>
            <p nz-paragraph>
              The list of currencies which supported.
            </p>
            <div>
              <nz-table #basicTable [nzData]="dataSource">
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.Currency }}</td>
                    <td>{{ data.Name }}</td>
                    <td>{{ data.Symbol }}</td>
                    <td>
                      <a>Action 一 {{ data.curr }}</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a>Delete</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-spin>
