<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500" *transloco="let t">
  <nz-page-header nzBackIcon [nzTitle]="t('Finance.Currency')">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'Finance.Currencies' | transloco}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content>
      <div class="wrap">
        <div class="content">
          <div class="content">
            <p nz-paragraph>
             {{'Finance.Currencies' | transloco}}
            </p>
            <p nz-paragraph>
              The list of currencies which supported.
            </p>
            <div>
              <nz-table #basicTable [nzData]="dataSource">
                <thead>
                  <tr>
                    <th>{{'Finance.Currency' | transloco}}</th>
                    <th>{{'Common.Name' | transloco}}</th>
                    <th>{{'Finance.CurrencySymbol' | transloco}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.Currency }}</td>
                    <td>{{ data.Name | transloco }}</td>
                    <td>{{ data.Symbol }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-spin>
