<mat-card>
  <mat-card-header>
    <mat-card-title>{{curTitle | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper linear #stepper>

      <!-- Step 1. Generic Info -->
      <mat-step [completed]="firstStepCompleted" errorMessage="Invalid header">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{'Common.GenericInfo' | translate}}</ng-template>

          <!-- Tran date -->
          <mat-form-field>
            <input matInput [matDatepicker]="dtpker" placeholder="{{'Common.Date' | translate}}" formControlName="dateControl">
            <mat-datepicker-toggle matSuffix [for]="dtpker"></mat-datepicker-toggle>
            <mat-datepicker #dtpker></mat-datepicker>
          </mat-form-field>

          <!-- Account -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
              <mat-option *ngFor="let acnt of arUIAccount" [value]="acnt.Id">
                <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">
                  {{acnt.Name}} ({{acnt.CategoryName | translate}})
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tran type -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.TransactionType' | translate}}" formControlName="tranTypeControl">
              <mat-option *ngFor="let tt of arTranTypes" [value]="tt.Id">
                <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Amount -->
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" formControlName="amountControl">
          </mat-form-field>

          <!-- Currency -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Currency' | translate}}" formControlName="currControl">
              <mat-option *ngFor="let cr of arCurrencies" [value]="cr.Currency">
                {{cr.Symbol}} - {{cr.Name | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Exchange rate -->
          <mat-form-field *ngIf="isForeignCurrency">
            <input matInput type="text" placeholder="{{'Finance.ExchangeRate' | translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}"
              formControlName="exgControl" id="exgrate">
          </mat-form-field>

          <!-- Planned Exchange rate -->
          <div *ngIf="isForeignCurrency" class="achih-control-full-width">
            <mat-checkbox formControlName="exgpControl" color="accent" id="exgrate_plan">{{'Finance.ProposedExchangeRate' | translate}}</mat-checkbox>
          </div>

          <!-- Desp -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Common.Description' | translate}}" formControlName="despControl">
          </mat-form-field>

          <!-- CC -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl" name="srccc">
              <mat-option *ngFor="let cc of arControlCenters" [value]="cc.Id">
                {{cc.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Order -->
          <mat-form-field>
            <mat-select placeholder="{{'Finance.Order' | translate}}" formControlName="orderControl" name="srcord">
              <mat-option *ngFor="let ord of arUIOrder" [value]="ord.Id">
                {{ord.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step 2: Extra Info -->
      <mat-step [completed]="extraStepCompleted" errorMessage="Invalid extra">
        <ng-template matStepLabel>{{'Common.ExtraInfo' | translate}}</ng-template>
        <form formGroup="extraFormGroup">
          <hih-finance-account-ext-adpex #accountExtraInfo
            formControlName="adpAccountControl"
            [tranType]="TranType" 
            [tranAmount]="TranAmount">
          </hih-finance-account-ext-adpex>
        </form>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <!-- Step 3: Review and Confirm -->
      <mat-step>
        <ng-template matStepLabel>{{'Common.ReviewForSubmit' | translate}}</ng-template>
        <div>
          <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
          <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
          <button mat-button color="primary" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
