<md-card>
  <md-card-title>{{'Finance.ControlCenters' | translate}}</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout-gt-xs="row">
      <div flex-gt-xs="30">
        <md-card>
          <md-card-title>{{'Finance.ControlCenters' | translate}} - {{'Common.ListView' | translate}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <md-list dense>
              <md-list-item *ngFor="let cc of arCC">
                <a md-line (click)="showDocItems(cc)">{{cc.Name}}</a>
                <p md-line>
                  <span>{{cc.Comment}} </span>
                  <button md-icon-button (click)="showDocItems(cc)">
                      <md-icon>view_list</md-icon>
                  </button>
                </p>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
      <div flex-gt-xs="70">
        <md-card>
          <md-card-title>{{currentCCName}}</md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <td-data-table
              #dataTable
              [data]="filteredData"
              [columns]="columns"
              [sortable]="true"
              [selectable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder"
              (sortChange)="sort($event)">
            </td-data-table>
            <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
              <h3>No results to display.</h3>
            </div>
            <td-paging-bar #pagingBar [pageSizes]="[20, 40, 60, 80]" [total]="filteredTotal" (change)="page($event)">
              <span td-paging-bar-label hide-xs>{{'Common.RowPerPage' | translate}}</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
            </td-paging-bar>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>
