<nz-spin [nzSpinning]="isLoadingResults" *transloco="let t">
  <nz-page-header nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'Finance.Documents' | transloco}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>{{'Finance.Document' | transloco}}</nz-page-header-title>
    <nz-page-header-subtitle>{{'Common.ListView' | transloco}}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nz-dropdown [nzDropdownMenu]="menuCreateDocument">
        {{'Common.Create' | transloco}}
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menuCreateDocument="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onCreateNormalDocument()">{{'Finance.Document' | transloco}}</li>
          <li nz-menu-item (click)="onCreateTransferDocument()">{{'Finance.TransferDocument' | transloco}}</li>
          <li nz-menu-item (click)="onCreateExgDocument()">{{'Finance.CurrencyExchange' | transloco}}</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onCreateADPDocument()">{{'Finance.AdvancePayment' | transloco}}</li>
          <li nz-menu-item (click)="onCreateADRDocument()">{{'Sys.DocTy.AdvancedRecv' | transloco}}</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onCreateBorrowFromDocument()">{{'Sys.DocTy.BorrowFrom' | transloco}}</li>
          <li nz-menu-item (click)="onCreateLendToDocument()">{{'Sys.DocTy.LendTo' | transloco}}</li>
          <li nz-menu-item (click)="onCreateRepayDocument()">{{'Sys.DocTy.Repay' | transloco}}</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onCreateAssetBuyInDocument()">{{'Sys.DocTy.AssetBuyIn' | transloco}}</li>
          <li nz-menu-item (click)="onCreateAssetSoldOutDocument()">{{'Sys.DocTy.AssetSoldOut' | transloco}}</li>
          <li nz-menu-item (click)="onCreateAssetValChgDocument()">{{'Sys.DocTy.AssetValChg' | transloco}}</li>
          </ul>
      </nz-dropdown-menu>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-select [ngModel]="selectedDocScope">
        <nz-option *ngFor="let scp of uiStatusService.OverviewScopeStrings" [nzValue]='scp.value' [nzLabel]="t(scp.i18nterm)"></nz-option>
      </nz-select>
      <nz-range-picker></nz-range-picker>
    </nz-page-header-extra>
  </nz-page-header>
  <div nz-row>
    <nz-table
      #docTable
      nzShowSizeChanger
      [nzFrontPagination]="false"      
      [nzData]="listOfDocs"
      [nzLoading]="isLoadingResults"
      [nzTotal]="totalDocumentCount"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="fetchData()"
      (nzPageSizeChange)="fetchData(true)">
      <thead>
        <tr>
          <th nzShowExpand></th>
          <th>ID</th>
          <th>{{'Finance.Currency' | transloco}}</th>
          <th>{{'Common.Date' | transloco}}</th>
          <th>{{'Finance.DocumentType' | transloco}}</th>
          <th>{{'Common.Description' | transloco}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="docTable.data">
          <tr>
            <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.Id]"></td>
            <td>{{data.Id}}</td>
            <td>
              <nz-select [(ngModel)]="data.TranCurr" nzDisabled>
                <nz-option *ngFor="let cr of arCurrencies" [nzValue]='cr.Currency' [nzLabel]="t(cr.Name) + ' ' + cr.Symbol"></nz-option>
              </nz-select>

            </td>
            <td>{{data.TranDateFormatString}}</td>
            <td>
              <nz-select [(ngModel)]="data.DocType" nzDisabled>
                <nz-option *ngFor="let dt of arDocTypes" [nzValue]='dt.Id' [nzLabel]="t(dt.Name)"></nz-option>
              </nz-select>
            </td>
            <td>{{data.Desp}}</td>
          </tr>
          <tr [nzExpand]="mapOfExpandData[data.Id]">
            <td></td>
            <td colspan="4">
              <nz-table #itemTable [nzData]="data.Items">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{'Finance.Account' | transloco}}</th>
                    <th>{{'Finance.TransactionType' | transloco}}</th>
                    <th>{{'Finance.Amount' | transloco}}</th>
                    <th>{{'Common.Description' | transloco}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemdata of itemTable.data">
                    <td>{{ itemdata.ItemId }}</td>
                    <td>
                      <nz-select [(ngModel)]="itemdata.AccountId" nzDisabled>
                        <nz-option *ngFor="let acnt of arAccounts" [nzValue]='acnt.Id' [nzLabel]="acnt.Name"></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <nz-select [(ngModel)]="itemdata.TranType" nzDisabled>
                        <nz-option *ngFor="let tt of arTranTypes" [nzValue]='tt.Id' [nzLabel]="tt.FullDisplayText"></nz-option>
                      </nz-select>
                    </td>
                    <td>{{ itemdata.TranAmount }}</td>
                    <td>{{ itemdata.Desp }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</nz-spin>
