
.mat-column-subitem {
  width: 100px;
  min-width: 50px;
  max-width: 100px;
}

.mat-column-details {
  widows: 400px;
  min-width: 250px;
  max-width: 600px;
}

.mat-column-others {
  width: 200px;
  min-width: 100px;
  max-width: 200px;
}
