<md-card>
  <md-card-title>{{'Nav.UserDetail' | translate}}</md-card-title>
  <md-card-subtitle>{{'Nav.UserDetail' | translate}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <form #usrDetailForm="ngForm">
      <div layout="row" layout-margin>
        <md-input-container flex>
            <input mdInput placeholder="{{'Common.Name' | translate}}" readonly [(ngModel)]="objUserAuthInfo.userName" name="usrname" #usrname="ngModel">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
            <input mdInput type="text" placeholder="Alias" required maxlength="20" [(ngModel)]="usrDetail.DisplayAs" name="alias"
                #alias="ngModel" [disabled]="!isFieldChangable()">
            <md-hint align="end">{{usrDetail.DisplayAs && usrDetail.DisplayAs.length}} / 20</md-hint>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
            <input mdInput type="email" placeholder="Email" required maxlength="50" [(ngModel)]="usrDetail.Email" name="email"
                #email="ngModel" [disabled]="!isFieldChangable()">
            <md-hint align="end">{{usrDetail.Email && usrDetail.Email.length}} / 50</md-hint>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
            <input mdInput type="text" placeholder="Others" maxlength="100" [(ngModel)]="usrDetail.Others" name="others"
                #others="ngModel" [disabled]="!isFieldChangable()">
            <md-hint align="end">{{usrDetail.Others && usrDetail.Others.length}} / 100</md-hint>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!usrDetailForm.form.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
