<nz-spin [nzSpinning]="isLoadingResults()" *transloco="let t">
  <nz-page-header nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'Finance.Accounts' | transloco }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>{{ 'Finance.Account' | transloco }}</nz-page-header-title>
    <nz-page-header-subtitle>{{ 'Common.ListView' | transloco }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <a nz-button nzType="link" (click)="onRefresh(true)">{{ 'Common.Refresh' | transloco }}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-button nzType="link" [disabled]="isChildMode()" routerLink="/finance/account/create">{{
        'Common.Create' | transloco
      }}</a>
      <a nz-button nzType="link" routerLink="/finance/account/hierarchy">{{ 'Common.HierarchyView' | transloco }}</a>
    </nz-page-header-extra>
  </nz-page-header>
  <div nz-row>
    <nz-table #basicTable [nzLoading]="isLoadingResults()" [nzData]="dataSet()" nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of listOfColumns; track column) {
            <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
            >
              {{ column.name | transloco }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data.Id) {
          <tr>
            <td>
              <div class="id-cell">
                <!-- The ID itself links to the display page -->
                <a
                  [routerLink]="['/finance/account/display', data.Id!]"
                  [ngClass]="{ 'closed-account': data.isClosed }"
                  >{{ data.Id }}</a
                >
                <!-- Row actions: the former inline links live in a three-dot menu -->
                <button
                  nz-button
                  nzType="text"
                  nzSize="small"
                  nz-dropdown
                  [nzDropdownMenu]="rowActionMenu"
                  nzTrigger="click"
                  nzPlacement="bottomRight"
                  [attr.aria-label]="'Common.Actions' | transloco"
                  class="id-cell-action"
                >
                  <i nz-icon nzType="more" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #rowActionMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="onEdit(data.Id!)">{{ 'Common.Edit' | transloco }}</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="onChangeAccountName(data.Id!)">
                      {{ 'Finance.ChangeAccountName' | transloco }}
                    </li>
                    <li nz-menu-item (click)="onAccountReconcile(data.Id!)">
                      {{ 'Finance.AccountReconcile' | transloco }}
                    </li>
                    @if (!isChildMode()) {
                      <li nz-menu-divider></li>
                      <li nz-menu-item nzDanger (click)="onDelete(data.Id!)">{{ 'Common.Delete' | transloco }}</li>
                    }
                  </ul>
                </nz-dropdown-menu>
              </div>
            </td>
            <td>
              <span [ngClass]="{ 'closed-account': data.isClosed }">{{ data.Name }}</span>
            </td>
            <td>{{ getCategoryName(data.CategoryId!) | transloco }}</td>
            <td>{{ getStatusString(data.Status) | transloco }}</td>
            <td>{{ data.Comment }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</nz-spin>
