<ng-container class="achih-control-full-width">
  <div [formGroup]="loanInfoForm">
    <!-- Start Date -->
    <mat-form-field>
      <input matInput [matDatepicker]="startdpicker" placeholder="{{'Common.StartDate' | translate}}"
        formControlName="startDateControl" name="startDate">
      <mat-datepicker-toggle matSuffix [for]="startdpicker"></mat-datepicker-toggle>
      <mat-datepicker #startdpicker></mat-datepicker>
    </mat-form-field>

    <!-- End Date -->
    <mat-form-field>
      <input matInput [matDatepicker]="enddpicker" placeholder="{{'Common.EndDate' | translate}}"
        formControlName="endDateControl" name="endDate">
      <mat-datepicker-toggle matSuffix [for]="enddpicker"></mat-datepicker-toggle>
      <mat-datepicker #enddpicker></mat-datepicker>
    </mat-form-field>

    <!-- Total months -->
    <mat-form-field>
      <input matInput type="number" placeholder="{{'Finance.NumberOfPeriods' | translate}}"
        formControlName="totalMonthControl" name="totmonth">
    </mat-form-field>

    <!-- Repay day -->
    <mat-form-field *ngIf="isCreateMode">
      <input matInput type="number" placeholder="{{'Finance.RepayDayInMonth' | translate}}"
        formControlName="repayDayControl" name="repayday">
    </mat-form-field>

    <!-- First repay date -->
    <mat-form-field *ngIf="isCreateMode">
      <input matInput [matDatepicker]="firstrpdatedpicker" placeholder="{{'Finance.FirstRepayDate' | translate}}"
        formControlName="firstRepayDateControl" name="firstRepayDate">
      <mat-datepicker-toggle matSuffix [for]="firstrpdatedpicker"></mat-datepicker-toggle>
      <mat-datepicker #firstrpdatedpicker></mat-datepicker>
    </mat-form-field>

    <!-- Interest free -->
    <mat-checkbox formControlName="interestFreeControl" name="interestFree">{{'Finance.InterestFreeLoan' | translate}}
    </mat-checkbox>

    <!-- Annual Rate -->
    <mat-form-field>
      <input matInput type="number" [disabled]="!isFieldChangable || extObject.InterestFree"
        placeholder="{{'Finance.AnnualRate' | translate}}" formControlName="annualRateControl" name="annualRate">
    </mat-form-field>

    <!-- Repay. method -->
    <mat-form-field>
      <mat-select placeholder="{{'Finance.RepaymentMethod' | translate}}" formControlName="repayMethodControl"
        name="paymethod">
        <mat-option *ngFor="let rt of _uiStatusService.RepaymentMethods" [value]="rt.value">
          {{rt.i18nterm | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Paying Account -->
    <mat-form-field>
      <mat-select placeholder="{{'Finance.PayingAccount' | translate}}" formControlName="payingAccountControl"
        name="payacnt">
        <mat-option
          *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter"
          [value]="acnt.Id">
          <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}}
            ({{acnt.CategoryName | translate}})</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Partner -->
    <mat-form-field>
      <input matInput type="text" placeholder="{{'Finance.TradingPartner' | translate}}"
        formControlName="partnerControl" name="ptner">
    </mat-form-field>

    <!-- Comment -->
    <mat-form-field>
      <input matInput type="text" placeholder="{{'Common.Comment' | translate}}" formControlName="cmtControl"
        name="cmt">
    </mat-form-field>

    <!-- Ref doc. ID -->
    <div class="achih-control-full-width" *ngIf="extObject.RefDocId">
      <mat-label>{{'Finance.RefDoc' | translate}}</mat-label>
      <a routerLink='/finance/document/display/{{extObject.RefDocId}}' style="margin: 5px;"
        routerLinkActive="active">{{extObject?.RefDocId}}</a>
    </div>
  </div>
  
  <mat-toolbar>
    <button mat-icon-button (click)="onGenerateTmpDocs()" [disabled]="canGenerateTmpDocs"
      matTooltip="{{'Finance.GenerateTmpDocs' | translate}}">
      <mat-icon color="primary">refresh</mat-icon>
    </button>
  </mat-toolbar>

  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!-- TranDate Column -->
      <ng-container matColumnDef="TranDate">
        <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionDate' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput [(ngModel)]="row.TranDate" [matDatepicker]="tmpdpicker"
              placeholder="{{'Common.Date' | translate}}" [disabled]="!isFieldChangable">
            <mat-datepicker-toggle matSuffix [for]="tmpdpicker"></mat-datepicker-toggle>
            <mat-datepicker #tmpdpicker></mat-datepicker>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="TranAmount">
        <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' |translate}}"
              [readonly]="!isFieldChangable" [(ngModel)]="row.TranAmount" name="tmpamt">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Interest Column -->
      <ng-container matColumnDef="InterestAmount">
        <mat-header-cell *matHeaderCellDef>{{'Finance.Interest' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput type="number" required placeholder="{{'Finance.Amount' |translate}}"
              [readonly]="!isFieldChangable" [(ngModel)]="row.InterestAmount" name="tmpamt">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Desp Column -->
      <ng-container matColumnDef="Desp">
        <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput type="text" required placeholder="{{'Common.Description' |translate}}"
              [readonly]="!isFieldChangable" [(ngModel)]="row.Desp" name="tmpdesp" #tmpdesp maxlength="44">
            <mat-hint align="end">{{tmpdesp.value.length}} / 45</mat-hint>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- RefDoc Column -->
      <ng-container matColumnDef="RefDoc">
        <mat-header-cell *matHeaderCellDef>{{'Finance.RefDoc' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink='/finance/document/display/{{row.RefDocId}}' routerLinkActive="active"
            *ngIf="row.RefDocId">{{row.RefDocId}}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</ng-container>