<md-card>
  <md-card-title>Document</md-card-title>
  <md-card-subtitle>{{CurrentMode}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          <md-icon>tune</md-icon>Header
        </template>
        <form #detailForm="ngForm">
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput placeholder="ID" readonly [(ngModel)]="docObject.Id" name="id" #id="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-select flex="90" placeholder="Doc type" [(ngModel)]="docObject.DocType" name="doctype" #doctype="ngModel">
              <md-option *ngFor="let dt of arDocType" [value]="dt.Id">
                {{dt.Name}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <md-select flex="90" placeholder="Currency" [(ngModel)]="docObject.TranCurr" name="trancurr" #trancurr="ngModel">
              <md-option *ngFor="let cur of arCurrency" [value]="cur.Currency">
                {{cur.Symbol}} - {{cur.Name}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="Transaction Date" required [(ngModel)]="docObject.TranDateString" name="trandate" #trandate="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <textarea mdInput placeholder="Description" [(ngModel)]="docObject.Desp" name="desp" #desp="ngModel"></textarea>
            </md-input-container>
          </div>
        </form>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <md-icon>dvr</md-icon>Items
        </template>
        <md-divider></md-divider>
        <table td-data-table>
          <th td-data-table-column>Operations</th>
          <th td-data-table-column
              *ngFor="let column of clnItems">
            {{column.label}}
          </th>
          <tr td-data-table-row *ngFor="let row of docObject.Items">
            <td td-data-table-cell>
              <button md-button>Display</button>
              <button md-button>Edit</button>
              <button md-button>Delete</button>
            </td>
            <td td-data-table-cell *ngFor="let column of clnItems">
              {{row[column.name]}}
            </td>
          </tr>
        </table>
        <md-divider></md-divider>

        <md-card>
          <md-card-content>
            <h3 md-line>Items</h3>
            <form #itemDetailForm="ngForm">
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="Item ID" required [(ngModel)]="itemObject.ItemId" name="itemid" #itemid="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" placeholder="Transaction type" [(ngModel)]="itemObject.TranType" name="itemtrantype" #itemtrantype="ngModel">
                  <md-option *ngFor="let dt of arTranType" [value]="dt.Id">
                    ({{dt.Id}}) - {{dt.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" placeholder="Account" [(ngModel)]="itemObject.AccountId" name="itemaccnt" #itemaccnt="ngModel">
                  <md-option *ngFor="let acnt of arAccount" [value]="acnt.Id">
                    {{acnt.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="Transaction amount" required [(ngModel)]="itemObject.TranAmount" name="itemtranamt" #itemtranamt="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <textarea mdInput placeholder="Description" [(ngModel)]="itemObject.Desp" name="itemdesp" #itemdesp="ngModel"></textarea>
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" placeholder="Control center" [(ngModel)]="itemObject.ControlCenterId" name="itemcc" #itemcc="ngModel">
                  <md-option *ngFor="let cc of arControlCenter" [value]="cc.Id">
                    {{cc.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-select flex="90" placeholder="Order" [(ngModel)]="itemObject.OrderId" name="itemorder" #itemorder="ngModel">
                  <md-option *ngFor="let ord of arOrder" [value]="ord.Id">
                    {{ord.Name}}
                  </md-option>
                </md-select>
              </div>
            </form>
          </md-card-content>
          <md-card-actions>
            <button md-button color="accent" [disabled]="!itemDetailForm.form.valid" (click)="onItemSubmit()">Add Item</button>
            <button md-button>Reset current item</button>
          </md-card-actions>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!detailForm.form.valid" (click)="onSubmit()">Submit</button>
    <button md-button>Cancel</button>
  </md-card-actions>
</md-card>
