<md-card>
  <md-card-title>{{'Finance.Document' | translate}}</md-card-title>
  <md-card-subtitle>{{CurrentMode}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          <md-icon>tune</md-icon>{{'Finance.Header' | translate}}
        </template>
        <form #detailForm="ngForm">
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput placeholder="ID" readonly [(ngModel)]="docObject.Id" name="id" #id="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-select flex placeholder="{{'Finance.DocumentType' | translate}}" [(ngModel)]="docObject.DocType" name="doctype" #doctype="ngModel">
              <md-option flex *ngFor="let dt of arDocType" [value]="dt.Id">
               {{dt.Id}} - {{dt.Name}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <md-select flex placeholder="{{'Finance.Currency' | translate}}" [(ngModel)]="docObject.TranCurr" name="trancurr" #trancurr="ngModel">
              <md-option flex *ngFor="let cur of arCurrency" [value]="cur.Currency">
                {{cur.Symbol}} - {{cur.Name}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <input mdInput type="date" placeholder="{{'Finance.TransactionDate' | translate}}" required [(ngModel)]="docObject.TranDateString" name="trandate" #trandate="ngModel">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container flex>
              <textarea mdInput placeholder="{{'Common.Description' | translate}}" [(ngModel)]="docObject.Desp" name="desp" #desp="ngModel"></textarea>
            </md-input-container>
          </div>
        </form>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          <md-icon>dvr</md-icon>{{'Finance.Items' | translate}}
        </template>
        <md-divider></md-divider>
        <table td-data-table>
          <th td-data-table-column>{{'Common.Operations' | translate}}</th>
          <th td-data-table-column
              *ngFor="let column of clnItems">
            {{column.label}}
          </th>
          <tr td-data-table-row *ngFor="let row of docObject.Items">
            <td td-data-table-cell>
              <button md-button>{{'Common.Display' | translate}}</button>
              <button md-button>{{'Common.Edit' | translate}}</button>
              <button md-button>{{'Common.Delete' | translate}}</button>
            </td>
            <td td-data-table-cell *ngFor="let column of clnItems">
              {{row[column.name]}}
            </td>
          </tr>
        </table>
        <md-divider></md-divider>

        <md-card>
          <md-card-content>
            <h3 md-line>Items</h3>
            <form #itemDetailForm="ngForm">
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="#" required [(ngModel)]="itemObject.ItemId" name="itemid" #itemid="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex placeholder="{{'Finance.TransactionType' | translate}}" [(ngModel)]="itemObject.TranType" name="itemtrantype" #itemtrantype="ngModel">
                  <md-option *ngFor="let dt of arTranType" [value]="dt.Id">
                    ({{dt.Id}}) - {{dt.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-select flex placeholder="{{'Finance.Account' | translate}}" [(ngModel)]="itemObject.AccountId" name="itemaccnt" #itemaccnt="ngModel">
                  <md-option *ngFor="let acnt of arAccount" [value]="acnt.Id">
                    {{acnt.Id}} - {{acnt.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <input mdInput type="number" placeholder="{{'Finance.Amount' | translate}}" required [(ngModel)]="itemObject.TranAmount" name="itemtranamt" #itemtranamt="ngModel">
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-input-container flex>
                  <textarea mdInput placeholder="{{'Common.Description' | translate}}" [(ngModel)]="itemObject.Desp" name="itemdesp" #itemdesp="ngModel"></textarea>
                </md-input-container>
              </div>
              <div layout="row" layout-margin>
                <md-select flex placeholder="{{'Finance.ControlCenter' | translate}}" [(ngModel)]="itemObject.ControlCenterId" name="itemcc" #itemcc="ngModel">
                  <md-option value="0">{{'Common.PleaseSelect' | translate}}</md-option>
                  <md-option *ngFor="let cc of arControlCenter" [value]="cc.Id">
                    {{cc.Id}} - {{cc.Name}}
                  </md-option>
                </md-select>
              </div>
              <div layout="row" layout-margin>
                <md-select flex placeholder="{{'Finance.Order' | translate}}" [(ngModel)]="itemObject.OrderId" name="itemorder" #itemorder="ngModel">
                  <md-option value="0">{{'Common.PleaseSelect' | translate}}</md-option>
                  <md-option *ngFor="let ord of arOrder" [value]="ord.Id">
                   {{ord.Id}} - {{ord.Name}}
                  </md-option>
                </md-select>
              </div>
            </form>
          </md-card-content>
          <md-card-actions>
            <button md-button color="accent" [disabled]="!itemDetailForm.form.valid" (click)="onItemSubmit()">Add Item</button>
            <button md-button (click)="resetCurrentItem()">Reset current item</button>
          </md-card-actions>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" [disabled]="!detailForm.form.valid" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button>{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
