<nz-back-top></nz-back-top>

<nz-timeline nzMode="alternate">
  <nz-timeline-item [nzDot]="dotTemplate">
    <article nz-typography>
      <h1 nz-title>Version 1.6.*</h1>
      <h2 nz-title>Released at: 2023.12.31</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>Feature: Library Trace;</li>
        <li>Feature: Event Trace;</li>
        <li>UI: Upgrade to Angular 15+;</li>
        <li>API: Upgrade to .Net 6;</li>
        <li>UI: Redesign the themes;</li>
        <li>Finance: Add Insurance Account;</li>
        <li>Finance: Add Report side by lots of new report;</li>
        <li>API: Enrich the unit tests on API sides;</li>
        <li>UI: Refactor the Welcome page;</li>
        <li>UI Refactoring: unit tests on UI sides</li>
      </ul>
    </article>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <article nz-typography>
      <h1 nz-title>Version 1.1.102</h1>
      <h2 nz-title>Released at: 2020.5.26</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>API: Upgrade to .Net Core 5;</li>
        <li>UI: Ant Design replaces Material library;</li>
        <li>Home dashboard page layout redesign;</li>
        <li>Tons of bugs fixed;</li>
      </ul>
    </article>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <article nz-typography>
      <h1 nz-title>Version 0.7.*</h1>
      <h2 nz-title>Released at: 2018.12.31</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>Removed jQuery and Bootstrap;</li>
        <li>Replace ngx-charts with ngx-echarts;</li>
        <li>Home dashboard page layout redesign;</li>
        <li>Redesign the theme switching logic;</li>
        <li>Finance: dashboard layout redesign;</li>
        <li>Finance: Split loan document to Borrow Froma and Lend to;</li>
        <li>Finance: Split Advance payment document to Advance payment and Advance Received;</li>
        <li>Finance: now template docs (loan/adp) is part of Accounts;</li>
        <li>Finance: Loan docs now supports change attributes and will regenerate template docs;</li>
        <li>Finance: Report on accounts - Assets and Liabilities;</li>
        <li>Finance: Asset buyin document created with legacy asset option;</li>
        <li>Finance: Asset buyin document - refactored by using Reactive Form;;</li>
        <li>Finance: Asset soldout document - refactored by using Reactive Form;</li>
        <li>Finance: Asset Account Extra component - refactored by using Reactive Form;</li>
        <li>Finance: Normal document - refactored by using Reactive Form;</li>
        <li>Finance: Transfer document - refactored by using Reactive Form;</li>
        <li>Finance: Create re-estimated value upon Asset Account;</li>
        <li>Finance: new color set enabled;</li>
        <li>Event: Default sorting provided;</li>
      </ul>
    </article>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <article nz-typography>
      <h1 nz-title>Version 0.5.*</h1>
      <h2 nz-title>Released at: 2018.5.7</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>Add English Learning;</li>
        <li>Finance Report for Account: Status;</li>
        <li>Multiple items support for Asset buy-in;</li>
        <li>Multiple items support for Asset sold-out;</li>
        <li>Manually exchange rate adjustment for posted documents;</li>
        <li>Finance Report: Monthly expense trend;</li>
        <li>Finance Report: Monthly income trend;</li>
        <li>Event: Create the event and assign to one home member;</li>
        <li>Recur event: Create the recur event;</li>
        <li>Habit event: Create the habit-like event;</li>
        <li>Learn Category Hierarchy View;</li>
        <li>Learn Object grouped by Category Hierarchy View;</li>
        <li>Finance: Transaction Type hierarchy view;</li>
        <li>Finance: Account group by Category hierarchy view;</li>
        <li>Finance Document Item group by account/category hierarchy view;</li>
        <li>Finance control center hierarchy view;</li>
        <li>Finance Document Item group by control center hierarchy view;</li>
        <li>Dynamic theme support;</li>
        <li>Version page;</li>
        <li>Splitter support in the hierarchy views;</li>
        <li>About page;</li>
        <li>Credits page;</li>
      </ul>
    </article>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <article nz-typography>
      <h1 nz-title>Version 0.2.*</h1>
      <h2 nz-title>Released at: 2017.11.3</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>Add Routing to Library;</li>
        <li>Add Routing to Event;</li>
        <li>Add Question Bank in Learn part;</li>
        <li>Tags support to Question Bank;</li>
        <li>Tags support to Finance Document Item;</li>
        <li>Refine the Exchange Rate definition;</li>
        <li>Create/Delete Finance Document - Loan;</li>
        <li>Finance Report for Order: Status control;</li>
      </ul>
    </article>
  </nz-timeline-item>
  <nz-timeline-item nzColor="green">
    <article nz-typography>
      <h1 nz-title>Version 0.1.*</h1>
      <h2 nz-title>Released at: 2017.10.10</h2>
      <p nz-text><strong>Bugs fixing and Feature list</strong></p>
      <ul>
        <li>Including the functionality of Learn part and Finance part;</li>
        <li>Concept of 'Home' now available;</li>
        <li>Create/Display/Change Learn object;</li>
        <li>Create/Display/Delete Learn History;</li>
        <li>Create/Display Finance Account</li>
        <li>Create/Delete Finance Document - Normal</li>
        <li>Create/Delete Finance Document - Transfer</li>
        <li>Create/Delete Finance Document - Advanced payment</li>
        <li>Create/Delete Finance Document - Asset</li>
        <li>Create/Delete Finance Document - Currency exchange;</li>
        <li>Report of Finance: Balance, Account, Control Center and Order;</li>
        <li>Finance Overview page;</li>
        <li>Overview page: Learn trace and Finance part;</li>
        <li>Redefined the whole structure - Sidenav, routing, etc;</li>
      </ul>
    </article>
  </nz-timeline-item>
</nz-timeline>
<ng-template #dotTemplate>
  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
</ng-template>
