.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.demo-full-width {
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
 }
  
.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}

.mat-column-itemid {
  min-width: 120px;
  max-width: 120px;
}

.mat-column-accountid {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-trantype {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-amount {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-desp {
  min-width: 120px;
  max-width: 200px;
}

.mat-column-controlcenter {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-order {
  min-width: 100px;
  max-width: 200px;
}

.mat-column-tag {
  min-width: 100px;
  max-width: 200px;
}

.cell-icon {
  padding: 0 2px;
}
  
.example-spacer {
  flex: 1 1 auto;
}

.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.outgoingtrantype {
  color: red;
}

.incomingtrantype {
  color: green;
}
