<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Document' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Finance.Header' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Finance.Header' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Currency -->
        <mat-form-field class="control-full-width">
          <mat-select placeholder="{{'Finance.Currency' | translate}}" 
            [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr" name="curr">
            <mat-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
              {{cr.Symbol}} - {{cr.Name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tran date -->
        <mat-form-field class="control-full-width">
          <input matInput [(ngModel)]="detailObject.TranDate" [matDatepicker]="tdpicker" 
            placeholder="{{'Common.Date' | translate}}" [disabled]="!isFieldChangable">
          <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
          <mat-datepicker #tdpicker></mat-datepicker>
        </mat-form-field>        
        
        <mat-form-field class="control-full-width">
          <input matInput type="text" placeholder="{{'Common.Description' |translate}}" [readonly]="!isFieldChangable" maxlength="44"
            [(ngModel)]="detailObject.Desp" name="dsp">
        </mat-form-field>

        <!-- Exchange rate -->
        <mat-form-field class="control-full-width" *ngIf="isForeignCurrency">
          <input matInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.ExgRate" name="hexrate">
        </mat-form-field>

        <!-- Planned Exchange rate -->
        <div *ngIf="isForeignCurrency" class="control-full-width">
          <mat-checkbox [(ngModel)]="detailObject.ExgRate_Plan" color="accent" [disabled]="!isFieldChangable">{{'Finance.ProposedExchangeRate' | translate}}</mat-checkbox>
        </div>
        
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Finance.Items' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Finance.Items' | translate}}
            <mat-icon>format_list_numbered</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-toolbar>
          <button mat-icon-button (click)="onCreateDocItem()" matTooltip="{{'Finance.CreateItem' | translate}}"><mat-icon mat-icon-button color="primary">add</mat-icon></button>
        </mat-toolbar>
        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="itemid">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteDocItem(row)"><mat-icon class="cell-icon">delete</mat-icon></button>
                <mat-form-field>
                  <input matInput type="number" required [readonly]="!isFieldChangable" [(ngModel)]="row.ItemId" name="itid">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Account Column -->
            <ng-container matColumnDef="accountid">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Account' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.Account' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.AccountId" name="itacnt">
                    <mat-option *ngFor="let acnt of arUIAccount | uiAccountStatusFilter: uiAccountStatusFilter | uiAccountCtgyFilter: uiAccountCtgyFilter" [value]="acnt.Id">
                      <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}} ({{acnt.CategoryName | translate}})</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranType Column -->
            <ng-container matColumnDef="trantype">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.TransactionType' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <mat-form-field>
                  <input matInput type="number" required placeholder="{{'Finance.Amount' |translate}}" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.TranAmount" name="itamt">
                </mat-form-field>
              </mat-cell>
            </ng-container>
              
            <!-- Comment Column -->
            <ng-container matColumnDef="desp">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field class="control-full-width">
                  <input matInput type="text" required placeholder="{{'Common.Description' |translate}}" maxlength="44"
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Desp" name="itdesp">
                </mat-form-field> 
              </mat-cell>
            </ng-container>

            <!-- Control center Column -->
            <ng-container matColumnDef="controlcenter">
              <mat-header-cell *matHeaderCellDef> {{'Finance.ControlCenter' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="itcc">
                    <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
                    <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Order Column -->
            <ng-container matColumnDef="order">
              <mat-header-cell *matHeaderCellDef> {{'Finance.Order' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.Order' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.OrderId" name="itord">
                    <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
                    <mat-option *ngFor="let tt of arUIOrder | uiOrderValidFilter: uiOrderFilter" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Tag column -->
            <ng-container matColumnDef="tag">
              <mat-header-cell *matHeaderCellDef> {{'Common.Tag' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-chip-list #tagList>
                    <mat-chip *ngFor="let term of row.Tags" selectable="true"
                      [removable]="isFieldChangable" (remove)="removeItemTag(row, term)">
                      {{term}}
                      <mat-icon matChipRemove *ngIf="isFieldChangable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="tagList" [readonly]="!isFieldChangable"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          matChipInputAddOnBlur="true"
                          (matChipInputTokenEnd)="addItemTag(row, $event)" />
                  </mat-chip-list>
                </mat-form-field>                
              </mat-cell>
            </ng-container>
                
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Common.ReviewForSubmit' | translate}}
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="mat-typography">
          <div class="mat-typography control-full-width">
            <h3>{{'Common.Description' | translate}}: {{detailObject.Desp}}</h3>
            <h3>{{'Common.Date' | translate}}: {{detailObject.TranDate}}</h3>
          </div>
        </section>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn" (click)="onBackToList()">{{'Common.BackToList' | translate}}</button>
  </mat-card-actions>
</mat-card>
