<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.Document' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Finance.Header' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Finance.Header' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Currency -->
        <mat-form-field>
          <mat-select class="demo-full-width" placeholder="{{'Finance.Currency' | translate}}" 
            [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr" name="curr">
            <mat-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
                {{cr.Symbol}} - {{cr.Name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tran date -->
        <mat-form-field>
          <input matInput [(ngModel)]="detailObject.TranDate" [matDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
          <mat-datepicker #tdpicker></mat-datepicker>
        </mat-form-field>        
        
        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Description' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp" name="dsp">
        </mat-form-field>

        <!-- Exchange rate -->
        <mat-form-field class="demo-full-width" *ngIf="isForeignCurrency">
          <input matInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.ExgRate" name="hexrate">
        </mat-form-field>

        <!-- Planned Exchange rate -->
        <div *ngIf="isForeignCurrency">
          <mat-checkbox [(ngModel)]="detailObject.ExgRate_Plan" color="accent" [disabled]="!isFieldChangable">{{'Finance.ProposedExchangeRate' | translate}}</mat-checkbox>
        </div>
        
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Finance.Items' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'Finance.Items' | translate}}
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-toolbar>
          <button mat-icon-button (click)="onCreateDocItem()" matTooltip="{{'Finance.CreateItem' | translate}}"><mat-icon mat-icon-button color="primary">add</mat-icon></button>
        </mat-toolbar>
        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="ItemId">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [disabled]="!isFieldChangable" (click)="onDeleteDocItem(row)"><mat-icon class="example-icon">delete</mat-icon></button>
                <span class="example-spacer"></span>
                <mat-form-field>
                  <input matInput type="number" required placeholder="#" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.ItemId" name="itid">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- AccountID Column -->
            <ng-container matColumnDef="AccountId">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Account' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.Account' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.AccountId" name="itacnt">
                    <mat-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
                      {{acnt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- TranType Column -->
            <ng-container matColumnDef="TranType">
              <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.TransactionType' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.TranType" name="ittt">
                    <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>
              
            <!-- Amount Column -->
            <ng-container matColumnDef="Amount">
              <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <mat-form-field>
                  <input matInput type="number" required placeholder="{{'Finance.Amount' |translate}}" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.TranAmount" name="itamt">
                </mat-form-field>
              </mat-cell>
            </ng-container>
              
            <!-- Comment Column -->
            <ng-container matColumnDef="Desp">
              <mat-header-cell *matHeaderCellDef> {{'Common.Comment' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field class="demo-full-width">
                  <input matInput type="text" required placeholder="{{'Common.Description' |translate}}" 
                    [readonly]="!isFieldChangable" [(ngModel)]="row.Desp" name="itdesp">
                </mat-form-field> 
              </mat-cell>
            </ng-container>

            <!-- Control center Column -->
            <ng-container matColumnDef="ControlCenter">
              <mat-header-cell *matHeaderCellDef> {{'Finance.ControlCenter' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.ControlCenterId" name="itcc">
                    <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- Order Column -->
            <ng-container matColumnDef="Order">
              <mat-header-cell *matHeaderCellDef> {{'Finance.Order' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-form-field>
                  <mat-select placeholder="{{'Finance.Order' | translate}}" 
                    [disabled]="!isFieldChangable" [(ngModel)]="row.OrderId" name="itord">
                    <mat-option *ngFor="let tt of _storageService.Orders" [value]="tt.Id">
                      {{tt.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Common.ReviewForSubmit' | translate}}
          </mat-panel-title>
          <mat-panel-description>
              {{'Common.ReviewForSubmit' | translate}}
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">{{'Common.PreviousButton' | translate}}</button>
          <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
          <button mat-button (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
