<nz-spin [nzSpinning]="isLoadingResults">
  <nz-page-header nzBackIcon>
    <nz-page-header-title>{{ 'Finance.Account' | transloco }}</nz-page-header-title>
    <nz-page-header-subtitle>{{ currentMode | transloco }}</nz-page-header-subtitle>
    <nz-page-header-tags> </nz-page-header-tags>
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="onSave()" [disabled]="!isSaveEnabled">
        {{ 'Common.Save' | transloco }}
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <div>
    <!-- Header -->
    <form nz-form [formGroup]="headerFormGroup">
      <!-- ID -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.ID' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="idControl" readonly />
        </nz-form-control>
      </nz-form-item>

      <!-- Name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.Name' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameTpl">
          <input nz-input formControlName="nameControl" maxlength="30" required />
          <ng-template #nameTpl let-control>
            @if(control.hasError('maxlength')) {
              <ng-container>
                {{ 'Common.FieldMaxLength' | transloco }}
              </ng-container>  
            }
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Category -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{ 'Common.Category' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ctgyTpl">
          <nz-select formControlName="ctgyControl">
            @for(cc of arAccountCategories; track cc.ID) {
              <nz-option [nzValue]="cc.ID" [nzLabel]="cc.Name | transloco" [nzDisabled]="isCategoryDisabled(cc.ID!)"></nz-option>
            }            
          </nz-select>
          <ng-template #ctgyTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Status -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{ 'Common.Status' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="statusTpl">
          <nz-select formControlName="statusControl">
            @for(sts of arStatusDisplayStrings; track sts.value) {
              <nz-option [nzValue]="sts.value" [nzLabel]="sts.i18nterm | transloco"></nz-option>
            }            
          </nz-select>
          <ng-template #statusTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Owner -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{ 'Finance.Owner' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ownerTpl">
          <nz-select formControlName="ownerControl">
            @for(usr of arMembers; track usr.User) {
              <nz-option [nzValue]="usr.User" [nzLabel]="usr.DisplayAs"></nz-option>
            }            
          </nz-select>
          <ng-template #ownerTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Comment -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{ 'Common.Comment' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cmtTpl">
          <input nz-input formControlName="cmtControl" maxlength="45" />
          <ng-template #cmtTpl let-control>
            @if(control.hasError('maxlength')) {
              <ng-container>
                {{ 'Common.FieldMaxLength' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!-- Initial amount -->
    @if(canEnterInitialAmount) {
      <div nz-row class="initamount-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox [(ngModel)]="isInitAmountRequired">
            <span>{{ 'Finance.InitialBalance' | transloco }}</span>
          </label>
        </div>
      </div>  
    }

    @if(isInitAmountRequired) {
      <form [formGroup]="amountFormGroup">
        <!-- Tran date -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>{{ 'Common.Date' | transloco }}</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback style="text-align: left">
            <nz-date-picker id="idTranDate" formControlName="dateControl"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="7">{{ 'Finance.Amount' | transloco }}</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="amountTpl">
            <nz-input-number [nzMin]="0.01" [nzStep]="0.01" formControlName="amountControl"> </nz-input-number>
            <ng-template #amountTpl let-control>
              @if(control.hasError('required')) {
                <ng-container>
                  {{ 'Common.FieldIsMandatory' | transloco }}
                </ng-container>  
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="7">{{ 'Finance.ControlCenter' | transloco }}</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="amountTpl">
            <nz-select nzAllowClear formControlName="ccControl">
              @for(tt of arControlCenters; track tt.Id) {
                <nz-option [nzValue]="tt.Id" [nzLabel]="tt.Name"></nz-option>
              }            
            </nz-select>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="7">{{ 'Finance.Activity' | transloco }}</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="amountTpl">
            <nz-select nzAllowClear formControlName="orderControl">
              @for(tt of arUIOrders; track tt.Id) {
                <nz-option [nzValue]="tt.Id" [nzLabel]="tt.Name"></nz-option>
              }            
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>  
    }

    <nz-divider></nz-divider>

    @if(isADPAccount) {
      <form nz-form #extraADP [formGroup]="extraADPFormGroup">
        <hih-finance-account-extra-downpayment
          formControlName="extADPControl"
          [tranAmount]="tranAmount"
          [tranType]="tranType"
          [allTranTypes]="arTranTypes">
        </hih-finance-account-extra-downpayment>
      </form>  
    }

    @if(isAssetAccount) {
      <form nz-form #extraAsset [formGroup]="extraAssetFormGroup">
        <hih-finance-account-extra-asset formControlName="extAssetControl" [arAssetCategories]="arAssetCategories">
        </hih-finance-account-extra-asset>
      </form>  
    }

    @if(isLoanAccount) {
      <form nz-form #extraLoan [formGroup]="extraLoanFormGroup">
        <hih-finance-account-extra-loan
          formControlName="extLoanControl"
          [tranAmount]="tranAmount"
          [controlCenterID]="controlCenterID"
          [orderID]="orderID"
          [arUIAccount]="arUIAccount">
        </hih-finance-account-extra-loan>
      </form>  
    }
  </div>
</nz-spin>
