<nz-spin [nzSpinning]="isLoadingResults" *transloco="let t">
  <nz-page-header nzBackIcon>
    <nz-page-header-title>{{'Finance.Account' | transloco}}</nz-page-header-title>
    <nz-page-header-subtitle>{{currentMode | transloco}}</nz-page-header-subtitle>
    <nz-page-header-tags>
      <!-- <nz-tag [nzColor]="'red'">Warning</nz-tag> -->
    </nz-page-header-tags>
    <nz-page-header-extra>
      <button nz-button nzType="primary">{{'Common.Save' | transloco}}</button>
    </nz-page-header-extra>
  </nz-page-header>
  <div>
    <!-- Header -->
    <form nz-form [formGroup]="headerFormGroup">
      <!-- ID -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{'Common.ID' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="idControl" readonly />
        </nz-form-control>
      </nz-form-item>
  
      <!-- Name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>{{'Common.Name' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameTpl">
          <input nz-input formControlName="nameControl" maxlength="30" required />
          <ng-template #nameTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')">
              {{'Common.FieldMaxLength' | transloco}}
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              {{'Common.FieldIsMandatory' | transloco}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  
      <!-- Category -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Common.Category' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ctgyTpl">
          <nz-select formControlName="ctgyControl">
            <nz-option *ngFor="let cc of arAccountCategories" [nzValue]="cc.Id" [nzLabel]="t(cc.Name)" [nzDisabled]="isCategoryDisabled(cc)"></nz-option>
          </nz-select>
          <ng-template #ctgyTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{'Common.FieldIsMandatory' | transloco}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  
      <!-- Status -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Common.Status' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="statusTpl">
          <nz-select formControlName="statusControl">
            <nz-option *ngFor="let sts of arrayStatus" [nzValue]='sts.value' [nzLabel]="t(sts.i18nterm)"></nz-option>
          </nz-select>
          <ng-template #statusTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{'Common.FieldIsMandatory' | transloco}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Owner -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Finance.Owner' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ownerTpl">
          <nz-select formControlName="ownerControl">
            <nz-option *ngFor="let usr of arMembers" [nzValue]="usr.User" [nzLabel]="usr.DisplayAs"></nz-option>
          </nz-select>
          <ng-template #ownerTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{'Common.FieldIsMandatory' | transloco}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Comment -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">{{'Common.Comment' | transloco}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cmtTpl">
          <input nz-input formControlName="cmtControl" maxlength="45" />
          <ng-template #cmtTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')">
              {{'Common.FieldMaxLength' | transloco}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  
    <form nz-form [formGroup]="extraADPFormGroup" [hidden]="!isADPAccount">
      <hih-finance-account-extra-downpayment formControlName="extADPControl"
        [tranAmount]="tranAmount"
        [tranType]="tranType"
        [allTranTypes]="arTranTypes">
      </hih-finance-account-extra-downpayment>
    </form>
    <form nz-form [formGroup]="extraAssetFormGroup" [hidden]="!isAssetAccount">
      <hih-finance-account-extra-asset formControlName="extAssetControl" [arAssetCategories]="arAssetCategories">        
      </hih-finance-account-extra-asset>
    </form>
    <form nz-form [formGroup]="extraLoanFormGroup" [hidden]="!isLoanAccount">
      <hih-finance-account-extra-loan formControlName="extLoanControl"
        [tranAmount]="tranAmount"
        [controlCenterID]="controlCenterID"
        [orderID]="orderID"
        [arUIAccount]="arUIAccount">
      </hih-finance-account-extra-loan>
    </form>
  </div>
</nz-spin>
