<mat-horizontal-stepper linear (selectionChange)="onStepSelectionChange($event)" #stepper>
  <!-- Step: Filter -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{'Common.SearchCriteria' | translate}}</ng-template>

      <div class="achih-control-full-width" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
        fxLayoutAlign="space-between center">
        <!-- Start date -->
        <mat-form-field fxFlex="44">
          <input matInput formControlName="startDateControl" [matDatepicker]="advstartdpicker"
            placeholder="{{'Common.StartDate' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="advstartdpicker"></mat-datepicker-toggle>
          <mat-datepicker #advstartdpicker></mat-datepicker>
        </mat-form-field>

        <!-- End date -->
        <mat-form-field fxFlex="44">
          <input matInput formControlName="endDateControl" [matDatepicker]="advenddpicker"
            placeholder="{{'Common.EndDate' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="advenddpicker"></mat-datepicker-toggle>
          <mat-datepicker #advenddpicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Repeat frequency -->
      <mat-form-field>
        <mat-select placeholder="{{'Common.RepeatFrequency' | translate}}" formControlName="frqControl" name="rpttype">
          <mat-option *ngFor="let rt of arFrequencies" [value]="rt.value">
            {{rt.i18nterm | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tran. type  -->
      <div class="achih-control-full-width" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
        fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="44">
          <mat-select placeholder="{{'Finance.TransactionType' | translate}}" formControlName="tranTypeControl">
            <mat-option *ngFor="let tt of arTranType" [value]="tt.Id">
              <span [class.incomingtrantype]="!tt.Expense"
                [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="44">
          <mat-slide-toggle color="primary" formControlName="incstControl">
            {{'Finance.IncludeChildTranType' | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="achih-control-full-width" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
        fxLayoutAlign="space-between center">
        <!-- CC -->
        <mat-form-field fxFlex="44">
          <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl" name="cc">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let cc of arControlCenter" [value]="cc.Id">
              {{cc.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Order -->
        <mat-form-field fxFlex="44">
          <mat-select placeholder="{{'Finance.Activity' | translate}}" formControlName="orderControl" name="ord">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let ord of arUIOrder" [value]="ord.Id">
              {{ord.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-error *ngIf="secondFormGroup && secondFormGroup.hasError('invalidfilter')">
        <div class="mat-h3">{{'Common.InvalidFilter' | translate}}</div>
      </mat-error>

      <div>
        <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- Step: Existing documents -->
  <mat-step>
    <form>
      <ng-template matStepLabel>{{'Finance.ExistingDocuments' | translate}}</ng-template>

      <table mat-table [dataSource]="dataSourceExisting" multiTemplateDataRows class="mat-elevation-z8">

        <!-- From Column -->
        <ng-container matColumnDef="dateFrom">
          <th mat-header-cell *matHeaderCellDef> {{'Common.StartDate' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.dateFromString}} </td>
        </ng-container>

        <!-- To Column -->
        <ng-container matColumnDef="dateTo">
          <th mat-header-cell *matHeaderCellDef> {{'Common.EndDate' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.dateToString}} </td>
        </ng-container>

        <!-- Count Column -->
        <ng-container matColumnDef="existingDocCount">
          <th mat-header-cell *matHeaderCellDef> {{'Common.Count' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.extFinDocCount}} </td>
        </ng-container>
        
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="simulation-element-detail"
              [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div *ngIf='expandedElement'>
                <table mat-table [dataSource]="expandedElement.extFinDoc">
                  <!-- Amount Column -->
                  <ng-container matColumnDef="ExpandedContentAmount">
                    <th mat-header-cell *matHeaderCellDef> {{'Finance.Amount' | translate}} </th>
                    <td mat-cell *matCellDef="let expandedetail"> {{expandedetail.TranAmount}}
                      ({{expandedetail.TranCurr}}) </td>
                  </ng-container>

                  <!-- Date Column -->
                  <ng-container matColumnDef="ExpandedContentDate">
                    <th mat-header-cell *matHeaderCellDef> {{'Common.Date' | translate}} </th>
                    <td mat-cell *cdkCellDef="let expandedetail"> {{expandedetail.TranDateFormatString}} </td>
                  </ng-container>

                  <!-- Desp Column -->
                  <ng-container matColumnDef="ExpandedContentDesp">
                    <th mat-header-cell *matHeaderCellDef> {{'Common.Description' | translate}} </th>
                    <td mat-cell *matCellDef="let expandedetail"> {{expandedetail.Desp}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedDetailColumns"></tr>
                  <tr mat-row *matRowDef="let expandedrow; columns: displayedDetailColumns;"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="simulation-element-row"
          [class.simulation-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="simulation-detail-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

      <div>
        <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
        <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- Step: Default value -->
  <mat-step>
    <ng-template matStepLabel>{{'Common.DefaultValues' | translate}}</ng-template>

    <form [formGroup]="defaultValueFormGroup">
      <mat-form-field>
        <mat-select placeholder="{{'Finance.Account' | translate}}" formControlName="accountControl">
          <mat-option *ngFor="let acnt of arUIAccount" [value]="acnt.Id">
            <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">
              {{acnt.Name}} ({{acnt.CategoryName | translate}})
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Finance.TransactionType' | translate}}" formControlName="tranTypeControl">
          <mat-option *ngFor="let tt of arTranType" [value]="tt.Id">
            <span [class.incomingtrantype]="!tt.Expense"
              [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}"
          formControlName="amountControl">
        <span matSuffix>{{localCurrency}}</span>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="{{'Common.Description' | translate}}"
          formControlName="despControl">
      </mat-form-field>

      <div class="achih-control-full-width" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center">
        <!-- CC -->
        <mat-form-field fxFlex="44">
          <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" formControlName="ccControl" name="srccc">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let cc of arControlCenter" [value]="cc.Id">
              {{cc.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <!-- Order -->
        <mat-form-field fxFlex="44">
          <mat-select placeholder="{{'Finance.Activity' | translate}}" formControlName="orderControl" name="srcord">
            <mat-option>{{'Common.ResetCurrentSelection' | translate}}</mat-option>
            <mat-option *ngFor="let ord of arUIOrder" [value]="ord.Id">
              {{ord.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div>
        <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
        <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- Step: Document Generation -->
  <mat-step [stepControl]="targetFormGroup">
    <ng-template matStepLabel>{{'Finance.NormalDocMassCreate' | translate}}</ng-template>

    <div class="achih-dataloading-shade" *ngIf="isDocGenerating">
      <mat-spinner></mat-spinner>
    </div>

    <form [formGroup]="targetFormGroup" *ngIf="!isDocGenerating" style="padding: 1em;">
      <mat-toolbar color="accent">
        <button mat-button (click)="addItem()">{{'Common.Create' | translate}}</button>
      </mat-toolbar>

      <!-- items -->
      <div formArrayName="items">
        <div *ngFor="let item of targetFormGroup?.get('items')['controls']; let i=index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Finance.Document' | translate}} {{i + 1}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div [formGroupName]="i">
              <hih-document-normal-mass-create-item [group]="targetFormGroup?.get('items')['controls'][i]"
                [arUIAccount]="arUIAccount" [arUIOrder]="arUIOrder" [arControlCenter]="arControlCenter"
                [arTranType]="arTranType" [localCurrency]="localCurrency">
              </hih-document-normal-mass-create-item>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="removeItem(i)">{{'Common.Remove' | translate}}</button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </div>
    </form>

    <div>
      <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
      <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{'Common.Confirm' | translate}}</ng-template>
    <div class="mat-typography achih-control-full-width">
      <h3>{{'Common.Count' | translate}}: {{confirmInfo?.docCount}}</h3>
    </div>

    <div>
      <button mat-button matStepperPrevious>{{'Common.PreviousButton' | translate}}</button>
      <button mat-button (click)="onReset()">{{'Common.Reset' | translate}}</button>
      <button mat-button (click)="onGenerateDocs()">{{'Common.OK' | translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
