.firststep-radio-group {
  display: inline-flex;
  flex-direction: column;
}
  
.firststep-radio-button {
  margin: 5px;
}

table {
  width: 100%;
}

tr.simulation-detail-row {
  height: 0;
}

tr.simulation-element-row:not(.simulation-expanded-row):hover {
  background: #777;
}

tr.simulation-element-row:not(.simulation-expanded-row):active {
  background: #efefef;
}

.simulation-element-row td {
  border-bottom-width: 0;
}

.simulation-element-detail {
  overflow: hidden;
  display: flex;
}

.simulation-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.mat-column-dateFromString {
  width: 120px;
}

.mat-column-dateToString {
  width: 120px;
}

.mat-column-extFinDocCount {
  width: 120px;
}

.mat-column-ExpandedContentAmount {
  width: 200px;
}

.mat-column-ExpandedContentDate {
  width: 120px;
}

.mat-column-ExpandedContentDesp {
  width: 200px;
}
