<mat-card>
  <mat-card-header>
    <div></div>
    <mat-card-title>{{'Learning.EnglishSentence' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>
      <button mat-icon-button (click)="onCreateEnSentence()" matTooltip="{{'Common.Create' | translate}}"><mat-icon color="primary">add</mat-icon></button>
      <button mat-icon-button (click)="onRefresh()" matTooltip="{{'Common.Refresh' | translate}}"><mat-icon color="accent">refresh</mat-icon></button>
    </mat-toolbar>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onChangeEnSentence(row)" matTooltip="{{'Common.Edit' | translate}}"><mat-icon color="accent" class="mt-3">edit</mat-icon></button>
            <button mat-icon-button (click)="onDeleteEnSentence(row)" matTooltip="{{'Common.Delete' | translate}}"><mat-icon color="warn" class="mt-3">delete</mat-icon></button>
            <a class="mt-1" routerLink='/learn/ensent/display/{{row.Id}}' routerLinkActive="active" *ngIf="row.Id">{{row.Id}}</a>
          </mat-cell>
        </ng-container>

        <!-- Sentence Column -->
        <ng-container matColumnDef="sent">
          <mat-header-cell *matHeaderCellDef>{{'Learning.EnglishSentence' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.Sentence }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="_storageService.EnSentences.length" [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
