.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  max-height: 500px;
}

.mat-column-currency {
  min-width: 100px;
  max-width: 120px;
}

.mat-column-name {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-symbol {
  min-width: 50px;
  max-width: 100px;
}
