<md-card>
  <md-card-header>
    <md-card-title>{{PageTitle | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <md-expansion-panel-header>
        <md-panel-title>
          {{'Common.GenericInfo' | translate}}
        </md-panel-title>
        <md-panel-description>
          {{'Common.GenericInfo' | translate}}
          <md-icon>account_circle</md-icon>
        </md-panel-description>
      </md-expansion-panel-header>

      <!-- Currency -->
      <md-select class="demo-full-width" placeholder="{{'Finance.Currency' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr"
        name="cur">
        <md-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
          {{cr.Symbol}} - {{cr.Name | translate}}
        </md-option>
      </md-select>

      <!-- Tran date -->
      <md-form-field class="demo-full-width">
        <input mdInput [(ngModel)]="detailObject.TranDate" [mdDatepicker]="srcdpicker" placeholder="{{'Common.Date' | translate}}">
        <md-datepicker-toggle mdSuffix [for]="srcdpicker"></md-datepicker-toggle>
        <md-datepicker #srcdpicker></md-datepicker>
      </md-form-field>

      <!-- Tran type -->
      <md-select placeholder="{{'Finance.TransactionType' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceTranType"
        name="srctt">
        <md-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
          {{tt.Name}}
        </md-option>
      </md-select>

      <!-- Account -->
      <md-select class="demo-full-width" placeholder="{{'Finance.Account' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceAccountId"
        name="srcacnt">
        <md-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
          {{acnt.Name}}
        </md-option>
      </md-select>

      <!-- Amount -->
      <md-form-field class="demo-full-width">
        <input mdInput type="number" required placeholder="{{'Finance.Amount' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.TranAmount"
          name="srcamt">
      </md-form-field>

      <!-- Desp -->
      <md-form-field class="demo-full-width">
        <input mdInput type="text" placeholder="{{'Common.Description' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp"
          name="desp">
      </md-form-field>

      <!-- CC -->
      <md-select placeholder="{{'Finance.ControlCenter' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceControlCenterId"
        name="hdrcc" class="demo-full-width">
        <md-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
          {{tt.Name}}
        </md-option>
      </md-select>

      <!-- Order -->
      <md-select placeholder="{{'Finance.Order' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceOrderId"
        name="hdrord" class="demo-full-width">
        <md-option *ngFor="let tt of _storageService.Orders" [value]="tt.Id">
          {{tt.Name}}
        </md-option>
      </md-select>

      <md-action-row>
        <button md-button color="primary" (click)="nextStep()">{{'Common.NextButton' | translate}}</button>
      </md-action-row>
    </md-expansion-panel>

  </md-card-content>
</md-card>
