<div>
  <nz-calendar [(ngModel)]="selectedDate" (nzSelectChange)="onSelectChange($event)" (nzPanelChange)="onPanelChange($event)" [nzFullscreen]="false">
    <ul *nzDateCell="let date" class="events">
      <li *ngFor="let item of getDPDocsByDate(date)">
        <div>
          <button nz-button nzType="primary" nzShape="circle" (click)="doPostDPDoc(item)"><i nz-icon nzType="export"></i></button>
          <span>{{item.Desp}}</span>
        </div>
      </li>
      <li *ngFor="let item of getLoanDocsByDate(date)">
        <div>
          <button nz-button nzType="primary" nzShape="circle" (click)="doPostLoanDoc(item)"><i nz-icon nzType="export"></i></button>
          <span>{{item.Desp}}</span>
        </div>
      </li>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }}</section>
      </div>
    </ng-container>
  </nz-calendar>
</div>
