<div *ngIf="isChildMode">
  <article nz-typography>
    <h1 nz-typography>{{'Common.ChildMode' | transloco}}</h1>
    <p nz-typography>{{'Common.ChildModeDetail' | transloco}}</p>
  </article>
</div>

<div *ngIf="!isChildMode">
  <nz-calendar [(ngModel)]="selectedDate" (nzSelectChange)="onSelectChange($event)" (nzPanelChange)="onPanelChange($event)">
    <ul *nzDateCell="let date" class="events">
      <li *ngFor="let item of getDPDocsByDate(date)">
        <div>
          <button nz-button nz-popconfirm [nzPopconfirmTitle]="'Common.OperationConfirmationContent' | transloco"
            (nzOnConfirm)="doPostDPDoc(item)"
            nzShape="circle"><i nz-icon nzType="export"></i></button>
          <span>{{item.Desp}}</span>
        </div>
      </li>
      <li *ngFor="let item of getLoanDocsByDate(date)">
        <div>
          <button nz-button nz-popconfirm [nzPopconfirmTitle]="'Common.OperationConfirmationContent' | transloco"
            (nzOnConfirm)="doPostLoanDoc(item)"><i nz-icon nzType="export"></i></button>
          <span>{{item.Desp}}</span>
        </div>
      </li>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }}</section>
      </div>
    </ng-container>
  </nz-calendar>
</div>
