<md-card>
  <md-card-header>
    <md-card-title>{{'Finance.CurrencyExchange' | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-horizontal-stepper linear="false">
      <md-step>
          <ng-template mdStepLabel>{{'Finance.Header' | translate}}</ng-template>

          <!-- Tran date -->
          <md-form-field>
            <input mdInput [(ngModel)]="detailObject.TranDate" [mdDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
            <md-datepicker-toggle mdSuffix [for]="tdpicker"></md-datepicker-toggle>
            <md-datepicker #tdpicker></md-datepicker>
          </md-form-field>

          <!-- Desp -->
          <md-form-field class="demo-full-width">
            <input mdInput type="text" placeholder="{{'Common.Description' | translate}}" 
              [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp"
              name="hdrdesp">
          </md-form-field>

          <div>
            <button md-button mdStepperNext>{{'Common.NextButton' | translate}}</button>
          </div>
      </md-step>

      <md-step>
        <ng-template mdStepLabel>{{'Finance.TransferFrom' | translate}}</ng-template>

        <md-select placeholder="{{'Finance.Account' | translate}}" class="demo-full-width"
          [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceAccountId"
          name="srcacnt">
          <md-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
            {{acnt.Name}}
          </md-option>
        </md-select>

        <md-select class="demo-full-width" placeholder="{{'Finance.Currency' | translate}}"
          [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceTranCurr"
          name="srccur">
          <md-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
            {{cr.Symbol}} - {{cr.Name | translate}}
          </md-option>
        </md-select>

        <md-form-field class="demo-full-width" *ngIf="isForeignSourceCurrency">
          <input mdInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.SourceExchangeRate" name="hexrate">
        </md-form-field>

        <md-form-field>
          <input mdInput type="number" required placeholder="{{'Finance.Amount' | translate}}"
            [readonly]="!isFieldChangable" [(ngModel)]="detailObject.SourceTranAmount"
            name="srcamt">
        </md-form-field>

        <md-select placeholder="{{'Finance.ControlCenter' | translate}}" class="demo-full-width" [disabled]="!isFieldChangable" 
          [(ngModel)]="detailObject.SourceControlCenterId" name="srccc">
          <md-option *ngFor="let cc of _storageService.ControlCenters" [value]="cc.Id">
            {{cc.Name}}
          </md-option>
        </md-select>

        <md-select placeholder="{{'Finance.Order' | translate}}" class="demo-full-width" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceOrderId"
          name="srcord">
          <md-option *ngFor="let ord of _storageService.Orders" [value]="ord.Id">
            {{ord.Name}}
          </md-option>
        </md-select>

        <div>
          <button md-button mdStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button md-button mdStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </md-step>

      <md-step>
        <ng-template mdStepLabel>{{'Finance.TransferTo' | translate}}</ng-template>
        <md-select placeholder="{{'Finance.Account' | translate}}" class="demo-full-width" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetAccountId"
          name="tgtacnt">
          <md-option *ngFor="let acnt of _storageService.Accounts" [value]="acnt.Id">
            {{acnt.Name}}
          </md-option>
        </md-select>

        <md-select class="demo-full-width" placeholder="{{'Finance.Currency' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetTranCurr"
          name="tgtcur">
          <md-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
            {{cr.Symbol}} - {{cr.Name | translate}}
          </md-option>
        </md-select>

        <md-form-field class="demo-full-width" *ngIf="isForeignTargetCurrency">
          <input mdInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.TargetExchangeRate" name="hexrate">
        </md-form-field>

        <md-form-field>
          <input mdInput type="number" required placeholder="{{'Finance.Amount' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.TargetTranAmount"
            name="tgtamt">
        </md-form-field>

        <md-select placeholder="{{'Finance.ControlCenter' | translate}}" class="demo-full-width" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetControlCenterId"
          name="tgtcc">
          <md-option *ngFor="let cc of _storageService.ControlCenters" [value]="cc.Id">
            {{cc.Name}}
          </md-option>
        </md-select>

        <md-select placeholder="{{'Finance.Order' | translate}}" class="demo-full-width" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetOrderId"
          name="tgtord">
          <md-option *ngFor="let ord of _storageService.Orders" [value]="ord.Id">
            {{ord.Name}}
          </md-option>
        </md-select>
        <div>
          <button md-button mdStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button md-button mdStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </md-step>

      <md-step>
        <ng-template mdStepLabel>Previous Documents</ng-template>
        <table>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Date</th>
            <th>Desp</th>
            <th>Currency</th>
            <th>Exg rate</th>
            <th>Exg rate plan</th>
            <th>Currency2</th>
            <th>Exg rate2</th>
            <th>Exg rate plan2</th>
          </tr>
        
          <tr *ngFor="let doc of detailObject.prvdocs">
            <td><md-checkbox [(ngModel)]="doc.Selected"></md-checkbox></td>
            <td>{{doc.DocID}}</td>
            <td>{{doc.DocType}}</td>
            <td>{{doc.TranDateDisplayString}}</td>
            <td>{{doc.Desp}}</td>
            <td>{{doc.TranCurr}}</td>
            <td>{{doc.ExgRate}}</td>
            <td><md-checkbox disabled [(ngModel)]="doc.ExgRate_Plan"></md-checkbox></td>
            <td>{{doc.TranCurr2}}</td>
            <td>{{doc.ExgRate2}}</td>
            <td><md-checkbox disabled [(ngModel)]="doc.ExgRate_Plan2"></md-checkbox></td>
          </tr>
        </table>
        <div>
          <button md-button (click)="onFetchPreviousDoc()">{{'Common.Refresh' | translate}}</button>
          <button md-button mdStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button md-button mdStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </md-step>
      
      <md-step>
        <ng-template mdStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button md-button mdStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button md-button color="primary" *ngIf="isFieldChangable" [disabled]="!canSubmit()" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
          <button md-button (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
        </div>
      </md-step>
    </md-horizontal-stepper>
  </md-card-content>
</md-card>
