<div class="table-container mat-elevation-z8">
  <mat-table #tableByAccount [dataSource]="dataSource">
    <!-- DocID column -->
    <ng-container matColumnDef="DocID">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink='/finance/document/displaynormal/{{row.DocId}}' routerLinkActive="active">{{row.DocId}}</a>
      </mat-cell>
    </ng-container>

    <!-- TranType -->
    <ng-container matColumnDef="TranType">
      <mat-header-cell *matHeaderCellDef>{{'Finance.TransactionType' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-select disabled [(ngModel)]="row.TranType" name="ittt">
            <mat-option *ngFor="let tt of _storageService.TranTypes" [value]="tt.Id">
              <span [class.incomingtrantype]="!tt.Expense" [class.outgoingtrantype]="tt.Expense">{{tt.FullDisplayText}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- TranDate Column -->
    <ng-container matColumnDef="TranDate">
      <mat-header-cell *matHeaderCellDef>{{'Common.Date' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.TranDateFormatString }}
      </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="TranAmount">
      <mat-header-cell *matHeaderCellDef>{{'Finance.Amount' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.TranAmount_LC?.toFixed(2) }}
      </mat-cell>
    </ng-container>

    <!-- Desp Column -->
    <ng-container matColumnDef="Desp">
      <mat-header-cell *matHeaderCellDef>{{'Common.Description' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.Desp }}
      </mat-cell>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="Balance">
      <mat-header-cell *matHeaderCellDef>{{'Finance.Balance' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.Balance?.toFixed(2) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageIndex]="0" [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
  </mat-paginator>
</div>
