<nz-table
  #innerTable
  nzShowSizeChanger
  [nzData]="listDocItem"
  [nzFrontPagination]="false"
  [nzLoading]="isLoadingDocItems"
  [nzTotal]="totalDocumentItemCount"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzFooter]="footerTpl"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th nzColumnKey="docid">{{ 'Common.ID' | transloco }}</th>
      <th nzColumnKey="itemid">{{ 'Finance.Items' | transloco }}</th>
      <th nzColumnKey="desp" [nzSortFn]="true">
        {{ 'Common.Description' | transloco }}
      </th>
      <th nzColumnKey="date" [nzSortFn]="true">
        {{ 'Common.Date' | transloco }}
      </th>
      <th nzColumnKey="trantype">
        {{ 'Finance.TransactionType' | transloco }}
      </th>
      <th nzColumnKey="account" [nzSortFn]="true">
        {{ 'Finance.Account' | transloco }}
      </th>
      <th nzColumnKey="amount" [nzSortFn]="true">
        {{ 'Finance.Amount' | transloco }}
      </th>
      <th nzColumnKey="controlcenter" [nzSortFn]="true">
        {{ 'Finance.ControlCenter' | transloco }}
      </th>
      <th nzColumnKey="order" [nzSortFn]="true">
        {{ 'Finance.Activity' | transloco }}
      </th>
    </tr>
  </thead>
  <tbody>
    @for(data of innerTable.data; track $index) {
      <tr>
        <td>
          <button nz-button nzType="link" (click)="onDisplayDocument(data.DocumentID!)">
            {{ data.DocumentID }}
          </button>
        </td>
        <td>{{ data.ItemID }}</td>
        <td>{{ data.ItemDesp }}</td>
        <td>{{ data.TransactionDate }}</td>
        <td>
          {{ getTranTypeName(data.TransactionType!) }}<small>({{ data.TransactionType }})</small>
        </td>
        <td>
          {{ getAccountName(data.AccountID!) }}
          <small>({{ data.AccountID }})</small>
        </td>
        <td>
          {{ data.Amount | number : '1.2-2' }} <small>{{ data.Currency }}</small>
        </td>
        <td>
          {{ getControlCenterName(data.ControlCenterID!) }}<small>({{ data.ControlCenterID }})</small>
        </td>
        <td>
          {{ getOrderName(data.OrderID!) }} <small>({{ data.OrderID }})</small>
        </td>
      </tr>  
    }
  </tbody>
</nz-table>
<ng-template #footerTpl let-control>
  <div nz-row>
    <div nz-col nzFlex="3">
      {{ 'Finance.In' | transloco }}: {{ incomeAmount | number : '1.2-2' }} ({{ incomeCurrency }})
    </div>
    <div nz-col nzFlex="3">
      {{ 'Finance.Out' | transloco }}: {{ outgoAmount | number : '1.2-2' }} ({{ outgoCurrency }})
    </div>
  </div>
</ng-template>
