/* You can add global styles to this file, and also import other style files */
//@import url('~@angular/material/core/theming/prebuilt/deeppurple-amber.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  position: relative;
  min-height: 100%;
  margin: 10;
  font-family: Roboto, sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;

  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
    font-weight: 400;
}
