/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import './app-theme';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include achih-app-theme($theme);

// Default styles for app-wide
// Data loading
.achih-dataloading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Generic
.achih-control-full-width {
  width: 100%;
}

// Card
mat-card {
  padding: 2em;
}

// Form field
mat-form-field {
  width: 100%;
}

// Table
mat-table {
  overflow: auto;
  min-height: 500px;
  height: 500px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
} 

// Toolbar
.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}

// Finance
.assetaccount {
  color: green;
}

.expenseaccount {
  color: red;
}

.outgoingtrantype {
  color: red;
}

.incomingtrantype {
  color: green;
}
