<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Finance.TransferDocument' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear="false">
      <mat-step>
        <ng-template matStepLabel>{{'Finance.Header' | translate}}</ng-template>
        
        <!-- Tran date -->
        <mat-form-field class="demo-full-width">
          <input matInput [(ngModel)]="detailObject.TranDate" [matDatepicker]="tdpicker" placeholder="{{'Common.Date' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
          <mat-datepicker #tdpicker></mat-datepicker>
        </mat-form-field>

        <!-- Desp -->
        <mat-form-field class="demo-full-width">
          <input matInput type="text" placeholder="{{'Common.Description' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Desp"
            name="desp">
        </mat-form-field>

        <!-- Currency -->
        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Currency' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TranCurr"
            name="cur">
            <mat-option *ngFor="let cr of _currService.Currencies" [value]="cr.Currency">
              {{cr.Symbol}} - {{cr.Name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Exchange rate -->
        <mat-form-field class="demo-full-width" *ngIf="isForeignCurrency">
          <input matInput type="text" placeholder="{{'Finance.ExchangeRate' |translate}}" matTooltip="{{'Finance.ExchangeRateHint' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.ExgRate" name="hexrate">
        </mat-form-field>

        <!-- Planned Exchange rate -->
        <div *ngIf="isForeignCurrency" class="demo-full-width">
          <mat-checkbox [(ngModel)]="detailObject.ExgRate_Plan" color="accent" [disabled]="!isFieldChangable">{{'Finance.ProposedExchangeRate' | translate}}</mat-checkbox>
        </div>        

        <mat-form-field class="demo-full-width">
          <input matInput type="number" required placeholder="{{'Finance.Amount' | translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.TranAmount"
            name="hdramt">
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'Finance.TransferFrom' | translate}}</ng-template>
        
        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Account' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceAccountId"
            name="srcacnt">
            <mat-option *ngFor="let acnt of arUIAccount" [value]="acnt.Id">
              <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}} ({{acnt.CategoryName | translate}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceControlCenterId"
            name="srccc">
            <mat-option *ngFor="let cc of _storageService.ControlCenters" [value]="cc.Id">
              {{cc.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Order' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.SourceOrderId"
            name="srcord">
            <mat-option *ngFor="let ord of _storageService.Orders" [value]="ord.Id">
              {{ord.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'Finance.TransferTo' | translate}}</ng-template>
        
        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Account' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetAccountId"
            name="tgtacnt">
            <mat-option *ngFor="let acnt of arUIAccount" [value]="acnt.Id">
              <span [class.assetaccount]="acnt.AssetFlag" [class.expenseaccount]="!acnt.AssetFlag">{{acnt.Name}} ({{acnt.CategoryName | translate}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.ControlCenter' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetControlCenterId"
            name="tgtcc">
            <mat-option *ngFor="let tt of _storageService.ControlCenters" [value]="tt.Id">
              {{tt.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="{{'Finance.Order' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.TargetOrderId"
            name="tgtord">
            <mat-option *ngFor="let tt of arUIOrder" [value]="tt.Id">
              {{tt.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button matStepperNext>{{'Common.NextButton' | translate}}</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'Common.ReviewForSubmit' | translate}}</ng-template>
        <p>
          {{detailObject.SourceAccountId}} ... {{detailObject.TargetAccountId}}
        </p>
        <div>
          <button mat-button matStepperPrevious>{{'Common.BackButton' | translate}}</button>
          <button mat-button color="primary" *ngIf="isFieldChangable" [disabled]="!canSubmit()" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
          <button mat-button (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
