.mat-table {
  max-height: 800px;
}

.mat-column-DocID {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranType {
  min-width: 150px;
  max-width: 200px;
}

.mat-column-TranDate {
  min-width: 100px;
  max-width: 150px;
}

.mat-column-TranAmount {
  min-width: 100px;
  max-width: 150px;
}
