<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">H.I.H.</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-picture-o fa-fw"></i>&nbsp;Learn<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/learn']" routerLinkActive="active">Learn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/album/create']" routerLinkActive="active">Create an album</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-photo fa-fw"></i>&nbsp;Finance<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/finance/setting']" routerLinkActive="active">Setting</a>
                            <a class="dropdown-item" [routerLink]="['/finance/currency']" routerLinkActive="active">Currency</a>
                            <a class="dropdown-item" [routerLink]="['/finance/doctype']" routerLinkActive="active">Document Type</a>
                            <a class="dropdown-item" [routerLink]="['/finance/accountctgy']" routerLinkActive="active">Account Category</a>
                            <a class="dropdown-item" [routerLink]="['/finance/trantypelist']" routerLinkActive="active">Tran Type List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/finance/account']" routerLinkActive="active">Account List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/finance/documentlist']" routerLinkActive="active">Document List</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;About<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/about']" routerLinkActive="active">About</a>
                            <a class="dropdown-item" [routerLink]="['/credits']" routerLinkActive="active">Credits</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Websites</h6>
                            <a class="dropdown-item" href="http://www.alvachien.com/alvablog/" target="_blank"><i class="fa fa-home fa-fw"></i>&nbsp;Personal Website</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Social Network</h6>
                            <a class="dropdown-item" href="https://github.com/alvachien" target="_blank"><i class="fa fa-github fa-fw"></i>&nbsp;Github</a>
                            <a class="dropdown-item" href="https://www.flickr.com/photos/alvachien" target="_blank"><i class="fa fa-flickr fa-fw"></i>&nbsp;Flickr</a>
                            <a class="dropdown-item" href="https://www.facebook.com/alva.chien" target="_blank"><i class="fa fa-facebook fa-fw"></i>&nbsp;Facebook</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-xs-right pull-sm-right pull-md-right pull-lg-right">
                    <li class="nav-item">
                        <a class="nav-link" (click)="onLogin()">{{titleLogin}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="m-t-1" style="padding-top: 70px; padding-bottom: 70px;">
    <div id="alertifyjs">
    </div>
    <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <div class="container">
        <span class="text-muted">Written by Alva Chien, 2016</span>
    </div>
</nav>
