<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Learning.LearningObject' | translate}}</mat-card-title>
    <mat-card-subtitle>{{currentMode | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="demo-full-width">
      <input matInput type="text" placeholder="{{'Common.Name' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Name"
        name="name" #objname maxlength="45">
      <mat-hint align="end">{{objname.value.length}} / 45</mat-hint>
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <mat-select placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.CategoryId"
        name="ctgy">
        <mat-option *ngFor="let ctgy of _storageService.Categories" [value]="ctgy.Id">
          ({{ctgy.Id}}) {{ctgy.FullDisplayText}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="demo-full-width">
      <textarea id="{{elementId}}" [readonly]="!isFieldChangable" name="content"></textarea>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button mat-button color="warn" (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
  </mat-card-actions>
</mat-card>
