<md-card>
  <md-card-header>
    <md-card-title>{{'Learning.LearningObject' | translate}}</md-card-title>
    <md-card-subtitle>{{currentMode | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-form-field class="demo-full-width">
      <input mdInput type="text" placeholder="{{'Common.Name' |translate}}" [readonly]="!isFieldChangable" [(ngModel)]="detailObject.Name"
        name="name">
    </md-form-field>

    <md-select class="demo-full-width" placeholder="{{'Common.Category' | translate}}" [disabled]="!isFieldChangable" [(ngModel)]="detailObject.CategoryId"
      name="ctgy">
      <md-option *ngFor="let ctgy of _storageService.Categories" [value]="ctgy.Id">
        {{ctgy.Name}}
      </md-option>
    </md-select>
  
    <div class="demo-full-width">
      <textarea id="{{elementId}}" [readonly]="!isFieldChangable" name="content"></textarea>
    </div>

  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" *ngIf="isFieldChangable" (click)="onSubmit()">{{'Common.Submit' | translate}}</button>
    <button md-button color="warn" (click)="onCancel()">{{'Common.Cancel' | translate}}</button>
  </md-card-actions>
</md-card>
