<nz-page-header nzBackIcon>
  <nz-page-header-title>{{'Learning.LearningCategory' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.ListView' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <!-- <button nz-button nzType="primary" (click)="onCreate()">{{'Common.Create' | transloco}}</button> -->
  </nz-page-header-extra>
</nz-page-header>

<nz-spin [nzSpinning]="isLoadingResults" [nzSize]="'large'">
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>{{'Common.ID' | transloco}}</th>
        <th>{{'Common.Name' | transloco}}</th>
        <th>{{'Common.Comment' | transloco}}</th>
        <th>{{'Common.Description' | transloco}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.Id}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Comment}}</td>
        <td>{{data.FullDisplayText}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
