<div [formGroup]="itemFormGroup!" class="document-item-section">
  <div nz-row [nzGutter]="2" class="document-item-section-row">
    <div nz-col [nzSpan]="24">
      <!-- Desp -->
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>{{ 'Common.Description' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="despTpl">
          <input nz-input formControlName="despControl" />
          <ng-template #despTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="2" class="document-item-section-row">
    <div nz-col [nzSpan]="8">
      <!-- Date -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>{{ 'Common.Date' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="trandateErrorTpl" style="text-align: left">
          <nz-date-picker formControlName="dateControl"></nz-date-picker>
          <ng-template #trandateErrorTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <!-- Account -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>{{ 'Finance.Account' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="accountTpl">
          <nz-select formControlName="accountControl">
            <nz-option *ngFor="let acnt of arUIAccounts" [nzValue]="acnt.Id" [nzLabel]="acnt.Name"></nz-option>
          </nz-select>
          <ng-template #accountTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <!-- Tran. type -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>{{ 'Finance.TransactionType' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="trantypeTpl">
          <nz-select formControlName="tranTypeControl">
            <nz-option *ngFor="let tt of arTranType" [nzValue]="tt.Id" [nzLabel]="tt.FullDisplayText"></nz-option>
          </nz-select>
          <ng-template #trantypeTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>  
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="2" class="document-item-section-row">
    <div nz-col [nzSpan]="8">
      <!-- Amount -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>{{ 'Finance.Amount' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="amountTpl">
          <nz-input-group nzAddOnBefore="{{ baseCurrency }}">
            <nz-input-number [nzMin]="0.01" [nzStep]="0.01" formControlName="amountControl"> </nz-input-number>
          </nz-input-group>
          <ng-template #amountTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                {{ 'Common.FieldIsMandatory' | transloco }}
              </ng-container>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <!-- Control Center -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8">{{ 'Finance.ControlCenter' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select formControlName="ccControl" nzAllowClear>
            <nz-option *ngFor="let tt of arControlCenters" [nzValue]="tt.Id" [nzLabel]="tt.Name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <!-- Order -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8">{{ 'Finance.Activity' | transloco }}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select formControlName="orderControl" nzAllowClear>
            <nz-option *ngFor="let tt of arUIOrders" [nzValue]="tt.Id" [nzLabel]="tt.Name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</div>
