<div class="grid-container">
  <h1 class="mat-h1">{{'Common.Dashboard' | translate}}</h1>
  <mat-grid-list cols="2" rowHeight="400px">

    <!-- Dashboard 1: Key figure -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Common.KeyFigure' | translate}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>More</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <section class="mat-typography">
            <p class="mat-body-1">{{'Common.TotalAssets' | translate}}:
              <span class="flex-spacer"></span>
              <span style="color:green; font-weight:800; text-align: right;">{{_homeDefService.keyFigure?.TotalAssets | currency: baseCurr}}</span>
            </p>
            <p class="mat-body-1">{{'Common.TotalLiabilities' | translate}}:
              <span class="flex-spacer"></span>
              <span style="color:red; font-weight:800;">{{_homeDefService.keyFigure?.TotalLiabilities | currency: baseCurr}}</span>
            </p>
            <p class="mat-body-2">{{'Common.TotalAssetOfMyAccounts' | translate}}:
              <span class="flex-spacer"></span>
              <span style="color:green; font-weight:800;">{{_homeDefService.keyFigure?.TotalAssetsUnderMyName | currency: baseCurr}}</span>
            </p>
            <p class="mat-body-2">{{'Common.TotalLiabilitiesOfMyAccounts' | translate}}:
              <span class="flex-spacer"></span>
              <span style="color:red; font-weight:800;">{{_homeDefService.keyFigure?.TotalLiabilitiesUnderMyName | currency: baseCurr}}</span>
            </p>
            <p class="mat-caption">{{'Common.MyUnreadMessages' | translate}}:
              <span class="flex-spacer"></span>
              <a mat-button style="color:red; font-weight:800;" (click)="onNvgToMsgList()">{{_homeDefService.keyFigure?.TotalUnreadMessage}}</a>
            </p>
            <p class="mat-caption">{{'Common.MyCompletedEvents' | translate}}: 
              <span class="flex-spacer"></span>
              <span>{{_homeDefService.keyFigure?.MyCompletedEvents}}</span>
            </p>
            <p class="mat-caption">{{'Common.MyUncompletedEvents' | translate}}:
              <span class="flex-spacer"></span>
              <a mat-button style="color:red; font-weight:800;" (click)="onNvgToEventList()">{{_homeDefService.keyFigure?.MyUnCompletedEvents}}</a>
            </p>
          </section>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 2: Finance reports -->
    <mat-grid-tile colspan="1" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Nav.FinanceTrace' | translate}}
            <mat-toolbar>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedFinanceScope" (selectionChange)="onFinanceScopeChanged()">
                  <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedTranTypeLevel" (selectionChange)="onFinanceTranTypeChartRedraw()">
                  <mat-option *ngFor="let ttl of _uistatusService.TranTypeLevelStrings" [value]='ttl.value'>{{ttl.i18nterm | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-slide-toggle color="primary" [checked]="excludeTransfer" (change)="onFinanceExcludeTransfer()">{{'Finance.ExcludeTransfer' | translate}}</mat-slide-toggle>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>More</button>
              </mat-menu>
            </mat-toolbar>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="grid-container">
            <mat-grid-list cols="1" rowHeight="500px">
              <mat-grid-tile colspan="1" rowspan="1">
                <mat-card class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>{{'Finance.Incoming' | translate}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div echarts [options]="datFinIncomingChartOption | async" [theme]="chartTheme" class="incoming-chart"></div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
  
              <mat-grid-tile colspan="1" rowspan="1">
                <mat-card class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>{{'Finance.Outgoing' | translate}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div echarts [options]="datFinOutgoingChartOption | async" [theme]="chartTheme" class="outgoing-chart"></div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 3: Learning trace -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Nav.LearningTrace' | translate}}
            <mat-form-field>
              <mat-select [(ngModel)]="selectedLearnScope" (selectionChange)="onLearnScopeChanged()">
                <mat-option *ngFor="let scp of _uistatusService.OverviewScopeStrings" [value]='scp.value'>{{scp.i18nterm | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>More</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div echarts [options]="learnChartOption | async" [theme]="chartTheme" class="outgoing-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 4: Event -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Common.Event' | translate}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>More</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div echarts [options]="eventChartOption | async" [theme]="chartTheme" class="outgoing-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
