@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  
  .achih-ui-footer-list {
    background: mat-color($primary);
    
    .achih-ui-footer-links a {
      color: mat-color($primary, default-contrast);
    }
  }
}
