<ng-container class="achih-control-full-width" *transloco="let t">
  <div class="toolbar_buttons">
    <button nz-button nzType="primary" [disabled]="!isAddItemAllowed" (click)="onCreateDocItem()">{{'Finance.CreateItem' | transloco}}</button>
  </div>

  <nz-table #basicTable nzBordered [nzData]="listItems">
    <thead>
      <tr>
        <th nz-width="50">#</th>
        <th nz-width="150">{{'Finance.Account' | transloco}}</th>
        <th nz-width="200">{{'Finance.TransactionType' | transloco}}</th>
        <th nz-width="100">{{'Finance.Amount' | transloco}}</th>
        <th nz-width="50">{{'Finance.Currency' | transloco}}</th>
        <th nz-width="250">{{'Common.Comment' | transloco}}</th>
        <th nz-width="150">{{'Finance.ControlCenter' | transloco}}</th>
        <th nz-width="150">{{'Finance.Activity' | transloco}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          {{ data.ItemId }}
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" [disabled]="!isDeleteItemAllowed" (click)="onDeleteDocItem(data)">{{'Common.Delete' | transloco}}</button>
        </td>
        <td>
          <nz-select [nzDisabled]="!isAccountIDEditable" [(ngModel)]="data.AccountId" (ngModelChange)="onChange()">
            <nz-option *ngFor="let acnt of arUIAccounts" [nzValue]='acnt.Id' [nzLabel]="acnt.Name"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select [nzDisabled]="!isTranTypeEditable" [(ngModel)]="data.TranType" (ngModelChange)="onChange()">
            <nz-option *ngFor="let tt of arTranType" [nzValue]='tt.Id' [nzLabel]="tt.FullDisplayText"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-input-number [nzMin]="0.01" [nzStep]="0.01" [(ngModel)]="data.TranAmount" 
            [nzPlaceHolder]="'Amount'" (ngModelChange)="onChange()" [nzDisabled]="!isAmountEditable">
          </nz-input-number>
        </td>
        <td>
          <div *ngIf="!data.UseCurr2">{{tranCurr}}</div>
          <div *ngIf="data.UseCurr2">{{tranCurr2}}</div>  
        </td>
        <td>
          <input nz-input [(ngModel)]="data.Desp" (ngModelChange)="onChange()" [disabled]="!isFieldChangable" />
        </td>
        <td>
          <nz-select [(ngModel)]="data.ControlCenterId" (ngModelChange)="onChange()" [nzDisabled]="!isFieldChangable">
            <nz-option *ngFor="let tt of arControlCenters" [nzValue]='tt.Id' [nzLabel]="tt.Name"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select [(ngModel)]="data.OrderId" (ngModelChange)="onChange()" [nzDisabled]="!isFieldChangable">
            <nz-option *ngFor="let tt of arUIOrders" [nzValue]='tt.Id' [nzLabel]="tt.Name"></nz-option>
          </nz-select>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
