@import '../node_modules/@angular/material/theming';

@import './styles/svg-theme';

// Styles for the docs app that are based on the current theme.
@mixin achih-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $isdark: map-get($theme, is-dark);

  hih-app {
    background: mat-color($background, background);
  }

  .achih-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .mat-row:nth-child(even) {
    @if not ($isdark) {
      background-color: mat-color($primary, 0.1);
    } @else {
      background-color: mat-color($background, card, 0.1);
    }    
  }
  
  .mat-row:nth-child(odd) {
    @if not ($isdark) {
      background-color: mat-color($primary, 0.2);
    } @else {
      background-color: mat-color($background, card, 0.2);
    }    
  }

  .mat-row:hover {
    @if not ($isdark) {
      background-color: mat-color($primary, 0.4);
    } @else {
      background-color: mat-color($background, card, 0.4);
    }    
  }
  
  @include svg-theme($theme);
}
