<div>
  <h2>{{ title | transloco }}</h2>
  <nz-table #basicTable [nzData]="infoMessages">
    <thead>
      <tr>
        <th>Type</th>
        <th>{{ 'Common.Name' | transloco }}</th>
        <th>{{ 'Common.Content' | transloco }}</th>
      </tr>
    </thead>
    <tbody>
      @for(item of basicTable.data; track $index) 
      {
        <tr>
          <td>{{ item.MsgType }}</td>
          <td>{{ item.MsgTitle | transloco }}</td>
          <td>{{ item.MsgContent | transloco }}</td>
        </tr>  
      }
    </tbody>
  </nz-table>
</div>
