<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{'Common.Overview' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{'Finance.Documents' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'Common.Create' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{'Finance.Document' | transloco}}</nz-page-header-title>
  <nz-page-header-subtitle>{{'Common.Create' | transloco}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onSave()">
      {{'Common.Save' | transloco}}
    </button>
  </nz-page-header-extra>
</nz-page-header>

<form nz-form [formGroup]="docForm">
  <hih-fin-document-header formControlName="headerControl" [docType]="curDocType" [currentUIMode]="curMode"
    [arDocTypes]="arDocTypes" [arCurrencies]="arCurrencies" [baseCurrency]="baseCurrency">
  </hih-fin-document-header>
  <hih-fin-document-items formControlName="itemControl" [currentUIMode]="curMode" [docDate]="curDocDate"
    [arCurrencies]="arCurrencies" [arUIAccounts]="arUIAccounts" [arControlCenters]="arControlCenters"
    [arTranType]="arTranType" [arUIOrders]="arUIOrders"
    [docType]="curDocType">
  </hih-fin-document-items>
</form>
